Repository OpenMined/PySyft, pull requests merged in 2019-04, with the labels that each got.

#2027 Implement SecureNN
  syft/__init__.py
  syft/frameworks/torch/crypto/securenn.py
  syft/frameworks/torch/crypto/spdz.py
  syft/frameworks/torch/hook.py
  syft/frameworks/torch/hook_args.py
  syft/frameworks/torch/overload_torch.py
  syft/frameworks/torch/tensors/interpreters/abstract.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/multi_pointer.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  syft/frameworks/torch/torch_attributes.py
  syft/serde.py
  syft/workers/base.py
  test/test_serde.py
  test/torch/crypto/__init__.py
  test/torch/crypto/test_snn.py
  test/torch/tensors/test_additive_shared.py
  test/torch/tensors/test_precision.py
  test/torch/test_hook.py
Labels: multiparty computation

#2028 Websocket worker example
  examples/tutorials/advanced/Building your own tensor type (advanced).ipynb
  examples/tutorials/advanced/Federated CIFAR10.ipynb
  examples/tutorials/advanced/Federated Word Vectors.ipynb
  examples/tutorials/advanced/websockets-example-MNIST/Federated learning with websockets and federated averaging.ipynb
  examples/tutorials/advanced/websockets-example-MNIST/README.md
  examples/tutorials/advanced/websockets-example-MNIST/run_websocket_client.py
  examples/tutorials/advanced/websockets-example-MNIST/run_websocket_server.py
  examples/tutorials/advanced/websockets-example-MNIST/start_websocket_servers.py
  syft/frameworks/torch/federated/dataloader.py
  syft/frameworks/torch/federated/dataset.py
  syft/frameworks/torch/federated/utils.py
  syft/workers/websocket_client.py
  syft/workers/websocket_server.py
  test/torch/federated/test_dataloader.py
  test/torch/federated/test_dataset.py
  test/torch/federated/test_utils.py
Labels: federated_learning

#2042 FFN secure evaluation using SPDZ and SecureNN
  examples/tutorials/Part 5 - Intro to Encrypted Programs.ipynb
  syft/frameworks/torch/crypto/securenn.py
  syft/frameworks/torch/crypto/spdz.py
  syft/frameworks/torch/hook.py
  syft/frameworks/torch/hook_args.py
  syft/frameworks/torch/overload_torch.py
  syft/frameworks/torch/tensors/interpreters/abstract.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/pointer.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  syft/frameworks/torch/tensors/interpreters/snn.py
  syft/frameworks/torch/tensors/interpreters/spdz.py
  syft/serde.py
  test/torch/crypto/test_snn.py
  test/torch/tensors/test_additive_shared.py
  test/torch/tensors/test_precision.py
Labels: work-in-progress
