Repository OpenMined/PySyft, pull requests merged in 2020-08, with the labels that each got.

#3893 RNS variant multiplication operation for FV scheme.
  syft/frameworks/torch/he/fv/evaluator.py
  syft/frameworks/torch/he/fv/util/base_converter.py
  syft/frameworks/torch/he/fv/util/operations.py
  syft/frameworks/torch/he/fv/util/rns_tool.py
  test/torch/tensors/test_fv.py
Labels: Type: Improvement :chart_with_upwards_trend:

#3909 Refactor SPDZ to use the crypto store
  syft/frameworks/torch/mpc/beaver.py
  syft/frameworks/torch/mpc/primitives.py
  syft/frameworks/torch/mpc/securenn.py
  syft/frameworks/torch/mpc/spdz.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/workers/base.py
  test/execution/test_state.py
  test/torch/mpc/test_multiparty_nn.py
  test/torch/mpc/test_securenn.py
  test/torch/tensors/test_additive_shared.py
Labels: Priority: 1 - Immediate :fire:, Severity: 3 - Medium :unamused:, Status: Review Needed :raising_hand:, Type: Improvement :chart_with_upwards_trend:

#3936 Updated pre-commit-config
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/conf.py
  requirements.txt
  scripts/pre_commit.sh
  src/syft/__init__.py
  src/syft/core/common/serde/deserialize.py
  src/syft/core/common/serde/serializable.py
  src/syft/core/common/serde/util.py
  src/syft/core/node/common/node.py
  src/syft/decorators/syft_decorator_impl.py
  tests/syft/core/common/object_test.py
  tests/syft/core/common/serializable_test.py
  tests/syft/core/common/uid_test.py
  tests/syft/decorators/typecheck_test.py
Labels: syft 0.3

#3935 Support Python <3.8 #3826
  .github/workflows/tests.yml
  requirements.txt
  setup.cfg
  src/syft/core/common/uid.py
  src/syft/core/io/address.py
  src/syft/core/io/connection.py
  src/syft/core/io/virtual.py
  src/syft/core/node/common/node.py
  src/syft/core/node/common/service/child_node_lifecycle_service.py
  src/syft/core/node/common/service/heritage_update_service.py
  src/syft/core/node/common/service/msg_forwarding_service.py
  src/syft/core/node/common/service/node_service.py
  src/syft/core/node/common/service/obj_action_service.py
  src/syft/core/node/common/service/repr_service.py
  src/syft/core/node/device/client.py
  src/syft/core/node/device/device.py
  src/syft/core/node/network/client.py
  src/syft/core/node/vm/client.py
  src/syft/core/node/vm/vm.py
  src/syft/core/store/store_disk.py
  src/syft/decorators/syft_decorator_impl.py
Labels: syft 0.3

#3856 Replicated Sharing Tensor (RST): secret sharing, reconstruction, and linear operations
  syft/__init__.py
  syft/frameworks/torch/mpc/falcon.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/replicated_shared.py
  test/torch/tensors/test_replicated_shared.py
Labels: Status: Completed :heavy_check_mark:, Status: Review Needed :raising_hand:

#3943 Refacto various little thing
  syft/generic/utils.py
  syft/serde/compression.py
  syft/workers/base.py
  syft/workers/virtual.py
  test/generic/test_autograd.py
  test/workers/test_virtual.py
Labels: Type: Code Quality :100:

#3944 Make EmptyCryptoPrimitiveStoreError serializable
  pip-dep/requirements.txt
  syft/exceptions.py
  syft/serde/msgpack/serde.py
  syft/workers/websocket_server.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
Labels: Priority: 2 - High :cold_sweat:, Severity: 2 - High :cold_sweat:, Type: New Feature :heavy_plus_sign:

#3959 Update PyGrid URLs and cleanup Model-Centric notebooks a bit
  examples/tutorials/model-centric-fl/Part 01 - Create Plan.ipynb
  examples/tutorials/model-centric-fl/Part 02 - Execute Plan.ipynb
  examples/tutorials/model-centric-fl/Part 02a - Check Model.ipynb
  examples/tutorials/model-centric-fl/Part 03 - Create Plan (Bandit Demo).ipynb
  syft/grid/clients/model_centric_fl_client.py
  syft/workers/model_centric_fl_worker.py
Labels: Type: Bug :bug:, Type: Improvement :chart_with_upwards_trend:

#3932 Remove imports in __del__
  syft/execution/action.py
  syft/execution/placeholder_id.py
  syft/execution/role.py
  syft/execution/role_assignments.py
  syft/execution/state.py
  syft/execution/type_wrapper.py
  syft/frameworks/torch/tensors/interpreters/gradients_core.py
  syft/generic/abstract/sendable.py
  syft/generic/abstract/syft_serializable.py
  syft/generic/abstract/tensor.py
  syft/generic/pointers/object_pointer.py
  syft/generic/pointers/object_wrapper.py
  syft/messaging/message.py
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/native_serde.py
  syft/serde/protobuf/serde.py
  syft/serde/protobuf/torch_serde.py
  syft/serde/serde.py
  syft/workers/abstract.py
  test/serde/serde_helpers.py
Labels: Priority: 3 - Medium :unamused:, Severity: 3 - Medium :unamused:, Type: Code Quality :100:

#3962 Update FV scheme to use context chain instead of single context object
  syft/frameworks/torch/he/fv/ciphertext.py
  syft/frameworks/torch/he/fv/context.py
  syft/frameworks/torch/he/fv/decryptor.py
  syft/frameworks/torch/he/fv/encryption_params.py
  syft/frameworks/torch/he/fv/encryptor.py
  syft/frameworks/torch/he/fv/evaluator.py
  syft/frameworks/torch/he/fv/integer_encoder.py
  syft/frameworks/torch/he/fv/key_generator.py
  syft/frameworks/torch/he/fv/util/operations.py
  syft/frameworks/torch/he/fv/util/rlwe.py
  syft/frameworks/torch/he/fv/util/rns_tool.py
  test/torch/tensors/test_fv.py
Labels: Type: Improvement :chart_with_upwards_trend:

#3983 Fix More mypy
  .pre-commit-config.yaml
  src/syft/core/node/abstract/node.py
  src/syft/core/node/common/client.py
  src/syft/core/store/store_interface.py
  src/syft/core/store/storeable_object.py
  src/syft/lib/numpy/tensor.py
  src/syft/lib/torch/uppercase_tensor.py
  tests/syft/core/node/node_test.py
Labels: syft 0.3

#3933 Make tutorials faster using FSS
  examples/tutorials/Part 09 - Intro to Encrypted Programs.ipynb
  examples/tutorials/Part 11 - Secure Deep Learning Classification.ipynb
  examples/tutorials/Part 12 bis - Encrypted Training on MNIST.ipynb
  syft/frameworks/torch/linalg/lr.py
  syft/frameworks/torch/linalg/operations.py
  syft/frameworks/torch/mpc/fss.py
  syft/frameworks/torch/mpc/primitives.py
Labels: Priority: 3 - Medium :unamused:, Severity: 3 - Medium :unamused:, Type: Improvement :chart_with_upwards_trend:

#3977 Implement Relinearization operation of BFV Scheme
  examples/experimental/FV HE Experimentation.ipynb
  syft/frameworks/torch/he/fv/evaluator.py
  syft/frameworks/torch/he/fv/key_generator.py
  syft/frameworks/torch/he/fv/relin_keys.py
  test/torch/tensors/test_fv.py
Labels: Type: New Feature :heavy_plus_sign:

#4012 Refractor bfv tests for faster results
  test/torch/tensors/test_fv.py
Labels: Priority: 4 - Low :sunglasses:

#4019 Added helpful print messages to aid in debugging
  .github/workflows/tests.yml
  proto/core/node/common/service/child_node_lifecycle_service.proto
  requirements.txt
  setup.cfg
  src/syft/core/common/message.py
  src/syft/core/common/serde/serializable.py
  src/syft/core/common/uid.py
  src/syft/core/io/address.py
  src/syft/core/io/route.py
  src/syft/core/node/abstract/node.py
  src/syft/core/node/common/client.py
  src/syft/core/node/common/node.py
  src/syft/core/node/common/service/auth.py
  src/syft/core/node/common/service/child_node_lifecycle_service.py
  src/syft/core/node/common/service/heritage_update_service.py
  src/syft/core/node/common/service/msg_forwarding_service.py
  src/syft/core/node/common/service/node_service.py
  src/syft/core/node/device/client.py
  src/syft/core/node/device/device.py
  src/syft/core/node/domain/client.py
  src/syft/core/node/domain/domain.py
  src/syft/core/node/network/client.py
  src/syft/core/node/network/network.py
  src/syft/core/node/vm/client.py
  src/syft/core/node/vm/vm.py
  src/syft/proto/core/node/common/service/child_node_lifecycle_service_pb2.py
  tests/syft/core/node/common/service/child_node_lifecycle_service_test.py
  tests/syft/core/node/domain/domain_test.py
  tests/syft/core/node/node_test.py
  tests/syft/core/store/memory_storage_test.py
  tests/syft/core/store/storable_object_test.py
  tests/syft/grid/duet_test.py
  tests/syft/lib/numpy/tensor_test.py
  tests/syft/lib/torch/tensor_test.py
Labels: syft 0.3

#3974 Documentation/plan and protocol
  .gitignore
  syft/execution/plan.py
  syft/execution/protocol.py
Labels: Type: Documentation :books:

#4051 Add MemoryStore tests
  src/syft/core/node/common/node.py
  src/syft/core/store/store_memory.py
  tests/syft/core/store/memory_storage_test.py
Labels: Type: Documentation :books:, Type: Testing :test_tube:, syft 0.3

#4052 Add tests for auth decorator
  src/syft/core/node/common/action/auth.py
  tests/syft/core/node/common/action/auth_test.py
Labels: Type: Testing :test_tube:

#4020 Grid clients serialisation correction
  syft/grid/clients/data_centric_fl_client.py
  syft/grid/clients/model_centric_fl_client.py
  syft/serde/msgpack/serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
Labels: Priority: 2 - High :cold_sweat:, Severity: 2 - High :cold_sweat:, Status: In Progress :star2:, Status: Investigating :mag:, Status: Review Needed :raising_hand:, Type: Bug :bug:

#4057 Fix some typos in docstring
  docs/conf.py
  src/syft/__init__.py
  src/syft/ast/klass.py
  src/syft/core/io/location/group/registry.py
  src/syft/core/io/route.py
  src/syft/core/node/common/node.py
  src/syft/core/node/common/service/heritage_update_service.py
  src/syft/core/node/common/service/msg_forwarding_service.py
  src/syft/core/node/device/client.py
  src/syft/decorators/typecheck.py
  src/syft/lib/generic.py
Labels: syft 0.3

#4475 Minor doc updates of BFV scheme
  syft/frameworks/torch/he/fv/context.py
  syft/frameworks/torch/he/fv/encryption_params.py
  syft/frameworks/torch/he/fv/key_generator.py
  syft/frameworks/torch/he/fv/util/numth.py
  syft/frameworks/torch/he/fv/util/operations.py
  syft/frameworks/torch/he/fv/util/rlwe.py
  syft/frameworks/torch/he/fv/util/rns_base.py
  syft/frameworks/torch/he/fv/util/rns_tool.py
  test/torch/tensors/test_fv.py
Labels: Priority: 4 - Low :sunglasses:

#4042 Error message if non integer value used with BFV scheme
  syft/frameworks/torch/he/fv/integer_encoder.py
Labels: Priority: 3 - Medium :unamused:

#4467 Added PythonPrimitive StorableObject supporting python return types
  .github/workflows/tests.yml
  proto/lib/python/python_primitive.proto
  scripts/pre_commit.sh
  src/syft/ast/klass.py
  src/syft/core/node/common/action/function_or_constructor_action.py
  src/syft/core/node/common/action/get_object_action.py
  src/syft/core/node/common/action/run_class_method_action.py
  src/syft/core/node/common/service/msg_forwarding_service.py
  src/syft/core/pointer/pointer.py
  src/syft/core/store/storeable_object.py
  src/syft/lib/python/__init__.py
  src/syft/lib/python/primitive.py
  src/syft/lib/torch/allowlist.py
  src/syft/lib/torch/parameter.py
  src/syft/proto/ast/ast_object_pb2.py
  src/syft/proto/core/auth/signed_message_pb2.py
  src/syft/proto/core/common/common_object_pb2.py
  src/syft/proto/core/core_object_pb2.py
  src/syft/proto/core/io/address_pb2.py
  src/syft/proto/core/io/connection_pb2.py
  src/syft/proto/core/io/location_pb2.py
  src/syft/proto/core/io/route_pb2.py
  src/syft/proto/core/node/common/action/get_object_pb2.py
  src/syft/proto/core/node/common/action/run_class_method_pb2.py
  src/syft/proto/core/node/common/action/save_object_pb2.py
  src/syft/proto/core/node/common/client_pb2.py
  src/syft/proto/core/node/common/service/child_node_lifecycle_service_pb2.py
  src/syft/proto/core/node/common/service/heritage_update_service_pb2.py
  src/syft/proto/core/node/common/service/object_search_message_pb2.py
  src/syft/proto/core/node/common/service/object_search_permission_update_message_pb2.py
  src/syft/proto/core/node/common/service/repr_service_pb2.py
  src/syft/proto/core/node/domain/service/accept_or_deny_request_message_pb2.py
  src/syft/proto/core/node/domain/service/get_all_requests_message_pb2.py
  src/syft/proto/core/node/domain/service/request_answer_message_pb2.py
  src/syft/proto/core/node/domain/service/request_answer_response_pb2.py
  src/syft/proto/core/node/domain/service/request_message_pb2.py
  src/syft/proto/core/pointer/pointer_pb2.py
  src/syft/proto/core/store/store_object_pb2.py
  src/syft/proto/grid/service/signaling_service_pb2.py
  src/syft/proto/lib/generic_tensor_pb2.py
  src/syft/proto/lib/lib_object_pb2.py
  src/syft/proto/lib/numpy/tensor_pb2.py
  src/syft/proto/lib/python/python_primitive_pb2.py
  src/syft/proto/lib/torch/parameter_pb2.py
  src/syft/proto/lib/torch/tensor_pb2.py
  src/syft/proto/syft_object_pb2.py
  src/syft/proto/util/json_message_pb2.py
  tests/syft/lib/python/primitive_test.py
  tests/syft/lib/torch/tensor/tensor_remote_method_api_suite_test.py
Labels: syft 0.3

#4015 Replicated Sharing Tensor: Multiplication, Matrix multiplication, and Convolution
  syft/frameworks/torch/mpc/przs.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/replicated_shared.py
  test/torch/tensors/test_replicated_shared.py
Labels: Status: Review Needed :raising_hand:

#4480 Fix allowlisted tensor tests
  tests/syft/lib/torch/tensor/tensor_remote_method_api_suite_test.py
Labels: syft 0.3

#4493 Fixed issues with torch 1.5.x and 1.4.0 in test suite / op support
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  requirements.txt
  setup.cfg
  src/syft/ast/callable.py
  src/syft/ast/globals.py
  src/syft/ast/klass.py
  src/syft/ast/module.py
  src/syft/core/common/lazy_structures.py
  src/syft/core/common/object.py
  src/syft/core/common/serde/serializable.py
  src/syft/core/common/serde/serialize.py
  src/syft/core/common/uid.py
  src/syft/core/io/address.py
  src/syft/core/io/location/location.py
  src/syft/core/io/location/specific.py
  src/syft/core/io/virtual.py
  src/syft/core/node/common/action/get_object_action.py
  src/syft/core/node/common/action/run_class_method_action.py
  src/syft/core/node/common/client.py
  src/syft/core/node/common/node.py
  src/syft/core/node/common/service/child_node_lifecycle_service.py
  src/syft/core/node/common/service/obj_search_permission_service.py
  src/syft/core/node/common/service/obj_search_service.py
  src/syft/core/node/common/service/repr_service.py
  src/syft/core/node/domain/service/accept_or_deny_request_service.py
  src/syft/core/node/domain/service/get_all_requests_service.py
  src/syft/core/pointer/pointer.py
  src/syft/core/store/storeable_object.py
  src/syft/grid/connections/websocket_connection.py
  src/syft/grid/services/signaling_service.py
  src/syft/lib/python/primitive.py
  src/syft/lib/torch/__init__.py
  src/syft/lib/torch/allowlist.py
  src/syft/proto/core/auth/signed_message_pb2.py
  src/syft/proto/core/core_object_pb2.py
  src/syft/proto/core/io/address_pb2.py
  src/syft/proto/core/io/connection_pb2.py
  src/syft/proto/core/io/location_pb2.py
  src/syft/proto/core/node/common/action/run_class_method_pb2.py
  src/syft/proto/core/store/store_object_pb2.py
  src/syft/proto/lib/generic_tensor_pb2.py
  src/syft/proto/lib/lib_object_pb2.py
  src/syft/proto/lib/numpy/tensor_pb2.py
  src/syft/proto/lib/python/python_primitive_pb2.py
  src/syft/proto/lib/torch/parameter_pb2.py
  tests/syft/core/io/address_test.py
  tests/syft/lib/torch/tensor/tensor_remote_method_api_suite_test.py
Labels: syft 0.3

#4479 Fix `Node.known_child_nodes` to only return Clients
  examples/experimental/trask/Dev.ipynb
  src/syft/core/node/common/node.py
  src/syft/core/node/common/service/child_node_lifecycle_service.py
  src/syft/core/node/common/service/heritage_update_service.py
  src/syft/core/node/common/service/obj_search_service.py
  src/syft/core/node/domain/client.py
  src/syft/core/store/store_memory.py
  tests/syft/core/node/node_test.py
Labels: syft 0.3

#4503 Add unit tests for RequestMessage
  setup.cfg
  tests/syft/core/node/domain/__init__.py
  tests/syft/core/node/domain/domain_test.py
  tests/syft/core/node/domain/service/__init__.py
  tests/syft/core/node/domain/service/request_answer_message_test.py
  tests/syft/core/node/domain/service/request_message_test.py
Labels: syft 0.3
