Repository OpenMined/PySyft, pull requests merged in 2020-04, with the labels that each got.

#3127 Run the tests in random orders
  .github/workflows/tests.yml
  .github/workflows/translated-tutorials.yml
  .github/workflows/tutorials.yml
  pip-dep/requirements_dev.txt
Labels: tests

#3051 Translation to Korean of the tutorial Part 02 (#2794)
  examples/tutorials/translations/korean/Part 02 - Intro to Federated Learning.ipynb
Labels: translation

#3182 Added Japanese language translated tutorial notebooks from part 1 to 12
  examples/tutorials/translations/japanese/Part 01 - The Basic Tools of Private Deep Learning.ipynb
  examples/tutorials/translations/japanese/Part 02 - Intro to Federated Learning.ipynb
  examples/tutorials/translations/japanese/Part 03 - Advanced Remote Execution Tools.ipynb
  examples/tutorials/translations/japanese/Part 04 - Federated Learning via Trusted Aggregator.ipynb
  examples/tutorials/translations/japanese/Part 05 - Welcome to the Sandbox.ipynb
  examples/tutorials/translations/japanese/Part 06 - Federated Learning on MNIST using a CNN.ipynb
  examples/tutorials/translations/japanese/Part 07 - Federated Learning with Federated Dataset.ipynb
  examples/tutorials/translations/japanese/Part 08 - Introduction to Plans.ipynb
  examples/tutorials/translations/japanese/Part 08 bis - Introduction to Protocols.ipynb
  examples/tutorials/translations/japanese/Part 09 - Intro to Encrypted Programs.ipynb
  examples/tutorials/translations/japanese/Part 10 - Federated Learning with Secure Aggregation.ipynb
  examples/tutorials/translations/japanese/Part 11 - Secure Deep Learning Classification.ipynb
  examples/tutorials/translations/japanese/Part 12 - Train an Encrypted Neural Network on Encrypted Data.ipynb
  examples/tutorials/translations/japanese/Part 12 bis - Encrypted Training on MNIST.ipynb
Labels: translation

#3243 Translate tutorial part 13 From English to Japanese
  examples/tutorials/translations/japanese/Part 13a - Secure Classification with Syft Keras and TFE - Public Training.ipynb
  examples/tutorials/translations/japanese/Part 13b - Secure Classification with Syft Keras and TFE - Secure Model Serving.ipynb
  examples/tutorials/translations/japanese/Part 13c - Secure Classification with Syft Keras and TFE - Private Prediction Client.ipynb
Labels: translation

#3294 Translation to German Tutorial "Part 02" and "Part 03"
  examples/tutorials/translations/german/Part 02 - Intro to Federated Learning.ipynb
  examples/tutorials/translations/german/Part 03 - Advanced Remote Execution Tools.ipynb
Labels: translation

#3173 Added Marathi language translated tutorial notebooks from part 1 to 7
  examples/tutorials/translations/marathi/Part 01 - The Basic Tools of Private Deep Learning.ipynb
  examples/tutorials/translations/marathi/Part 02 - Intro to Federated Learning.ipynb
  examples/tutorials/translations/marathi/Part 03 - Advanced Remote Execution Tools.ipynb
  examples/tutorials/translations/marathi/Part 04 - Federated Learning via Trusted Aggregator.ipynb
  examples/tutorials/translations/marathi/Part 05 - Welcome to the Sandbox.ipynb
  examples/tutorials/translations/marathi/Part 06 - Federated Learning on MNIST using a CNN.ipynb
  examples/tutorials/translations/marathi/Part 07 - Federated Learning with Federated Dataset.ipynb
  examples/tutorials/translations/marathi/Part 08 - Introduction to Plans.ipynb
  examples/tutorials/translations/marathi/Part 08 bis - Introduction to Protocols.ipynb
  examples/tutorials/translations/marathi/Part 09 - Intro to Encrypted Programs.ipynb
  examples/tutorials/translations/marathi/Part 10 - Federated Learning with Secure Aggregation.ipynb
  examples/tutorials/translations/marathi/Part 11 - Secure Deep Learning Classification.ipynb
  examples/tutorials/translations/marathi/Part 12 - Train an Encrypted Neural Network on Encrypted Data.ipynb
  examples/tutorials/translations/marathi/Part 12 bis - Encrypted Training on MNIST.ipynb
  examples/tutorials/translations/marathi/Part 13a - Secure Classification with Syft Keras and TFE - Public Training.ipynb
  examples/tutorials/translations/marathi/Part 13b - Secure Classification with Syft Keras and TFE - Secure Model Serving.ipynb
  examples/tutorials/translations/marathi/Part 13c - Secure Classification with Syft Keras and TFE - Private Prediction Client.ipynb
Labels: translation

#3263 Add Plan translation to torchscript
  examples/experimental/FL Training Plan/Create Plan.ipynb
  examples/experimental/FL Training Plan/Execute Plan.ipynb
  examples/experimental/FL Training Plan/Host Plan.ipynb
  pip-dep/requirements.txt
  syft/execution/placeholder.py
  syft/execution/plan.py
  syft/execution/role.py
  syft/execution/translation/__init__.py
  syft/execution/translation/abstract.py
  syft/execution/translation/default.py
  syft/execution/translation/torchscript.py
  syft/grid/grid_client.py
  test/execution/test_plan.py
  test/serde/serde_helpers.py
Labels: new feature, plans

#3266 Send Dataset_pointer
  syft/frameworks/torch/fl/dataset.py
  syft/generic/pointers/pointer_dataset.py
  syft/serde/msgpack/serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
  test/torch/federated/test_dataset.py
Labels: bug, federated_learning

#3336 Translate Plan to torchscript on build time
  examples/experimental/FL Training Plan/Create Plan.ipynb
  examples/experimental/FL Training Plan/Execute Plan.ipynb
  examples/experimental/FL Training Plan/Host Plan.ipynb
  syft/execution/__init__.py
  syft/execution/plan.py
  syft/execution/translation/torchscript.py
  test/execution/test_plan.py
  test/serde/serde_helpers.py
Labels: new feature, plans

#3254 Init Crypten Plan + Rebased
  .github/workflows/tests.yml
  .github/workflows/translated-tutorials.yml
  .github/workflows/tutorials.yml
  pip-dep/requirements.txt
  syft/__init__.py
  syft/dependency_check.py
  syft/execution/placeholder.py
  syft/execution/plan.py
  syft/frameworks/crypten/__init__.py
  syft/frameworks/crypten/context.py
  syft/frameworks/crypten/hook/hook.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/tensors/crypten/__init__.py
  syft/frameworks/torch/tensors/crypten/syft_crypten.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/generic/frameworks/hook/trace.py
  syft/generic/frameworks/types.py
  syft/messaging/message.py
  syft/sandbox.py
  syft/serde/msgpack/serde.py
  syft/workers/base.py
  test/crypten/test_context.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
Labels: Crypto Team, work-in-progress

#3357 Revert "Translate Plan to torchscript on build time"
  examples/experimental/FL Training Plan/Create Plan.ipynb
  examples/experimental/FL Training Plan/Execute Plan.ipynb
  examples/experimental/FL Training Plan/Host Plan.ipynb
  syft/execution/__init__.py
  syft/execution/plan.py
  syft/execution/translation/torchscript.py
  test/execution/test_plan.py
  test/serde/serde_helpers.py
Labels: bug, plans, tests

#3356 Fix flakiness in `test_local_remote_gradient_clipping`
  test/torch/test_hook.py
Labels: bug, tests

#3366 Restrict `pytest-randomly` version to avoid `3.3.0`
  pip-dep/requirements_dev.txt
Labels: bug

#3361 Handle torchscript state arg outside of Role
  syft/execution/role.py
  syft/execution/translation/torchscript.py
Labels: plans, refactor

#3327 Gradient clipping - add tolerance
  syft/frameworks/torch/hook/hook.py
  test/torch/test_hook.py
Labels: bug, tests

#3268 Added pull request template
  .github/pull_request_template.md
Labels: documentation

#3322 Remove unnecessary name off tutorials
  examples/tutorials/advanced/split_neural_network/Tutorial 1 - SplitNN Introduction.ipynb
  examples/tutorials/advanced/split_neural_network/Tutorial 2 - MultiLayer Split Neural Network.ipynb
  examples/tutorials/advanced/split_neural_network/Tutorial 3 - Folded Split Neural Network.ipynb
Labels: tutorials

#3372 Skip the privacy attack notebooks during notebook tests
  test/notebooks/test_notebooks.py
Labels: bug, tests

#3370 Don't assume `self` is in `known_workers` in `BaseWorker.serializer`
  syft/workers/base.py
Labels: bug

#3353 Explict Specification of Encryption Protocol in PaillierTensor Notebook
  examples/experimental/PaillierTensor.ipynb
Labels: Crypto Team

#3343 Fix Memory Leak in AST Operations
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/workers/base.py
  test/serde/serde_helpers.py
  test/torch/nn/test_nn.py
  test/torch/pointers/test_pointer_tensor.py
  test/torch/tensors/test_additive_shared.py
Labels: Crypto Team, bug

#3342 Fix Part 3 - Grid applied to Smart Cities and Smart Homes
  examples/tutorials/grid/Part 03 - Grid applied to Smart Cities and Smart Homes.ipynb
Labels: grid, tutorials

#3290 separates cells from notebook
  examples/tutorials/Part 13a - Secure Classification with Syft Keras and TFE - Public Training.ipynb
Labels: tutorials

#2982 Increase field to 2**64
  examples/tutorials/Part 09 - Intro to Encrypted Programs.ipynb
  examples/tutorials/translations/bengali/Part 09 - Intro to Encrypted Programs.ipynb
  examples/tutorials/translations/chinese/Part 09 - Intro to Encrypted Programs.ipynb
  examples/tutorials/translations/español/Parte 09 - Intro a los Programas Encriptados.ipynb
  examples/tutorials/translations/hindi/Part 09 - Intro to Encrypted Programs.ipynb
  examples/tutorials/translations/português/Parte 09 - Introdução à Programas Criptografados.ipynb
  syft/__init__.py
  syft/execution/__init__.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/mpc/beaver.py
  syft/frameworks/torch/mpc/securenn.py
  syft/frameworks/torch/mpc/spdz.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/crt_precision.py
  syft/frameworks/torch/tensors/interpreters/large_precision.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  syft/generic/pointers/pointer_tensor.py
  syft/generic/utils.py
  syft/serde/msgpack/serde.py
  test/notebooks/test_notebooks.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
  test/torch/crypto/test_snn.py
  test/torch/linalg/test_operations.py
  test/torch/tensors/test_additive_shared.py
  test/torch/tensors/test_crt_precision.py
  test/torch/tensors/test_large_precision.py
  test/torch/tensors/test_native.py
  test/torch/tensors/test_precision.py
  test/torch/tensors/test_private.py
Labels: Crypto Team, multiparty computation

#3377 Add Crypten changes to master
  syft/__init__.py
  syft/execution/placeholder.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/generic/frameworks/hook/trace.py
  syft/sandbox.py
  test/execution/test_placeholder.py
Labels: CrypTen

#3303 Tracing from inside the placeholders
  syft/execution/placeholder.py
  syft/execution/plan.py
  syft/execution/role.py
  syft/execution/state.py
  syft/execution/tracing.py
  syft/frameworks/torch/hook/hook.py
  syft/generic/frameworks/hook/hook.py
  syft/generic/frameworks/hook/trace.py
  test/execution/test_package_wrapper.py
  test/execution/test_placeholder.py
  test/execution/test_plan.py
Labels: plans, refactor

#3407 Update Crypten Head
  pip-dep/requirements.txt
  syft/frameworks/crypten/__init__.py
  syft/frameworks/torch/hook/hook.py
Labels: CrypTen

#3399 Avg & Maxpooling with SMPC
  syft/frameworks/torch/nn/__init__.py
  syft/frameworks/torch/nn/functional.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  test/torch/nn/test_functional.py
Labels: multiparty computation

#3403 Garbage Collection in `execute_computation_action`, Fix Inplace-Operation Identification
  syft/frameworks/torch/torch_attributes.py
  syft/generic/frameworks/hook/hook_args.py
  test/torch/test_hook.py
Labels: High Priority, bug

#3352 Communication actions plus plus (Adds `name` field)
  pip-dep/requirements.txt
  syft/execution/communication.py
  syft/generic/pointers/pointer_tensor.py
  syft/messaging/message.py
  test/serde/serde_helpers.py
Labels: protocols, refactor

#3404 Remove `init_plan` attribute from `BaseWorker`
  syft/execution/plan.py
  syft/execution/role.py
  syft/execution/state.py
  syft/execution/tracing.py
  syft/workers/base.py
  test/execution/test_plan.py
  test/execution/test_state.py
  test/serde/serde_helpers.py
Labels: plans, refactor

#3408 Remove deprecated properties and decorators from `Plan`
  examples/tutorials/Part 08 - Introduction to Plans.ipynb
  examples/tutorials/translations/bengali/Part 08 - Introduction to Plans.ipynb
  examples/tutorials/translations/español/Parte 08 - Introducción a los Planes.ipynb
  examples/tutorials/translations/german/Part 08 - Introduction to Plans.ipynb
  examples/tutorials/translations/hindi/Part 08 - Introduction to Plans.ipynb
  examples/tutorials/translations/japanese/Part 08 - Introduction to Plans.ipynb
  examples/tutorials/translations/marathi/Part 08 - Introduction to Plans.ipynb
  examples/tutorials/translations/português/Parte 08 - Introdução a Planos.ipynb
  syft/__init__.py
  syft/execution/plan.py
  test/execution/test_plan.py
  test/execution/test_state.py
  test/execution/test_translation.py
Labels: plans, refactor

#3427 Increase sigmoid exp tol
  test/torch/tensors/test_precision.py
Labels: bug, tests
