Repository OpenMined/PySyft, pull requests merged in 2020-02, with the labels that each got.

#2854 Translation into Ukrainian language
  examples/tutorials/translations/Ukrainian/Part 01 - Основні засоби приватного глибинного навчання.ipynb
Labels: translation

#2909 Hindi translations for Part 5, 6, 13b and 13c
  examples/tutorials/translations/hindi/Part 04 - Federated Learning via Trusted Aggregator.ipynb
  examples/tutorials/translations/hindi/Part 05 - Welcome to the Sandbox.ipynb
  examples/tutorials/translations/hindi/Part 06 - Federated Learning on MNIST using a CNN.ipynb
  examples/tutorials/translations/hindi/Part 08 - Introduction to Plans.ipynb
  examples/tutorials/translations/hindi/Part 08 bis - Introduction to Protocols.ipynb
  examples/tutorials/translations/hindi/Part 09 - Intro to Encrypted Programs.ipynb
  examples/tutorials/translations/hindi/Part 10 - Federated Learning with Secure Aggregation.ipynb
  examples/tutorials/translations/hindi/Part 13b - Secure Classification with Syft Keras and TFE - Secure Model Serving.ipynb
  examples/tutorials/translations/hindi/Part 13c - Secure Classification with Syft Keras and TFE - Private Prediction Client.ipynb
Labels: translation

#3034 Failing tutorial translations should be ignored
  test/notebooks/test_notebooks.py
Labels: translation, tutorials

#3038 Add Bengali Translated Notebooks #Part 12 bis
  examples/tutorials/translations/bengali/Part 12 bis - Encrypted Training on MNIST.ipynb
Labels: translation

#3047 Failing tutorial translations should be ignored
  test/notebooks/test_notebooks.py
Labels: tests, tutorials

#2980 Translation to Portuguese of the tutorials Part 09, 10, and 11
  examples/tutorials/translations/português/Parte 06 - Aprendizado Federado com MNIST usando uma CNN.ipynb
  examples/tutorials/translations/português/Parte 09 - Introdução à Programas Criptografados.ipynb
  examples/tutorials/translations/português/Parte 10 - Aprendizagem Federada com Agregação Segura.ipynb
  examples/tutorials/translations/português/Parte 11 - Classificação Segura Usando Aprendizagem Profunda.ipynb
Labels: translation

#2977 Portuguese translations Part7-8-8bis
  examples/tutorials/translations/português/Parte 07 - Aprendizado Federado com Conjunto de Dados Federado.ipynb
  examples/tutorials/translations/português/Parte 08 - Introdução a Planos.ipynb
  examples/tutorials/translations/português/Parte 08 bis - Introdução a Protocolos.ipynb
Labels: translation

#3035 Tutorial Part 1 in Portuguese
  examples/tutorials/translations/português/Parte 01 - As Ferramentas Básicas do Private Deep Learning.ipynb
Labels: translation

#3020 Translate PySyft Tutorials to Portuguese
  examples/tutorials/translations/português/Parte 12 bis - Treinamento criptografado no MNIST.ipynb
  examples/tutorials/translations/português/Parte 13b - Classificação segura com Syft Keras e TFE - Servindo o modelo de forma segura.ipynb
Labels: translation

#3023 Portuguese translation 13c
  examples/tutorials/translations/português/Parte 13c - Classificação Segura com Syft Keras e TFE - Cliente de predição privada.ipynb
Labels: translation

#2998 No need for requires_grad for input data
  syft/frameworks/torch/tensors/interpreters/autograd.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  test/torch/tensors/test_autograd.py
  test/torch/tensors/test_precision.py
Labels: pytorch

#3046 Put the test badges first in README
  .github/workflows/run-notebook-tests.yml
  .github/workflows/run-tests.yml
  README.md
Labels: documentation

#3041 Add Bengali Translated Notebooks #Part 11
  examples/tutorials/translations/bengali/Part 11 - Secure Deep Learning Classification.ipynb
Labels: translation

#2818 Add instruction for PySyft-Proto dependency and numbered the steps
  CONTRIBUTING.md
  pip-dep/requirements.txt
  pip-dep/requirements_dev.txt
Labels: documentation

#3033 Cleanup PATE code
  syft/frameworks/torch/dp/pate.py
Labels: federated_learning

#3018 update comment in test units
  test/notebooks/test_notebooks.py
Labels: tests

#3037 Fix potential medium/high severity security holes
  syft/frameworks/torch/tensors/interpreters/build_gradients.py
  syft/messaging/plan/plan.py
Labels: security

#3036 CI security testing
  .github/workflows/run-tests.yml
  pip-dep/requirements_dev.txt
Labels: security

#3060 Only test translation notebooks if they have been changed
  .github/workflows/run-notebook-tests.yml
  test/notebooks/git-diff.txt
  test/notebooks/test_notebooks.py
Labels: refactor, tests, translation

#3022 Tutorial Notebook 10 note on numpy hook
  examples/tutorials/Part 10 - Federated Learning with Secure Aggregation.ipynb
Labels: tutorials

#3059 Split tutorial translation tests into separate Github Workflows
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  .github/workflows/tutorials-bengali.yml
  .github/workflows/tutorials-chinese.yml
  .github/workflows/tutorials-español.yml
  .github/workflows/tutorials-hindi.yml
  .github/workflows/tutorials-indonesian.yml
  .github/workflows/tutorials-korean.yml
  .github/workflows/tutorials-português.yml
  .github/workflows/tutorials-romanian.yml
  .github/workflows/tutorials-ukrainian.yml
  examples/tutorials/translations/ukrainian/Part 01 - Основні засоби приватного глибинного навчання.ipynb
  test/notebooks/test_notebooks.py
Labels: refactor, tests, translation

#3030 Automatically update Docker Hub using GitHub Actions (on push to master)
  .github/workflows/update-docker-image.yml
Labels: packaging

#3066 Correct build context for dockerhub update via GitHub Actions
  .github/workflows/publish.yml
  .github/workflows/update-docker-image.yml
Labels: packaging

#3072 Reduce websocket timeout to one minute
  syft/workers/websocket_client.py
Labels: tests

#3071 Add wildcards to the tutorial translation test actions
  .github/workflows/tutorials-bengali.yml
  .github/workflows/tutorials-chinese.yml
  .github/workflows/tutorials-español.yml
  .github/workflows/tutorials-hindi.yml
  .github/workflows/tutorials-indonesian.yml
  .github/workflows/tutorials-korean.yml
  .github/workflows/tutorials-português.yml
  .github/workflows/tutorials-romanian.yml
  .github/workflows/tutorials-ukrainian.yml
Labels: tests, translation

#3032 Translation to Spanish of Parts 09, 13 (a, b and c)
  examples/tutorials/translations/español/Parte 09 - Intro a los Programas Encriptados.ipynb
  examples/tutorials/translations/español/Parte 13a - Clasificación Segura con Syft Keras y TFE - Aprendizaje Público.ipynb
  examples/tutorials/translations/español/Parte 13b - Clasificación Segura con Syft Keras y TFE - Proveer Predicciones desde un Modelo Seguro.ipynb
  examples/tutorials/translations/español/Parte 13c - Clasificación Segura con Syft Keras y TFE - Prediccion Privada (Cliente).ipynb
Labels: translation

#3031 Translations to Spanish of Tutorials Part 10 and 11
  examples/tutorials/translations/español/Parte 10 - Aprendizaje Federado con Agregación Segura.ipynb
  examples/tutorials/translations/español/Parte 11 - Clasificación con Aprendizaje Profundo y Seguro.ipynb
Labels: translation

#3055 Notebook 7 hindi translation
  examples/tutorials/translations/hindi/Part 07 - Federated Learning with Federated Dataset.ipynb
Labels: translation

#3052 Bengali 6
  examples/tutorials/translations/bengali/Part 01 - The Basic Tools of Private Deep Learning.ipynb
  examples/tutorials/translations/bengali/Part 06 - Federated Learning on MNIST using a CNN.ipynb
Labels: translation

#3075 Split the (English) tutorial tests into a separate Github Action
  .github/workflows/tests.yml
  .github/workflows/tutorials.yml
  setup.cfg
  test/conftest.py
Labels: refactor, tests, tutorials

#3064 Only test translation notebooks if they have been changed
  .github/workflows/translated-tutorials.yml
  .github/workflows/tutorials-chinese.yml
  .github/workflows/tutorials-español.yml
  .github/workflows/tutorials-hindi.yml
  .github/workflows/tutorials-indonesian.yml
  .github/workflows/tutorials-korean.yml
  .github/workflows/tutorials-português.yml
  .github/workflows/tutorials-romanian.yml
  .github/workflows/tutorials-ukrainian.yml
  test/notebooks/git-diff.txt
  test/notebooks/test_notebooks.py
Labels: refactor, tests, translation

#3056 Italian Translation for Tutorial 01
  examples/tutorials/translations/italian/Parte 01 - Gli strumenti di base per il deep learning privato.ipynb
Labels: translation

#3078 Separate execution types from messaging types
  pip-dep/requirements.txt
  syft/__init__.py
  syft/execution/__init__.py
  syft/execution/plan.py
  syft/execution/protocol.py
  syft/execution/state.py
  syft/frameworks/torch/hook/hook.py
  syft/grid/private_grid.py
  syft/grid/public_grid.py
  syft/messaging/message.py
  syft/messaging/plan/__init__.py
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  syft/workers/base.py
  syft/workers/node_client.py
  test/execution/test_plan.py
  test/execution/test_protocol.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
  test/torch/pointers/test_pointer_plan.py
  test/torch/pointers/test_pointer_protocol.py
Labels: refactor

#3070 Add message pending time option to virtual workers
  syft/workers/base.py
  syft/workers/virtual.py
  test/workers/test_virtual.py
Labels: new feature

#3050 Add Bengali Translated Notebooks #Part 9
  examples/tutorials/translations/bengali/Part 09 - Intro to Encrypted Programs.ipynb
  examples/tutorials/translations/bengali/Part 10 - Federated Learning with Secure Aggregation.ipynb
Labels: translation

#3094 Float tensor additive sharing
  syft/frameworks/torch/mpc/securenn.py
  syft/frameworks/torch/tensors/interpreters/native.py
  test/torch/crypto/test_snn.py
Labels: multiparty computation

#3092 Commit test_rnn
  test/torch/nn/test_rnn.py
Labels: tests

#3004 Add tanh Chebyshev approx
  syft/__init__.py
  syft/common/__init__.py
  syft/common/util.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  syft/generic/frameworks/overload.py
  test/common/test_util.py
Labels: CrypTen

#3090 Rename `Operation` message to `OperationMessage`
  pip-dep/requirements.txt
  syft/execution/plan.py
  syft/messaging/message.py
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  syft/workers/base.py
  test/message/test_message.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: refactor
