Repository OpenMined/PySyft, pull requests merged in 2020-10, with the labels that each got.

#4595 Fixing several issues in federated_avg()
  syft/frameworks/torch/fl/utils.py
Labels: Type: Improvement :chart_with_upwards_trend:

#4627 Add support for grad_fn on pointers
  syft/frameworks/torch/tensors/interpreters/native.py
  test/generic/pointers/test_pointer_tensor.py
Labels: Priority: 1 - Immediate :fire:, Severity: 1 - Critical :fire:

#4597 Add tf datasets to sandbox
  syft/sandbox.py
  test/test_sandbox.py
Labels: Type: Improvement :chart_with_upwards_trend:

#4633 Add get_copy argument in get() and related methods.
  syft/generic/pointers/object_pointer.py
  syft/generic/pointers/pointer_tensor.py
  syft/messaging/message.py
  syft/workers/base.py
  syft/workers/message_handler.py
  test/serde/serde_helpers.py
  test/workers/test_virtual.py
Labels: Priority: 2 - High :cold_sweat:, Severity: 3 - Medium :unamused:, Status: Review Needed :raising_hand:, Type: New Feature :heavy_plus_sign:

#4632 CLEAN: FSS Protocol Keygen Clean Up
  syft/frameworks/torch/mpc/fss.py
Labels: Type: Code Quality :100:

#4563 Add a workflow for benchmarks
  .github/workflows/pytest-benchmark.yml
  .gitignore
  benchmarks/__init__.py
  benchmarks/conftest.py
  benchmarks/frameworks/torch/mpc/pytestbenchmark/bench.py
  benchmarks/frameworks/torch/mpc/pytestbenchmark/benchmark_functions.py
  pip-dep/requirements_dev.txt
Labels: Severity: 3 - Medium :unamused:, Type: Testing :test_tube:

#4695 Fixing parallel threaded tests and nest_asyncio.apply()
  src/syft/grid/duet/__init__.py
Labels: syft 0.3

#4698 Remove old allowlist tests
  tests/syft/lib/torch/nn/__init__.py
  tests/syft/lib/torch/nn/parameter/__init__.py
  tests/syft/lib/torch/nn/parameter/parameter_remote_method_api_suite_test.py
  tests/syft/lib/torch/tensor/tensor_remote_method_api_suite_test.py
Labels: syft 0.3

#4708 Testing GA with windows OS
  .github/workflows/tests.yml
  docs/installing.rst
  src/syft/lib/torch/__init__.py
  tests/syft/grid/connections/webrtc_test.py
  tests/syft/lib/allowlist_report.py
  tests/syft/lib/allowlist_test.py
Labels: syft 0.3

#4711 Fix float tests
  scripts/pre_commit.sh
  src/syft/ast/klass.py
  src/syft/core/common/serde/serializable.py
  src/syft/lib/python/float.py
  src/syft/proto/ast/ast_object_pb2.py
  src/syft/proto/core/auth/signed_message_pb2.py
  src/syft/proto/core/common/common_object_pb2.py
  src/syft/proto/core/core_object_pb2.py
  src/syft/proto/core/io/address_pb2.py
  src/syft/proto/core/io/connection_pb2.py
  src/syft/proto/core/io/location_pb2.py
  src/syft/proto/core/io/route_pb2.py
  src/syft/proto/core/node/common/action/exception_action_pb2.py
  src/syft/proto/core/node/common/action/garbage_collect_object_pb2.py
  src/syft/proto/core/node/common/action/get_object_pb2.py
  src/syft/proto/core/node/common/action/run_class_method_pb2.py
  src/syft/proto/core/node/common/action/run_function_or_constructor_pb2.py
  src/syft/proto/core/node/common/action/save_object_pb2.py
  src/syft/proto/core/node/common/client_pb2.py
  src/syft/proto/core/node/common/service/child_node_lifecycle_service_pb2.py
  src/syft/proto/core/node/common/service/heritage_update_service_pb2.py
  src/syft/proto/core/node/common/service/object_search_message_pb2.py
  src/syft/proto/core/node/common/service/object_search_permission_update_message_pb2.py
  src/syft/proto/core/node/common/service/repr_service_pb2.py
  src/syft/proto/core/node/domain/service/accept_or_deny_request_message_pb2.py
  src/syft/proto/core/node/domain/service/get_all_requests_message_pb2.py
  src/syft/proto/core/node/domain/service/request_answer_message_pb2.py
  src/syft/proto/core/node/domain/service/request_answer_response_pb2.py
  src/syft/proto/core/node/domain/service/request_message_pb2.py
  src/syft/proto/core/pointer/pointer_pb2.py
  src/syft/proto/core/store/store_object_pb2.py
  src/syft/proto/grid/service/signaling_service_pb2.py
  src/syft/proto/lib/generic_tensor_pb2.py
  src/syft/proto/lib/lib_object_pb2.py
  src/syft/proto/lib/numpy/tensor_pb2.py
  src/syft/proto/lib/python/bool_pb2.py
  src/syft/proto/lib/python/complex_pb2.py
  src/syft/proto/lib/python/dict_pb2.py
  src/syft/proto/lib/python/float_pb2.py
  src/syft/proto/lib/python/int_pb2.py
  src/syft/proto/lib/python/list_pb2.py
  src/syft/proto/lib/python/none_pb2.py
  src/syft/proto/lib/python/string_pb2.py
  src/syft/proto/lib/python/tuple_pb2.py
  src/syft/proto/lib/torch/parameter_pb2.py
  src/syft/proto/lib/torch/tensor_pb2.py
  src/syft/proto/syft_object_pb2.py
  src/syft/proto/util/json_message_pb2.py
  tests/syft/core/common/object_test.py
  tests/syft/core/common/uid_test.py
  tests/syft/core/io/location/specific_test.py
  tests/syft/lib/python/dict/dict_test.py
  tests/syft/lib/python/dict/userdict_test.py
  tests/syft/lib/python/float/id_test.py
  tests/syft/lib/python/list/pointer_test.py
  tests/syft/lib/python/string/string_utils_test.py
Labels: syft 0.3

#4604 Revert "Fix get permissions"
  src/syft/lib/__init__.py
  tests/syft/core/node/common/action/function_or_constructor_action_test.py
Labels: syft 0.3

#4724 Override __module__ for syft types
  src/syft/lib/python/__init__.py
Labels: syft 0.3

#4674 Use id_at_location
  src/syft/ast/klass.py
  src/syft/core/node/common/action/garbage_collect_object_action.py
  src/syft/core/node/common/action/get_object_action.py
  src/syft/core/node/common/action/save_object_action.py
  tests/stress/gc_test.py
  tests/syft/core/common/serializable_test.py
  tests/syft/core/common/uid_test.py
  tests/syft/grid/duet_test.py
  tests/syft/lib/torch/tensor/tensor_remote_and_serde_test.py
Labels: syft 0.3

#4712 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: syft 0.3
