Repository OpenMined/PySyft, pull requests merged in 2020-05, with the labels that each got.

#3057 Function Secret Sharing
  examples/experimental/FL Training Plan/Execute Plan.ipynb
  examples/tutorials/Part 09 - Intro to Encrypted Programs.ipynb
  syft/exceptions.py
  syft/execution/computation.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/hook/hook_args.py
  syft/frameworks/torch/mpc/__init__.py
  syft/frameworks/torch/mpc/fss.py
  syft/frameworks/torch/mpc/primitives.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  syft/generic/frameworks/hook/hook_args.py
  syft/generic/object_storage.py
  syft/generic/pointers/pointer_tensor.py
  syft/messaging/message.py
  syft/workers/base.py
  syft/workers/websocket_client.py
  syft/workers/websocket_server.py
  test/serde/msgpack/test_msgpack_serde.py
  test/serde/serde_helpers.py
  test/test_udacity.py
  test/torch/mpc/__init__.py
  test/torch/mpc/test_crypto_store.py
  test/torch/mpc/test_fss.py
  test/torch/mpc/test_securenn.py
  test/torch/nn/test_nn.py
  test/torch/pointers/test_callable_pointer.py
  test/torch/pointers/test_pointer_tensor.py
  test/torch/tensors/test_additive_shared.py
  test/torch/tensors/test_autograd.py
  test/torch/tensors/test_native.py
  test/workers/test_websocket_worker.py
Labels: Crypto Team

#3422 Fix plans
  pip-dep/requirements.txt
  syft/execution/placeholder.py
  syft/execution/plan.py
  syft/frameworks/crypten/context.py
  syft/frameworks/crypten/hook/__init__.py
  syft/frameworks/crypten/hook/hook.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/hook/hook_args.py
  test/crypten/test_context.py
  test/crypten/test_jail.py
  test/execution/test_placeholder.py
Labels: CrypTen

#3411 Utility functions to convert pytroch model to onnx and load them back to crypten
  syft/frameworks/crypten/utils.py
  test/crypten/test_utils.py
Labels: CrypTen

#3383 Fix `Plan` tracing that involves `backward()`/autograd
  syft/execution/computation.py
  syft/execution/placeholder.py
  syft/execution/plan.py
  syft/execution/role.py
  syft/frameworks/torch/tensors/interpreters/autograd.py
  syft/frameworks/torch/tensors/interpreters/gradients.py
  test/execution/test_plan.py
  test/execution/test_translation.py
Labels: bug, new feature, plans

#3148 Modified securenn to work with >3 parties
  syft/frameworks/torch/mpc/securenn.py
  test/torch/mpc/test_multiparty_nn.py
Labels: multiparty computation

#3409 Trace multiple `Protocol Roles` from a single function
  examples/tutorials/Part 08 bis - Introduction to Protocols.ipynb
  pip-dep/requirements.txt
  syft/__init__.py
  syft/execution/plan.py
  syft/execution/protocol.py
  syft/execution/role.py
  syft/generic/pointers/pointer_protocol.py
  syft/serde/msgpack/serde.py
  test/execution/test_protocol.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
  test/torch/pointers/test_pointer_protocol.py
Labels: protocols, refactor

#3410 Running crypten computation either with plans or jailing
  syft/frameworks/crypten/context.py
  syft/messaging/message.py
  syft/serde/msgpack/serde.py
  syft/workers/base.py
  test/crypten/test_context.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
Labels: CrypTen

#3437 Initial part of Auto-Scaling on Google Cloud
  syft/grid/autoscale/README.md
  syft/grid/autoscale/gcloud.py
  syft/grid/autoscale/test.py
Labels: grid, gsoc, new feature

#3446 Allowed users only as Tuple
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/private.py
  test/torch/tensors/test_private.py
Labels: refactor, security

#3441 cleanup rnn.py
  syft/frameworks/torch/nn/rnn.py
Labels: code quality

#3415 Modify Bengali translated notebooks
  examples/tutorials/translations/bengali/Part 01 - The Basic Tools of Private Deep Learning.ipynb
  examples/tutorials/translations/bengali/Part 02 - Intro to Federated Learning.ipynb
  examples/tutorials/translations/bengali/Part 05 - Welcome to the Sandbox.ipynb
  examples/tutorials/translations/bengali/Part 06 - Federated Learning on MNIST using a CNN.ipynb
  examples/tutorials/translations/bengali/Part 07 - Federated Learning with Federated Dataset.ipynb
  examples/tutorials/translations/bengali/Part 08 - Introduction to Plans.ipynb
  examples/tutorials/translations/bengali/Part 08 bis - Introduction to Protocols.ipynb
  examples/tutorials/translations/bengali/Part 09 - Intro to Encrypted Programs.ipynb
  examples/tutorials/translations/bengali/Part 10 - Federated Learning with Secure Aggregation.ipynb
Labels: translation

#3466 Update Part 13b - Secure Classification with Syft Keras and TFE - Sec…
  examples/tutorials/translations/bengali/Part 13b - Secure Classification with Syft Keras and TFE - Secure Model Serving.ipynb
Labels: translation

#3473 Store the message log in `BaseWorker` in an unserialized format
  syft/workers/base.py
Labels: bug, tests

#3477 Remove `contents` methods (previously deprecated, partially removed)
  syft/execution/communication.py
  syft/execution/computation.py
  syft/messaging/message.py
  test/serde/serde_helpers.py
Labels: protocols, refactor

#3454 Add async send_command to websocket client
  syft/workers/base.py
  syft/workers/node_client.py
  syft/workers/websocket_client.py
  syft/workers/websocket_server.py
Labels: grid, websocket

#3452 Send models with @run_multiworkers
  syft/frameworks/crypten/context.py
  syft/frameworks/crypten/jail.py
  syft/workers/base.py
Labels: CrypTen

#3453 Merge master into CrypTen Branch
  .github/pull_request_template.md
  MANIFEST.in
  examples/experimental/FL Training Plan/Execute Plan.ipynb
  examples/tutorials/Part 08 bis - Introduction to Protocols.ipynb
  examples/tutorials/Part 09 - Intro to Encrypted Programs.ipynb
  pip-dep/requirements.txt
  setup.cfg
  setup.py
  syft/__init__.py
  syft/exceptions.py
  syft/execution/computation.py
  syft/execution/placeholder.py
  syft/execution/plan.py
  syft/execution/protocol.py
  syft/execution/role.py
  syft/execution/tracing.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/hook/hook_args.py
  syft/frameworks/torch/mpc/__init__.py
  syft/frameworks/torch/mpc/fss.py
  syft/frameworks/torch/mpc/primitives.py
  syft/frameworks/torch/mpc/securenn.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/autograd.py
  syft/frameworks/torch/tensors/interpreters/gradients.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/plusisminus.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  syft/generic/frameworks/hook/hook_args.py
  syft/generic/object_storage.py
  syft/generic/pointers/pointer_protocol.py
  syft/generic/pointers/pointer_tensor.py
  syft/messaging/message.py
  syft/serde/msgpack/serde.py
  syft/version.py
  syft/workers/base.py
  syft/workers/websocket_client.py
  syft/workers/websocket_server.py
  test/execution/test_plan.py
  test/execution/test_protocol.py
  test/execution/test_translation.py
  test/serde/msgpack/test_msgpack_serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
  test/test_udacity.py
  test/torch/mpc/__init__.py
  test/torch/mpc/test_crypto_store.py
  test/torch/mpc/test_fss.py
  test/torch/mpc/test_multiparty_nn.py
  test/torch/mpc/test_securenn.py
  test/torch/nn/test_nn.py
  test/torch/pointers/test_callable_pointer.py
  test/torch/pointers/test_pointer_protocol.py
  test/torch/pointers/test_pointer_tensor.py
  test/torch/tensors/test_additive_shared.py
  test/torch/tensors/test_autograd.py
  test/torch/tensors/test_native.py
  test/torch/tensors/test_precision.py
  test/workers/test_websocket_worker.py
Labels: CrypTen

#3475 Remove `verbose` flag from code formatting check
  .github/workflows/tests.yml
Labels: bug, tests

#3465 Update `Role.register_action()` to allow registering `CommunicationActions`
  pip-dep/requirements.txt
  syft/execution/action.py
  syft/execution/communication.py
  syft/execution/computation.py
  syft/frameworks/torch/mpc/fss.py
  syft/generic/object_storage.py
  syft/generic/pointers/callable_pointer.py
  syft/generic/pointers/pointer_dataset.py
  syft/generic/pointers/pointer_plan.py
  syft/generic/pointers/pointer_tensor.py
  syft/messaging/message.py
  syft/serde/protobuf/serde.py
  syft/workers/base.py
  test/execution/test_communication.py
  test/execution/test_role.py
  test/generic/test_object_storage.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: new feature, protocols, refactor

#3488 Build Roles from func2protocol decorator
  syft/execution/placeholder.py
  syft/execution/plan.py
  syft/execution/protocol.py
  syft/execution/role.py
  syft/execution/tracing.py
  test/execution/test_placeholder.py
  test/execution/test_protocol.py
  test/serde/serde_helpers.py
Labels: new feature, protocols

#3448 Trace `CommunicationActions` into `Roles`
  syft/execution/placeholder.py
  syft/execution/protocol.py
  syft/execution/tracing.py
  syft/generic/pointers/pointer_tensor.py
  test/execution/test_protocol.py
  test/torch/pointers/test_pointer_tensor.py
Labels: new feature, protocols

#3487 refactor BaseWorker.send_command to accept explicit arguments.
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/mpc/fss.py
  syft/generic/frameworks/hook/hook.py
  syft/generic/pointers/callable_pointer.py
  syft/generic/pointers/object_pointer.py
  syft/generic/pointers/pointer_dataset.py
  syft/generic/pointers/pointer_plan.py
  syft/generic/pointers/pointer_tensor.py
  syft/workers/base.py
Labels: protocols, refactor

#3296 Plans support for typechecking, lists and dicts using serialized input.
  syft/execution/plan.py
  syft/execution/role.py
  syft/execution/type_wrapper.py
  syft/serde/msgpack/native_serde.py
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/native_serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  test/execution/test_plan.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: new feature, plans

#3500 Update Part 13c - Secure Classification with Syft Keras and TFE - Pri…
  examples/tutorials/translations/bengali/Part 13c - Secure Classification with Syft Keras and TFE - Private Prediction Client.ipynb
Labels: translation

#3505 Move docstring coverage check earlier in test action
  .github/workflows/tests.yml
Labels: tests

#3386 Adding a Protobuf/Msgpack Serializable Interface
  pip-dep/requirements.txt
  syft/execution/action.py
  syft/execution/communication.py
  syft/execution/computation.py
  syft/execution/placeholder.py
  syft/execution/placeholder_id.py
  syft/execution/plan.py
  syft/execution/protocol.py
  syft/execution/role.py
  syft/execution/state.py
  syft/execution/type_wrapper.py
  syft/federated/train_config.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/gradients_core.py
  syft/generic/frameworks/hook/hook.py
  syft/generic/object.py
  syft/generic/pointers/object_pointer.py
  syft/generic/pointers/object_wrapper.py
  syft/generic/pointers/pointer_tensor.py
  syft/generic/tensor.py
  syft/messaging/message.py
  syft/serde/__init__.py
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  syft/serde/serde.py
  syft/serde/syft_serializable.py
  syft/workers/abstract.py
  syft/workers/virtual.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: protobuf, serialization

#3442 Fix `move` PT to its own location
  syft/generic/pointers/pointer_tensor.py
  test/torch/pointers/test_pointer_tensor.py
Labels: bug

#3511 Add a missing `NodeClient` import to `AbstractGrid`
  syft/grid/abstract_grid.py
Labels: bug

#3406 Crypten hook logic shifted to hook_crypten.py
  syft/frameworks/crypten/hook/hook.py
  syft/frameworks/torch/hook/hook.py
  syft/grid/abstract_grid.py
Labels: CrypTen

#3513 Correctly test simplify/detail methods
  syft/messaging/message.py
  test/serde/serde_helpers.py
Labels: CrypTen

#3519 Move abstract methods from `BaseWorker` to `AbstractWorker`
  syft/workers/abstract.py
  syft/workers/base.py
Labels: refactor

#3520 Incorporate specific contribution guidelines into PR template checklist
  .github/pull_request_template.md
Labels: documentation

#3364 Add method to add/remove operations from base worker
  syft/frameworks/crypten/context.py
  syft/frameworks/crypten/worker_support.py
  syft/workers/base.py
  syft/workers/worker_support.py
  test/crypten/test_context.py
  test/workers/test_virtual.py
Labels: CrypTen

#3521 Create a `VirtualWorker` for each `Role` and use it in the tests
  syft/execution/protocol.py
  syft/execution/role.py
  test/execution/test_protocol.py
  test/serde/serde_helpers.py
Labels: protocols, refactor

#3522 Trace generation actions like `torch.rand()` into `Roles` in `Protocols`
  syft/execution/role.py
  test/execution/test_protocol.py
Labels: new feature, protocols

#3499 Enable state for roles in func2protocol decorator
  syft/execution/protocol.py
  syft/execution/role.py
  test/execution/test_protocol.py
  test/serde/serde_helpers.py
Labels: new feature, protocols

#3525 Fix stray objects from FSS `Worker/Plan` initialization
  syft/workers/base.py
  test/torch/nn/test_nn.py
  test/torch/pointers/test_pointer_tensor.py
  test/torch/tensors/test_additive_shared.py
  test/torch/tensors/test_autograd.py
Labels: High Priority, bug

#3472 Fix Batchnorm for Federated Learning
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/generic/frameworks/hook/hook.py
  syft/generic/pointers/pointer_tensor.py
  test/torch/pointers/test_pointer_tensor.py
  test/torch/tensors/test_native.py
Labels: Fix, High Priority

#3457 Ability to seed the `IdProvider`, Verbosity Toggling from `TorchHook`
  syft/frameworks/torch/hook/hook.py
  syft/generic/id_provider.py
  syft/messaging/message.py
  syft/workers/base.py
Labels: debug tool, new feature

#3483 Added support for notebooks in Autoscale
  syft/grid/autoscale/gcloud.py
  syft/grid/autoscale/test.ipynb
  syft/grid/autoscale/test.py
  syft/grid/autoscale/utils/notebook/terraform_notebook.py
  syft/grid/autoscale/utils/script/terraform_script.py
Labels: grid

#3426 FL client worker API
  examples/experimental/FL Training Plan/Execute Plan with Python FL Client.ipynb
  syft/federated/fl_client.py
  syft/federated/fl_job.py
  syft/grid/grid_client.py
Labels: grid, new feature

#3530 Serde refactor, lazy dataloaders, better serde interface
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/native_serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  syft/serde/protobuf/torch_serde.py
  syft/serde/syft_serializable.py
  test/serde/msgpack/test_msgpack_serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: code quality, protobuf

#3561 Split `FrameworkHook` into multiple parts
  syft/generic/frameworks/hook/hook.py
  syft/generic/frameworks/hook/pointers.py
  syft/generic/frameworks/hook/string.py
  syft/generic/frameworks/hook/tensors.py
Labels: refactor

#3532 Remove `TrainConfig` and everything that depends on it
  examples/tutorials/advanced/federated_learning_with_trainconfig/Introduction to TrainConfig.ipynb
  examples/tutorials/advanced/federated_learning_with_trainconfig/__init__.py
  examples/tutorials/advanced/federated_learning_with_trainconfig/start_worker.py
  examples/tutorials/advanced/websockets_mnist_parallel/Asynchronous-federated-learning-on-MNIST.ipynb
  examples/tutorials/advanced/websockets_mnist_parallel/__init__.py
  examples/tutorials/advanced/websockets_mnist_parallel/run_websocket_client.py
  examples/tutorials/advanced/websockets_mnist_parallel/start_websocket_servers.py
  syft/__init__.py
  syft/federated/federated_client.py
  syft/federated/train_config.py
  syft/workers/base.py
  syft/workers/node_client.py
  syft/workers/virtual.py
  syft/workers/websocket_server.py
  test/federated/__init__.py
  test/federated/test_federated_client.py
  test/federated/test_train_config.py
  test/generic/test_object_storage.py
  test/notebooks/test_notebooks.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
  test/workers/test_virtual.py
  test/workers/test_websocket_worker.py
Labels: refactor

#3585 Adding torch.dtype support in serde.protobuf
  pip-dep/requirements.txt
  syft/serde/protobuf/serde.py
  syft/serde/protobuf/torch_serde.py
  test/serde/protobuf/test_protobuf_serde_full.py
Labels: protobuf

#3584 torch.memory_format protobuf support
  syft/serde/protobuf/torch_serde.py
  test/serde/msgpack/test_msgpack_serde.py
  test/serde/protobuf/test_protobuf_serde_full.py
Labels: protobuf

#3582 Connection get overload
  syft/grid/network.py
  syft/grid/nodes_manager.py
Labels: grid

#3589 Print useful information on syft.grid.register()
  syft/grid/__init__.py
Labels: grid

#3544 Implement a RoleAssignments abstraction
  syft/execution/protocol.py
  syft/execution/role_assignments.py
  test/execution/test_protocol.py
  test/execution/test_role_assignments.py
Labels: new feature, protocols

#3592 Change PrivateTensor parameter type
  syft/frameworks/torch/tensors/interpreters/native.py
  test/serde/serde_helpers.py
  test/torch/tensors/test_private.py
Labels: grid

#3593 Handle with grid unexpected errors properly
  syft/grid/__init__.py
  syft/grid/network.py
  syft/grid/nodes_manager.py
Labels: grid

#3591 Avoids multiple peers registration in the same grid environment.
  syft/grid/__init__.py
Labels: grid

#3594 syft.generic.String protobuf support
  pip-dep/requirements.txt
  syft/generic/pointers/__init__.py
  syft/generic/string.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
Labels: protobuf

#3600 Dataset pointer support in protobuf.
  syft/generic/pointers/pointer_dataset.py
  test/serde/protobuf/test_protobuf_serde_full.py
Labels: enhancement, protobuf

#3535 Added method to return support for framework in BaseWorker
  syft/workers/base.py
  test/workers/test_base.py
Labels: new feature

#3604 Bump PySyft version to v0.2.6
  pip-dep/requirements.txt
  setup.cfg
  setup.py
  syft/execution/plan.py
  syft/version.py
Labels: packaging

#3566 Use serde for tags from PointerTensor
  syft/generic/pointers/pointer_tensor.py
Labels: Type: Refactor :hammer:

#3614 Fix federated_avg side effect
  syft/frameworks/torch/fl/utils.py
  test/torch/federated/test_utils.py
Labels: Type: Bug :bug:

#3612 Move torch arg hooking into the relevant classes to reduce circular imports
  syft/frameworks/torch/hook/hook_args.py
  syft/frameworks/torch/tensors/decorators/logging.py
  syft/frameworks/torch/tensors/interpreters/autograd.py
  syft/frameworks/torch/tensors/interpreters/paillier.py
Labels: Type: Refactor :hammer:

#3611 Create `AbstractSendable` class to provide comms methods generically
  examples/tutorials/advanced/Build your own tensor type (advanced).ipynb
  syft/execution/placeholder.py
  syft/execution/plan.py
  syft/execution/protocol.py
  syft/frameworks/torch/fl/dataset.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/tensors/decorators/logging.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/autograd.py
  syft/frameworks/torch/tensors/interpreters/hook.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/paillier.py
  syft/frameworks/torch/tensors/interpreters/polynomial.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  syft/frameworks/torch/tensors/interpreters/private.py
  syft/generic/abstract/object.py
  syft/generic/abstract/sendable.py
  syft/generic/abstract/tensor.py
  syft/generic/object_storage.py
  syft/generic/pointers/multi_pointer.py
  syft/generic/pointers/object_pointer.py
  syft/generic/pointers/pointer_tensor.py
  syft/generic/string.py
  syft/serde/msgpack/torch_serde.py
  syft/serde/protobuf/torch_serde.py
  syft/workers/base.py
  syft/workers/websocket_client.py
  syft/workers/websocket_server.py
Labels: Type: Refactor :hammer:

#3620 Update CODEOWNERS file to reflect new team names
  .github/CODEOWNERS
Labels: Type: Bug :bug:

#3623 CrypTen test coverage
  syft/frameworks/crypten/jail.py
  test/crypten/test_context.py
Labels: CrypTen

#3618 Register the `translation` mark with PyTest to suppress warnings
  test/conftest.py
Labels: Type: Improvement :chart_with_upwards_trend:

#3606 requirements.txt updated with tornado compatible notebook version
  pip-dep/requirements.txt
Labels: packaging

#3636 Add utilities for hooking and chaining methods calls along tensor chains
  syft/generic/abstract/hookable.py
  test/generic/test_hookable.py
Labels: Type: Refactor :hammer:

#3276 FV homomorphic encryption scheme
  examples/experimental/FV HE Experimentation.ipynb
  syft/frameworks/torch/he/fv/ciphertext.py
  syft/frameworks/torch/he/fv/context.py
  syft/frameworks/torch/he/fv/decryptor.py
  syft/frameworks/torch/he/fv/encryption_params.py
  syft/frameworks/torch/he/fv/encryptor.py
  syft/frameworks/torch/he/fv/integer_encoder.py
  syft/frameworks/torch/he/fv/key_generator.py
  syft/frameworks/torch/he/fv/modulus.py
  syft/frameworks/torch/he/fv/plaintext.py
  syft/frameworks/torch/he/fv/public_key.py
  syft/frameworks/torch/he/fv/secret_key.py
  syft/frameworks/torch/he/fv/util/base_converter.py
  syft/frameworks/torch/he/fv/util/global_variable.py
  syft/frameworks/torch/he/fv/util/numth.py
  syft/frameworks/torch/he/fv/util/operations.py
  syft/frameworks/torch/he/fv/util/rlwe.py
  syft/frameworks/torch/he/fv/util/rns_base.py
  syft/frameworks/torch/he/fv/util/rns_tool.py
  test/torch/tensors/test_fv.py
Labels: Crypto Team, homomorphic encryption

#3444 Update Part 11 - Secure Deep Learning Classification.ipynb
  examples/tutorials/translations/bengali/Part 11 - Secure Deep Learning Classification.ipynb
Labels: translation

#3642 Add an `__init__.py` file to `syft.generic.abstract`
  syft/generic/abstract/__init__.py
Labels: Severity: 1 - Critical :fire:, Type: Bug :bug:, Type: Refactor :hammer:

#3644 serde, torch: fix typo in numpy tensor serializer.
  syft/serde/torch/serde.py
Labels: Type: Bug :bug:

#3643 Move permissions from `TorchTensor.send()` to `PrivateTensor._before_send()` hook
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/private.py
  syft/generic/abstract/hookable.py
  syft/workers/base.py
Labels: Priority: 2 - High :cold_sweat:, Status: Review Needed :raising_hand:, Type: Refactor :hammer:
