Repository OpenMined/PySyft, pull requests merged in 2020-09, with the labels that each got.

#4506 Add protobuf serde for RunFunctionOrConstructorAction
  proto/core/node/common/action/run_function_or_constructor.proto
  src/syft/core/node/common/action/function_or_constructor_action.py
  src/syft/core/node/common/action/run_class_method_action.py
  src/syft/core/store/store_interface.py
  src/syft/core/store/store_memory.py
  src/syft/lib/torch/allowlist.py
  src/syft/proto/core/node/common/action/run_function_or_constructor_pb2.py
  tests/syft/lib/torch/client_torch_test.py
Labels: syft 0.3

#4494 MPC Benchmark Abstraction (sigmoid, tanh)
  benchmarks/frameworks/torch/mpc/scripts/abstract/abstract_benchmark.py
  benchmarks/frameworks/torch/mpc/scripts/abstract/approx_benchmark.py
  benchmarks/frameworks/torch/mpc/scripts/abstract/workers_initialization.py
  benchmarks/frameworks/torch/mpc/scripts/benchmark_ast.py
  benchmarks/frameworks/torch/mpc/scripts/benchmark_sigmoid.py
  benchmarks/frameworks/torch/mpc/scripts/benchmark_tanh.py
Labels: Type: Code Quality :100:

#4528 Add docstring for some Actions
  docs/conf.py
  src/syft/core/node/common/action/function_or_constructor_action.py
  src/syft/core/node/common/action/get_object_action.py
  src/syft/core/node/common/action/run_class_method_action.py
  src/syft/core/node/common/action/save_object_action.py
  src/syft/core/node/common/service/obj_search_service.py
  src/syft/core/store/storeable_object.py
  src/syft/grid/duet/server.py
  src/syft/lib/python/bool.py
  src/syft/lib/python/complex.py
  src/syft/lib/python/float.py
  src/syft/lib/python/int.py
  src/syft/lib/python/none.py
  src/syft/lib/python/primitive_factory.py
  src/syft/proto/ast/ast_object_pb2.py
  src/syft/proto/core/auth/signed_message_pb2.py
  src/syft/proto/core/common/common_object_pb2.py
  src/syft/proto/core/core_object_pb2.py
  src/syft/proto/core/io/address_pb2.py
  src/syft/proto/core/io/connection_pb2.py
  src/syft/proto/core/io/location_pb2.py
  src/syft/proto/core/io/route_pb2.py
  src/syft/proto/core/node/common/action/get_object_pb2.py
  src/syft/proto/core/node/common/action/run_class_method_pb2.py
  src/syft/proto/core/node/common/action/run_function_or_constructor_pb2.py
  src/syft/proto/core/node/common/action/save_object_pb2.py
  src/syft/proto/core/node/common/client_pb2.py
  src/syft/proto/core/node/common/service/child_node_lifecycle_service_pb2.py
  src/syft/proto/core/node/common/service/heritage_update_service_pb2.py
  src/syft/proto/core/node/common/service/object_search_message_pb2.py
  src/syft/proto/core/node/common/service/object_search_permission_update_message_pb2.py
  src/syft/proto/core/node/common/service/repr_service_pb2.py
  src/syft/proto/core/node/domain/service/accept_or_deny_request_message_pb2.py
  src/syft/proto/core/node/domain/service/get_all_requests_message_pb2.py
  src/syft/proto/core/node/domain/service/request_answer_message_pb2.py
  src/syft/proto/core/node/domain/service/request_answer_response_pb2.py
  src/syft/proto/core/node/domain/service/request_message_pb2.py
  src/syft/proto/core/pointer/pointer_pb2.py
  src/syft/proto/core/store/store_object_pb2.py
  src/syft/proto/grid/service/signaling_service_pb2.py
  src/syft/proto/lib/generic_tensor_pb2.py
  src/syft/proto/lib/lib_object_pb2.py
  src/syft/proto/lib/numpy/tensor_pb2.py
  src/syft/proto/lib/python/bool_pb2.py
  src/syft/proto/lib/python/float_pb2.py
  src/syft/proto/lib/python/int_pb2.py
  src/syft/proto/lib/python/none_pb2.py
  src/syft/proto/lib/python/python_primitive_pb2.py
  src/syft/proto/lib/torch/parameter_pb2.py
  src/syft/proto/lib/torch/tensor_pb2.py
  src/syft/proto/syft_object_pb2.py
  src/syft/proto/util/json_message_pb2.py
  tests/syft/grid/duet_test.py
  tests/syft/lib/python/bool_test.py
  tests/syft/lib/python/float_test.py
  tests/syft/lib/python/int_test.py
  tests/syft/lib/torch/client_torch_test.py
Labels: Type: Documentation :books:, syft 0.3

#4509 Add black2b hash function to generate param_id for bfv scheme
  syft/frameworks/torch/he/fv/encryption_params.py
Labels: Status: Review Needed :raising_hand:

#4529 Implement a Syft List class
  proto/lib/python/list.proto
  src/syft/lib/python/list.py
  src/syft/lib/python/primitive_factory.py
  src/syft/proto/lib/python/list_pb2.py
  tests/syft/lib/python/__init__.py
  tests/syft/lib/python/list/list_id_test.py
  tests/syft/lib/python/list/list_test.py
  tests/syft/lib/python/list/serde_test.py
Labels: syft 0.3

#4542 Enable serialization of Syft Primitives
  src/syft/lib/python/__init__.py
  src/syft/lib/python/bool.py
  src/syft/lib/python/float.py
  src/syft/lib/python/int.py
  src/syft/lib/python/list.py
  tests/syft/lib/python/bool/__init__.py
  tests/syft/lib/python/bool/bool_test.py
  tests/syft/lib/python/bool/serde_test.py
  tests/syft/lib/python/float/__init__.py
  tests/syft/lib/python/float/float_test.py
  tests/syft/lib/python/float/serde_test.py
  tests/syft/lib/python/int/__init__.py
  tests/syft/lib/python/int/int_test.py
  tests/syft/lib/python/int/serde_test.py
  tests/syft/lib/python/list/__init__.py
  tests/syft/lib/python/list/serde_test.py
Labels: syft 0.3

#4531 MNIST
  examples/experimental/madhava/MNIST.ipynb
  examples/experimental/madhava/class_debug.ipynb
  scripts/pre_commit.sh
  src/syft/lib/__init__.py
  src/syft/lib/python/__init__.py
  src/syft/lib/python/bool.py
  src/syft/lib/python/float.py
  src/syft/lib/python/int.py
  src/syft/lib/python/list.py
  src/syft/lib/torch/__init__.py
  src/syft/lib/torch/allowlist.py
  src/syft/lib/torch/generator.py
  tests/syft/lib/python/bool/__init__.py
  tests/syft/lib/python/bool/bool_test.py
  tests/syft/lib/python/bool/serde_test.py
  tests/syft/lib/python/float/__init__.py
  tests/syft/lib/python/float/float_test.py
  tests/syft/lib/python/float/serde_test.py
  tests/syft/lib/python/int/__init__.py
  tests/syft/lib/python/int/int_test.py
  tests/syft/lib/python/int/serde_test.py
  tests/syft/lib/python/list/__init__.py
  tests/syft/lib/python/list/serde_test.py
Labels: syft 0.3

#4544 Cross type testing on Int
  src/syft/lib/python/bool.py
  src/syft/lib/python/int.py
  src/syft/lib/python/primitive_factory.py
  tests/syft/lib/python/int/cross_type_test.py
Labels: syft 0.3

#4543 Implement a Syft Complex primitive type
  proto/lib/python/complex.proto
  src/syft/lib/python/__init__.py
  src/syft/lib/python/complex.py
  src/syft/lib/python/primitive_factory.py
  src/syft/proto/lib/python/complex_pb2.py
  tests/syft/lib/python/complex/__init__.py
  tests/syft/lib/python/complex/complex_test.py
  tests/syft/lib/python/complex/serde_test.py
Labels: syft 0.3

#4552 Bump version 0.2.9
  syft/version.py
Labels: Priority: 1 - Immediate :fire:

#4547 Added property support for getset_descriptor properties of Callable
  docs/installing.rst
  proto/lib/python/none.proto
  src/syft/ast/attribute.py
  src/syft/ast/callable.py
  src/syft/ast/klass.py
  src/syft/core/node/common/action/function_or_constructor_action.py
  src/syft/core/node/common/action/run_class_method_action.py
  src/syft/grid/duet/server.py
  src/syft/lib/generic.py
  src/syft/lib/python/bool.py
  src/syft/lib/python/list.py
  src/syft/lib/python/primitive_factory.py
  src/syft/lib/python/string.py
  src/syft/lib/torch/__init__.py
  src/syft/lib/torch/allowlist.py
  src/syft/lib/torch/parameter.py
  src/syft/lib/util.py
  src/syft/proto/lib/python/none_pb2.py
  tests/syft/lib/torch/nn/parameter/parameter_remote_method_api_suite_test.py
  tests/syft/lib/torch/tensor/tensor_remote_method_api_suite_test.py
Labels: syft 0.3

#4564 Test coverage fix
  docs/basics.rst
  docs/codebase_walkthrough.rst
  docs/coding_standards.rst
  docs/dev_environment.rst
  docs/duet.rst
  docs/finding_an_issue.rst
  docs/installing.rst
  docs/joining_a_team.rst
  requirements.txt
  setup.cfg
  src/syft/core/common/serde/deserialize.py
  tests/syft/core/common/serde/__init__.py
  tests/syft/core/common/serde/deserialize_test.py
  tests/syft/core/io/location/specific_test.py
  tests/syft/core/node/common/action/function_or_constructor_action_test.py
  tests/syft/core/node/common/service/obj_search_permission_service_test.py
  tests/syft/lib/python/float/float_test.py
Labels: syft 0.3

#4580 Duet DEMO (Minor Fixes)
  examples/experimental/ionesio/Bob.ipynb
  examples/experimental/ionesio/Maria.ipynb
  proto/grid/service/signaling_service.proto
  src/syft/grid/connections/webrtc.py
  src/syft/grid/duet/om_signaling_client.py
  src/syft/grid/duet/signaling_client.py
  src/syft/grid/duet/webrtc_duet.py
  src/syft/grid/network.py
  src/syft/grid/services/signaling_service.py
  src/syft/proto/grid/service/signaling_service_pb2.py
  tests/syft/grid/services/signaling_service_test.py
Labels: Priority: 1 - Immediate :fire:, Type: Improvement :chart_with_upwards_trend:, syft 0.3

#4601 Torchviz fix
  examples/experimental/madhava/MNIST.ipynb
  src/syft/lib/python/__init__.py
  src/syft/lib/torch/allowlist.py
  src/syft/proto/ast/ast_object_pb2.py
  src/syft/proto/core/auth/signed_message_pb2.py
  src/syft/proto/core/common/common_object_pb2.py
  src/syft/proto/core/core_object_pb2.py
  src/syft/proto/core/io/address_pb2.py
  src/syft/proto/core/io/connection_pb2.py
  src/syft/proto/core/io/location_pb2.py
  src/syft/proto/core/io/route_pb2.py
  src/syft/proto/core/node/common/action/get_object_pb2.py
  src/syft/proto/core/node/common/action/run_class_method_pb2.py
  src/syft/proto/core/node/common/action/run_function_or_constructor_pb2.py
  src/syft/proto/core/node/common/action/save_object_pb2.py
  src/syft/proto/core/node/common/client_pb2.py
  src/syft/proto/core/node/common/service/child_node_lifecycle_service_pb2.py
  src/syft/proto/core/node/common/service/heritage_update_service_pb2.py
  src/syft/proto/core/node/common/service/object_search_message_pb2.py
  src/syft/proto/core/node/common/service/object_search_permission_update_message_pb2.py
  src/syft/proto/core/node/common/service/repr_service_pb2.py
  src/syft/proto/core/node/domain/service/accept_or_deny_request_message_pb2.py
  src/syft/proto/core/node/domain/service/get_all_requests_message_pb2.py
  src/syft/proto/core/node/domain/service/request_answer_message_pb2.py
  src/syft/proto/core/node/domain/service/request_answer_response_pb2.py
  src/syft/proto/core/node/domain/service/request_message_pb2.py
  src/syft/proto/core/pointer/pointer_pb2.py
  src/syft/proto/core/store/store_object_pb2.py
  src/syft/proto/grid/service/signaling_service_pb2.py
  src/syft/proto/lib/generic_tensor_pb2.py
  src/syft/proto/lib/lib_object_pb2.py
  src/syft/proto/lib/numpy/tensor_pb2.py
  src/syft/proto/lib/python/bool_pb2.py
  src/syft/proto/lib/python/complex_pb2.py
  src/syft/proto/lib/python/dict_pb2.py
  src/syft/proto/lib/python/float_pb2.py
  src/syft/proto/lib/python/int_pb2.py
  src/syft/proto/lib/python/list_pb2.py
  src/syft/proto/lib/python/none_pb2.py
  src/syft/proto/lib/python/string_pb2.py
  src/syft/proto/lib/torch/parameter_pb2.py
  src/syft/proto/lib/torch/tensor_pb2.py
  src/syft/proto/syft_object_pb2.py
  src/syft/proto/util/json_message_pb2.py
Labels: syft 0.3

#4614 Colab script
  scripts/colab.sh
Labels: syft 0.3

#4615 Adding name param to request
  src/syft/core/node/domain/client.py
  src/syft/core/pointer/pointer.py
  src/syft/grid/duet/__init__.py
Labels: syft 0.3

#4618 Fix colab.sh script
  scripts/colab.sh
Labels: syft 0.3

#4619 Remote execution of torch hooks
  syft/frameworks/torch/fl/dataset.py
  syft/frameworks/torch/hook/hook_args.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/generic/frameworks/hook/hook.py
  syft/generic/object_storage.py
  syft/generic/pointers/pointer_tensor.py
  test/generic/pointers/test_pointer_tensor.py
  test/torch/federated/test_dataset.py
Labels: Type: New Feature :heavy_plus_sign:
