Repository OpenMined/PySyft, pull requests merged in 2020-12, with the labels that each got.

#4877 Fix issue with logging bool being backwards
  examples/duet/mnist/MNIST_Syft_Data_Owner.ipynb
  examples/duet/mnist/MNIST_Syft_Data_Scientist.ipynb
  src/syft/__init__.py
Labels: Type: Bug :bug:

#4876 Fixed issue with AST Cache on python types directly using add_attr
  src/syft/ast/__init__.py
  src/syft/ast/module.py
  tests/syft/ast/util_test.py
  tests/syft/lib/torch/client_torch_test.py
Labels: Type: Bug :bug:

#4807 Experiment with data channel chunking
  examples/duet/mnist/send_tensor.py
  src/syft/grid/connections/webrtc.py
Labels: syft 0.3

#4859 Add warnings for implicit CUDA-to-CPU shift, closing #4804
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/paillier.py
Labels: 0.2.x

#4870 Add admin and compliance officer to node's auth scheme
  src/syft/core/node/abstract/node.py
  src/syft/core/node/common/node.py
  src/syft/core/node/common/service/auth.py
  tests/syft/core/node/common/service/auth_test.py
Labels: Type: Improvement :chart_with_upwards_trend:, syft 0.3

#4900 Added some FAQs on 0.2.x to 0.3.x
  README.md
  docs/FAQ_0.2.x.md
Labels: Type: Documentation :books:

#4895 Cuda support for SMPC in 0.2.x
  examples/tutorials/Part 12 bis - Encrypted Training on MNIST.ipynb
  pip-dep/requirements.txt
  setup.cfg
  syft/__init__.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/hook/hook_args.py
  syft/frameworks/torch/mpc/beaver.py
  syft/frameworks/torch/mpc/cuda/__init__.py
  syft/frameworks/torch/mpc/cuda/fss.py
  syft/frameworks/torch/mpc/cuda/tensor.py
  syft/frameworks/torch/mpc/fss.py
  syft/frameworks/torch/mpc/primitives.py
  syft/frameworks/torch/mpc/spdz.py
  syft/frameworks/torch/nn/__init__.py
  syft/frameworks/torch/nn/conv.py
  syft/frameworks/torch/nn/functional.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  syft/frameworks/torch/torch_attributes.py
  syft/grid/clients/data_centric_fl_client.py
  syft/sandbox.py
  syft/serde/compression.py
  syft/serde/msgpack/proto.py
  syft/serde/msgpack/serde.py
  syft/serde/msgpack/torch_serde.py
  syft/serde/protobuf/torch_serde.py
  syft/serde/torch/serde.py
  syft/workers/base.py
  syft/workers/virtual.py
  syft/workers/websocket_client.py
  test/generic/pointers/test_pointer_tensor.py
  test/notebooks/test_notebooks.py
  test/serde/msgpack/test_msgpack_serde.py
  test/serde/serde_helpers.py
  test/torch/mpc/test_crypto_store.py
  test/torch/mpc/test_fss.py
  test/torch/nn/test_nn.py
  test/torch/tensors/test_additive_shared.py
  test/torch/tensors/test_autograd.py
  test/workers/test_base.py
Labels: 0.2.x

#4815 Replace Python FSS code by Sycret
  syft/frameworks/torch/mpc/fss.py
  syft/frameworks/torch/mpc/primitives.py
  test/torch/mpc/test_crypto_store.py
  test/torch/mpc/test_fss.py
Labels: 0.2.x, Priority: 3 - Medium :unamused:, Type: New Feature :heavy_plus_sign:, Type: Research :microscope:

#4942 Test Coverage: Improve test coverage for syft.core.io.address
  src/syft/core/io/address.py
  tests/syft/core/io/address_test.py
Labels: Type: Testing :test_tube:

#4823 Add a first example of porting SyMPC to Syft
  .github/workflows/merge_tests.yml
  .github/workflows/pr_tests.yml
  examples/duet/mnist/MNIST_Syft_Data_Owner.ipynb
  examples/duet/mnist/MNIST_Syft_Data_Scientist.ipynb
  examples/secure-multi-party-computation/Duet/1-DS-1-DO/POC - MPC Tensor - Duet - Party 1.ipynb
  examples/secure-multi-party-computation/Duet/1-DS-1-DO/POC - MPC Tensor - Duet - Party 2.ipynb
  examples/secure-multi-party-computation/Duet/1-DS-2-DO/POC - MPC Tensor - Duet - Alice.ipynb
  examples/secure-multi-party-computation/Duet/1-DS-2-DO/POC - MPC Tensor - Duet - Bob.ipynb
  examples/secure-multi-party-computation/Duet/1-DS-2-DO/POC - MPC Tensor - Duet.ipynb
  examples/secure-multi-party-computation/VMs/POC - Share Tensor.ipynb
  proto/lib/python/int.proto
  proto/lib/sympc/session.proto
  proto/lib/sympc/share_tensor.proto
  proto/lib/torch/tensor.proto
  requirements/supported_libs.txt
  setup.cfg
  src/syft/grid/duet/exchange_ids.py
  src/syft/lib/__init__.py
  src/syft/lib/sympc/__init__.py
  src/syft/lib/sympc/session.py
  src/syft/lib/sympc/session_util.py
  src/syft/lib/sympc/share.py
  src/syft/lib/torch/allowlist.py
  src/syft/proto/lib/sympc/session_pb2.py
  src/syft/proto/lib/sympc/share_tensor_pb2.py
  tests/syft/lib/sympc/sympc_test.py
Labels: Type: New Feature :heavy_plus_sign:

#4879 PSI Support
  examples/private-set-intersection/PSI_Client_Syft_Data_Scientist.ipynb
  examples/private-set-intersection/PSI_Client_Syft_Data_Scientist_user_friendly.ipynb
  examples/private-set-intersection/PSI_Server_Syft_Data_Owner.ipynb
  examples/private-set-intersection/PSI_Server_Syft_Data_Owner_user_friendly.ipynb
  requirements/supported_libs.txt
  src/syft/ast/klass.py
  src/syft/core/node/common/action/run_class_method_action.py
  src/syft/core/node/common/service/obj_search_service.py
  src/syft/core/pointer/pointer.py
  src/syft/core/store/storeable_object.py
  src/syft/lib/openmined_psi/__init__.py
  src/syft/lib/python/__init__.py
  src/syft/lib/python/protobuf.py
  src/syft/util.py
  tests/syft/lib/psi/__init__.py
  tests/syft/lib/psi/psi_test.py
Labels: Type: New Feature :heavy_plus_sign:
