Repository OpenMined/PySyft, pull requests merged in 2020-01, with the labels that each got.

#2876 Add Protobuf serialization for the remaining Torch types
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  syft/serde/protobuf/torch_serde.py
  test/serde/protobuf/test_protobuf_serde_full.py
Labels: new feature, protobuf

#2877 Add Protobuf serialization for `Object` and `Operation` messages, `AST` tensor
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/generic/pointers/pointer_tensor.py
  syft/messaging/message.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  syft/serde/protobuf/torch_serde.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: protobuf

#2376 Replace TemporaryFile() with io.BytesIO()
  syft/serde/torch/serde.py
  test/serde/msgpack/test_msgpack_serde.py
Labels: serialization

#2891 Update Part 11 - Secure Deep Learning Classification.ipynb
  examples/tutorials/translations/chinese/Part 11 - Secure Deep Learning Classification.ipynb
Labels: tutorials

#2871 Make grad_fn serializable
  pip-dep/requirements.txt
  pip-dep/requirements_dev.txt
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/autograd.py
  syft/frameworks/torch/tensors/interpreters/gradients.py
  syft/frameworks/torch/tensors/interpreters/gradients_core.py
  syft/serde/msgpack/serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
Labels: serialization

#2890 Add tutorial 2 romanian
  examples/tutorials/translations/romanian/Part 02 - Intro to Federated Learning.ipynb
Labels: translation

#2906 Translation to Spanish of Tutorial Part 05 - Welcome to the sandbox
  examples/tutorials/translations/español/Parte 05 - Bienvenido a la caja de arena.ipynb
Labels: translation

#2907 Remove LPT and CRT
  examples/experimental/Large Precision Tensor.ipynb
  syft/__init__.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/tensors/interpreters/crt_precision.py
  syft/frameworks/torch/tensors/interpreters/large_precision.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/serde/serde.py
  test/torch/tensors/test_crt_precision.py
  test/torch/tensors/test_large_precision.py
  test/torch/tensors/test_native.py
Labels: refactor

#2760 Moving PyGrid module to PySyft
  .travis.yml
  examples/tutorials/Part 05 - Welcome to the Sandbox.ipynb
  examples/tutorials/Part 07 - Federated Learning with Federated Dataset.ipynb
  examples/tutorials/grid/Part 01 - Intro to Grid Platform.ipynb
  examples/tutorials/grid/Part 02 - Grid as a Secure MLaaS to Cloud Providers.ipynb
  examples/tutorials/grid/Part 03 - Grid applied to Smart Cities and Smart Homes.ipynb
  examples/tutorials/grid/federated_learning/mnist/Fed.Learning MNIST [ Part-1 ] - Populate a Grid Network ( Dataset ).ipynb
  examples/tutorials/grid/federated_learning/mnist/Fed.Learning MNIST [ Part-2 ] - Train a Model.ipynb
  examples/tutorials/grid/federated_learning/spam_prediction/Federated_SMS_Spam_prediction [Part 1] - Populate a Grid Network (Dataset).ipynb
  examples/tutorials/grid/federated_learning/spam_prediction/Federated_SMS_Spam_prediction [Part 2] - Train a Model.ipynb
  examples/tutorials/grid/federated_learning/spam_prediction/handcrafted_GRU.py
  examples/tutorials/grid/federated_learning/spam_prediction/preprocess.py
  examples/tutorials/grid/images/secure_mlaas.png
  examples/tutorials/grid/images/smart_home.png
  examples/tutorials/translations/chinese/Part 05 - Welcome to the Sandbox.ipynb
  examples/tutorials/translations/chinese/Part 07 - Federated Learning with Federated Dataset.ipynb
  examples/tutorials/translations/español/Parte 05 - Bienvenido a la caja de arena.ipynb
  examples/tutorials/translations/português/Parte 05 - Bem-vindo ao Sandbox.ipynb
  syft/__init__.py
  syft/codes.py
  syft/generic/pointers/pointer_tensor.py
  syft/grid.py
  syft/grid/__init__.py
  syft/grid/abstract_grid.py
  syft/grid/authentication/__init__.py
  syft/grid/authentication/account.py
  syft/grid/authentication/credential.py
  syft/grid/private_grid.py
  syft/grid/public_grid.py
  syft/sandbox.py
  syft/workers/node_client.py
  test/notebooks/test_notebooks.py
  test/serde/serde_helpers.py
  test/test_grid.py
  test/test_sandbox.py
  test/torch/federated/test_dataset.py
Labels: grid, refactor

#2868 fix: targets in makefile were faulty
  Makefile
  setup.py
Labels: bug

#2913 NumpyTensor
  examples/experimental/NumpyTensor.ipynb
  syft/__init__.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/tensors/interpreters/hook.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/numpy.py
  syft/grid/private_grid.py
  syft/workers/node_client.py
  test/torch/tensors/test_numpy.py
Labels: refactor

#2902 Hindi Translation part 11,12 and 12-bis
  examples/tutorials/Part 12 bis - Encrypted Training on MNIST.ipynb
  examples/tutorials/translations/hindi/Part 03 - Advanced Remote Execution Tools.ipynb
  examples/tutorials/translations/hindi/Part 11 - Secure Deep Learning Classification.ipynb
  examples/tutorials/translations/hindi/Part 12 - Train an Encrypted Neural Network on Encrypted Data.ipynb
  examples/tutorials/translations/hindi/Part 12 bis - Encrypted Training on MNIST.ipynb
Labels: translation

#2899 Translation to Indonesian Tutorial - Part 01
  examples/tutorials/translations/indonesian/Bagian 01 - Peralatan Dasar untuk Privasi Pembelajaran Dalam.ipynb
Labels: translation

#2895 Translation to Portuguese of the tutorial Part 06
  examples/tutorials/translations/português/Parte 05 - Bem-vindo ao Sandbox.ipynb
  examples/tutorials/translations/português/Parte 06 - Aprendizado Federado com MNIST usando uma CNN.ipynb
Labels: translation

#2908 importlib has no attribute util error
  syft/dependency_check.py
Labels: bug

#2922 Update hook.py
  syft/frameworks/torch/tensors/interpreters/hook.py
Labels: bug, documentation

#2896 Create python implementation of torch.nn.Conv2d and torch.nn.AvgPool2d
  .travis.yml
  syft/frameworks/torch/nn/__init__.py
  syft/frameworks/torch/nn/conv.py
  syft/frameworks/torch/nn/pool.py
  test/generic/test_string.py
  test/torch/nn/test_conv.py
  test/torch/nn/test_pool.py
Labels: new feature

#2919 Split notebook tests into separate tests per notebook
  test/notebooks/test_notebooks.py
Labels: tutorials

#2928 Run PR tests on various Pythons
  .github/workflows/run-tests.yml
  .github/workflows/run-translation-tests.yml
  .travis.yml
  setup.cfg
  test/efficiency_tests/assertions.py
  test/efficiency_tests/test_activations_time.py
  test/efficiency_tests/test_linalg_time.py
  test/notebooks/test_notebooks.py
Labels: packaging

#2930 Bump pytorch to 1.4
  pip-dep/requirements.txt
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/serde/msgpack/torch_serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/torch_serde.py
  syft/serde/torch/serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: pytorch

#2951 Exorcise a Python `eval` and transmute into the lesser demon `getattr`
  syft/frameworks/torch/tensors/interpreters/native.py
Labels: security

#2910 Refactor Plan using PlaceHolder
  examples/tutorials/advanced/Introduction to Promises and PromiseTensors.ipynb
  examples/tutorials/grid/federated_learning/spam_prediction/handcrafted_GRU.py
  pip-dep/requirements.txt
  syft/__init__.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/placeholder.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  syft/frameworks/torch/tensors/interpreters/promise.py
  syft/generic/frameworks/hook/hook.py
  syft/generic/frameworks/hook/trace.py
  syft/messaging/plan/plan.py
  syft/messaging/plan/procedure.py
  syft/messaging/plan/state.py
  syft/messaging/promise.py
  syft/messaging/protocol.py
  syft/serde/msgpack/serde.py
  syft/serde/torch/serde.py
  syft/workers/base.py
  test/message/test_plan.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
  test/torch/pointers/test_pointer_plan.py
  test/torch/tensors/test_promise.py
  test/workers/test_virtual.py
Labels: plans, refactor
