Repository OpenMined/PySyft, pull requests merged in 2020-06, with the labels that each got.

#3638 Proto messaging support
  pip-dep/requirements.txt
  syft/messaging/message.py
  test/serde/protobuf/test_protobuf_serde_full.py
Labels: Type: Improvement :chart_with_upwards_trend:, protobuf, serialization

#3652 Remove owner attribute from FrameworkWrapper
  syft/execution/plan.py
  syft/execution/role.py
  syft/execution/tracing.py
Labels: Type: Improvement :chart_with_upwards_trend:, protocols

#3654 Move tests for generic functionality out of `test/torch/tensors` dir
  test/generic/pointers/__init__.py
  test/generic/pointers/test_callable_pointer.py
  test/generic/pointers/test_dataset_pointer.py
  test/generic/pointers/test_multi_pointer.py
  test/generic/pointers/test_pointer_plan.py
  test/generic/pointers/test_pointer_tensor.py
  test/generic/test_autograd.py
  test/generic/test_functions.py
  test/generic/test_gc.py
  test/generic/test_logging.py
  test/generic/test_private.py
Labels: Type: Refactor :hammer:

#3650 Fixed precision tensor support
  syft/frameworks/torch/tensors/interpreters/precision.py
  test/serde/protobuf/test_protobuf_serde_full.py
Labels: Type: Improvement :chart_with_upwards_trend:, protobuf, serialization

#3641 BaseDataset proto support
  syft/frameworks/torch/fl/dataset.py
  test/serde/protobuf/test_protobuf_serde_full.py
Labels: Type: Improvement :chart_with_upwards_trend:, protobuf, serialization

#3660 Clean up `AbstractSendable` to remove extraneous methods
  examples/experimental/Federated Learning Experiment/FL Experiment.ipynb
  examples/experimental/Federated Learning Experiment/server.py
  syft/generic/abstract/sendable.py
  syft/generic/abstract/tensor.py
  test/serde/msgpack/test_msgpack_serde.py
Labels: Status: Review Needed :raising_hand:, Type: Refactor :hammer:

#3655 Improve `@hookable` decorator to allow modifying return values after
  syft/generic/abstract/hookable.py
  syft/workers/base.py
  test/generic/test_hookable.py
Labels: Status: Review Needed :raising_hand:, Type: Refactor :hammer:

#3653 Adding support in msgpack for external libs.
  syft/serde/msgpack/proto.py
  syft/serde/syft_serializable.py
  test/serde/msgpack/test_msgpack_serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
Labels: Type: Improvement :chart_with_upwards_trend:

#3659 Add iterable behavior for PointerTensor
  syft/generic/frameworks/hook/hook_args.py
  syft/generic/object_storage.py
  syft/generic/pointers/pointer_tensor.py
  test/generic/pointers/test_pointer_tensor.py
Labels: Type: New Feature :heavy_plus_sign:

#3565 Full Demo: Training an Encrypted Neural Network across Workers using Crypten (with jails)
  examples/experimental/Training an Encrypted Neural Network across Workers using Crypten.ipynb
  syft/frameworks/crypten/context.py
  syft/frameworks/crypten/jail.py
  syft/frameworks/torch/hook/hook.py
  test/crypten/test_context.py
  test/crypten/test_hook.py
  test/crypten/test_jail.py
Labels: CrypTen

#3666 Simplify encrypted aggregation in the tutorials
  examples/tutorials/Part 10 - Federated Learning with Secure Aggregation.ipynb
Labels: Type: Documentation :books:, Type: Improvement :chart_with_upwards_trend:

#3672 Fix: Copy issue with ciphertext in FV scheme.
  syft/frameworks/torch/he/fv/decryptor.py
  test/torch/tensors/test_fv.py
Labels: Crypto Team, Priority: 1 - Immediate :fire:, homomorphic encryption

#3675 Change `whitelist` to `allow_list`
  test/workers/test_base.py
  test/workers/test_virtual.py
  test/workers/test_websocket_worker.py
Labels: Type: Bug :bug:

#3684 Update polynomial operations
  syft/frameworks/torch/he/fv/util/operations.py
  test/torch/tensors/test_fv.py
Labels: Crypto Team, Fix, homomorphic encryption

#3674 Addition operation for FV scheme
  examples/experimental/FV HE Experimentation.ipynb
  syft/frameworks/torch/he/fv/evaluator.py
  syft/frameworks/torch/he/fv/util/operations.py
  test/torch/tensors/test_fv.py
Labels: Crypto Team, Type: New Feature :heavy_plus_sign:, gsoc, homomorphic encryption

#3637 Added functionality to create a cluster using autoscale API
  syft/grid/autoscale/gcloud.py
  syft/grid/autoscale/test.ipynb
  syft/grid/autoscale/test.py
  syft/grid/autoscale/utils/gcloud_configurations.py
Labels: Type: New Feature :heavy_plus_sign:, grid

#3705 Detecting duplicate worker IDs in crypten computation
  syft/frameworks/crypten/context.py
  test/crypten/test_context.py
Labels: CrypTen, Priority: 2 - High :cold_sweat:, Type: Bug :bug:

#3685 Removed `wrap()` on non-tensor pointers in `respond_to_search()`
  syft/workers/message_handler.py
Labels: Priority: 1 - Immediate :fire:, Severity: 1 - Critical :fire:, Type: Bug :bug:

#3371 feat: add plan translation to tfjs
  pip-dep/requirements.txt
  syft/exceptions.py
  syft/execution/computation.py
  syft/execution/plan.py
  syft/execution/translation/__init__.py
  syft/execution/translation/threepio.py
  syft/execution/translation/torchscript.py
  test/execution/test_translation.py
Labels: Type: New Feature :heavy_plus_sign:, plans

#3708 New strategy for storing rank to id translation tables
  syft/frameworks/crypten/__init__.py
  syft/frameworks/crypten/context.py
  syft/frameworks/crypten/message_handler.py
  test/crypten/test_context.py
Labels: CrypTen, Type: Improvement :chart_with_upwards_trend:

#3781 Fixed bug in set_model_params() in Create Plan
  examples/experimental/FL Training Plan/Create Plan.ipynb
Labels: Fix, Severity: 2 - High :cold_sweat:, Status: Review Needed :raising_hand:, Type: Bug :bug:

#3760 Customizable timeout in workers
  syft/workers/node_client.py
  syft/workers/websocket_client.py
Labels: Priority: 2 - High :cold_sweat:, Type: Improvement :chart_with_upwards_trend:

#3759 Negate operation of FV scheme
  syft/frameworks/torch/he/fv/evaluator.py
  test/torch/tensors/test_fv.py
Labels: Crypto Team, Type: New Feature :heavy_plus_sign:, gsoc, homomorphic encryption

#3775 Implemented Subtraction operation of FV Scheme
  syft/frameworks/torch/he/fv/evaluator.py
  syft/frameworks/torch/he/fv/util/operations.py
  test/torch/tensors/test_fv.py
Labels: Crypto Team, Type: New Feature :heavy_plus_sign:, gsoc, homomorphic encryption

#3799 Increase coverage to 100
  .flake8
  .github/workflows/tests.yml
  .github/workflows/tutorials.yml
  setup.cfg
  setup.py
  src/syft/__init__.py
  src/syft/ast/attribute.py
  src/syft/ast/callable.py
  src/syft/ast/globals.py
  src/syft/ast/klass.py
  src/syft/ast/module.py
  src/syft/lib/torch.py
  src/syft/message/__init__.py
  src/syft/pointer/__init__.py
  src/syft/worker/virtual/__init__.py
  tests/syft/test_skeleton.py
  tests/syft/typecheck/typecheck_test.py
Labels: syft 0.3
