Repository OpenMined/PySyft, pull requests merged in 2020-07, with the labels that each got.

#3782 Add baseline pytorch model
  examples/experimental/Length of Stay demo on MIMIC/README.md
  examples/experimental/Length of Stay demo on MIMIC/__init__.py
  examples/experimental/Length of Stay demo on MIMIC/example/test_trainer.py
  examples/experimental/Length of Stay demo on MIMIC/metadata/config_result_paper.json
  examples/experimental/Length of Stay demo on MIMIC/pytorch/__init__.py
  examples/experimental/Length of Stay demo on MIMIC/pytorch/models.py
  examples/experimental/Length of Stay demo on MIMIC/pytorch/trainer.py
Labels: Type: Research :microscope:

#3646 Update notebook/tornado versions
  README.md
Labels: Type: Documentation :books:

#3804 Better typing
  requirements.txt
  src/syft/typecheck/typecheck.py
  tests/syft/typecheck/typecheck_test.py
Labels: syft 0.3

#3711 Multiplication operation of FV scheme.
  examples/experimental/FV HE Experimentation.ipynb
  syft/frameworks/torch/he/fv/context.py
  syft/frameworks/torch/he/fv/decryptor.py
  syft/frameworks/torch/he/fv/evaluator.py
  syft/frameworks/torch/he/fv/util/operations.py
  syft/frameworks/torch/he/fv/util/rlwe.py
  test/torch/tensors/test_fv.py
Labels: Crypto Team, Type: New Feature :heavy_plus_sign:, gsoc, homomorphic encryption

#3531 POC crypten.nn.module in plans
  syft/frameworks/crypten/__init__.py
  syft/frameworks/crypten/context.py
  syft/frameworks/crypten/hook/hook.py
  syft/frameworks/crypten/message_handler.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/hook/hook_args.py
  syft/generic/frameworks/types.py
  syft/messaging/message.py
  syft/workers/base.py
  test/crypten/test_context.py
  test/crypten/test_utils.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: CrypTen

#3798 Fix Plan trace for inplace ops, add Role actions pruning
  syft/execution/plan.py
  syft/execution/role.py
  syft/frameworks/torch/torch_attributes.py
  syft/generic/frameworks/attributes.py
  syft/generic/frameworks/hook/hook.py
  test/execution/test_plan.py
Labels: Status: Review Needed :raising_hand:, Type: Bug :bug:, Type: Improvement :chart_with_upwards_trend:

#3801 Serialize Plan's roles and base_framework fields
  pip-dep/requirements.txt
  syft/execution/plan.py
  syft/execution/translation/threepio.py
  test/notebooks/test_notebooks.py
  test/serde/serde_helpers.py
Labels: Status: Review Needed :raising_hand:, Type: Improvement :chart_with_upwards_trend:, federated_learning

#3779 Threepio: Support 1 -> many command translation
  examples/tutorials/Part 08 - Introduction to Plans.ipynb
  pip-dep/requirements.txt
  syft/execution/translation/threepio.py
  syft/execution/translation/torchscript.py
  test/execution/test_translation.py
Labels: Priority: 2 - High :cold_sweat:, Status: Review Needed :raising_hand:, Type: New Feature :heavy_plus_sign:, federated_learning, translation

#3821 Quick Fix CrypTen Demo Jails
  examples/experimental/CrypTen - Training an Encrypted Neural Network across Workers using Jails.ipynb
Labels: CrypTen

#3807 Fix issues in handle_func_command in syft tensors
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/autograd.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/frameworks/torch/tensors/interpreters/precision.py
Labels: Type: Bug :bug:

#3818 Grid module architecture refactoring
  examples/tutorials/Part 01 - The Basic Tools of Private Deep Learning.ipynb
  examples/tutorials/advanced/Encrypted Linear Regression.ipynb
  examples/tutorials/advanced/websockets_mnist/Federated learning with websockets and federated averaging.ipynb
  examples/tutorials/grid/Part 01 - Intro to Grid Platform.ipynb
  examples/tutorials/grid/Part 02 - Grid as a Secure MLaaS to Cloud Providers.ipynb
  examples/tutorials/grid/Part 02 - PyGrid applied to Smart Cities and Smart Homes.ipynb
  examples/tutorials/grid/federated_learning/mnist/Fed.Learning MNIST [ Part-1 ] - Populate a Grid Network ( Dataset ).ipynb
  examples/tutorials/grid/federated_learning/mnist/Fed.Learning MNIST [ Part-2 ] - Train a Model.ipynb
  examples/tutorials/grid/federated_learning/spam_prediction/Federated_SMS_Spam_prediction [Part 1] - Populate a Grid Network (Dataset).ipynb
  examples/tutorials/grid/federated_learning/spam_prediction/Federated_SMS_Spam_prediction [Part 2] - Train a Model.ipynb
  syft/federated/fl_client.py
  syft/federated/fl_job.py
  syft/grid/__init__.py
  syft/grid/abstract_grid.py
  syft/grid/admin/__init__.py
  syft/grid/authentication/account.py
  syft/grid/authentication/credential.py
  syft/grid/clients/__init__.py
  syft/grid/clients/dynamic_fl_client.py
  syft/grid/clients/static_fl_client.py
  syft/grid/exceptions.py
  syft/grid/private_grid.py
  syft/grid/public_grid.py
  syft/grid/rtc/__init__.py
  syft/grid/rtc/network.py
  syft/grid/rtc/nodes_manager.py
  syft/grid/rtc/peer_events.py
  syft/grid/rtc/webrtc_connection.py
  syft/grid/utils/__init__.py
  syft/grid/utils/autoscale/README.md
  syft/grid/utils/autoscale/gcloud.py
  syft/grid/utils/autoscale/test.ipynb
  syft/grid/utils/autoscale/test.py
  syft/grid/utils/autoscale/utils/gcloud_configurations.py
  syft/grid/utils/autoscale/utils/notebook/terraform_notebook.py
  syft/grid/utils/autoscale/utils/script/terraform_script.py
  syft/workers/static_fl_worker.py
Labels: Type: Refactor :hammer:

#3802 Add unit test for MNIST example tfjs translation
  examples/experimental/FL Training Plan/Create Plan.ipynb
  pip-dep/requirements.txt
  syft/execution/action.py
  syft/execution/plan.py
  syft/frameworks/torch/tensors/interpreters/gradients.py
  test/execution/test_plan.py
  test/execution/test_translation.py
Labels: Status: Review Needed :raising_hand:, Type: Improvement :chart_with_upwards_trend:, Type: Testing :test_tube:

#3853 Namespace dynamic_fl_client route
  syft/grid/clients/dynamic_fl_client.py
Labels: Priority: 2 - High :cold_sweat:, Severity: 3 - Medium :unamused:, Type: Code Quality :100:, Type: Improvement :chart_with_upwards_trend:

#3805 Add a parameter to batch all garbage collection calls every n seconds
  pip-dep/requirements.txt
  syft/generic/object_storage.py
  syft/generic/pointers/object_pointer.py
  syft/messaging/message.py
  syft/workers/base.py
  syft/workers/message_handler.py
  test/generic/test_gc.py
  test/serde/serde_helpers.py
Labels: Type: New Feature :heavy_plus_sign:

#3835 Improve public mul and div for AST
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  test/torch/tensors/test_additive_shared.py
Labels: Priority: 3 - Medium :unamused:, Severity: 3 - Medium :unamused:, Type: Improvement :chart_with_upwards_trend:

#3861 Static fl/get model notebook
  examples/tutorials/static-fl/Part 02a - Check Model.ipynb
  syft/grid/clients/static_fl_client.py
Labels: Status: Review Needed :raising_hand:, Type: Documentation :books:, Type: Improvement :chart_with_upwards_trend:

#3836 Add optimized versions of AvgPool, MaxPool and adaptive pooling
  syft/frameworks/torch/mpc/securenn.py
  syft/frameworks/torch/nn/__init__.py
  syft/frameworks/torch/nn/functional.py
  test/torch/nn/test_functional.py
  test/torch/nn/test_nn.py
  test/torch/tensors/test_additive_shared.py
Labels: Priority: 3 - Medium :unamused:, Severity: 3 - Medium :unamused:, Type: Improvement :chart_with_upwards_trend:

#3873 Syft decorator
  src/syft/__init__.py
  src/syft/common/__init__.py
  src/syft/common/id.py
  src/syft/common/message.py
  src/syft/core/__init__.py
  src/syft/core/io/abstract.py
  src/syft/core/io/route.py
  src/syft/core/io/virtual.py
  src/syft/core/message/__init__.py
  src/syft/core/nodes/abstract/client.py
  src/syft/core/nodes/abstract/service.py
  src/syft/core/nodes/abstract/worker.py
  src/syft/core/nodes/common/device.py
  src/syft/core/nodes/device/device.py
  src/syft/core/nodes/device/service/vm_service.py
  src/syft/core/nodes/domain/domain.py
  src/syft/core/nodes/vm/__init__.py
  src/syft/core/nodes/vm/client.py
  src/syft/core/nodes/vm/service/__init__.py
  src/syft/core/nodes/vm/service/delete_object_service.py
  src/syft/core/nodes/vm/service/repr_service.py
  src/syft/core/nodes/vm/service/run_class_service.py
  src/syft/core/nodes/vm/service/run_function_or_constructor_service.py
  src/syft/core/nodes/vm/service/save_object_service.py
  src/syft/core/nodes/vm/vm.py
  src/syft/core/store/storeable/object.py
  src/syft/decorators/__init__.py
  src/syft/decorators/syft_decorator.py
  src/syft/decorators/typecheck.py
  src/syft/typecheck/__init__.py
  src/syft/util.py
  tests/syft/decorators/__init__.py
  tests/syft/decorators/syft_decorator.py
  tests/syft/decorators/typecheck.py
Labels: syft 0.3

#3890 Update static FL get-model route to retrieve-model
  syft/grid/clients/static_fl_client.py
Labels: Type: Refactor :hammer:

#3889 Add BatchNorm to AdditiveSharingTensor
  syft/frameworks/torch/nn/__init__.py
  syft/frameworks/torch/nn/functional.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  test/torch/tensors/test_additive_shared.py
Labels: Priority: 3 - Medium :unamused:, Severity: 3 - Medium :unamused:, Type: New Feature :heavy_plus_sign:

#3870 Parameters validation for the FV scheme
  syft/frameworks/torch/he/fv/context.py
  syft/frameworks/torch/he/fv/modulus.py
  syft/frameworks/torch/he/fv/util/fv_std_param.py
  syft/frameworks/torch/he/fv/util/global_variable.py
  test/torch/tensors/test_fv.py
Labels: Type: New Feature :heavy_plus_sign:

#3892 Modify the FSS scheme to use Numpy
  pip-dep/requirements.txt
  syft/exceptions.py
  syft/frameworks/torch/mpc/fss.py
  syft/frameworks/torch/mpc/primitives.py
  test/torch/mpc/test_crypto_store.py
  test/torch/mpc/test_fss.py
  test/torch/tensors/test_additive_shared.py
Labels: Priority: 2 - High :cold_sweat:, Severity: 3 - Medium :unamused:, Type: Refactor :hammer:

#3895 Improve implementation of max and argmax
  examples/tutorials/Part 09 - Intro to Encrypted Programs.ipynb
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  test/torch/tensors/test_additive_shared.py
Labels: Priority: 1 - Immediate :fire:, Severity: 3 - Medium :unamused:, Status: Review Needed :raising_hand:, Type: Improvement :chart_with_upwards_trend:

#3910 Bump Pillow version in requirements.txt
  pip-dep/requirements.txt
Labels: Priority: 2 - High :cold_sweat:, Severity: 1 - Critical :fire:
