Repository OpenMined/PySyft, pull requests merged in 2020-03, with the labels that each got.

#3080 Improvements on syft Hook & Plans
  examples/experimental/FL Training Plan/Create Plan.ipynb
  examples/experimental/FL Training Plan/Execute Plan.ipynb
  examples/tutorials/advanced/Encrypted Linear Regression.ipynb
  syft/execution/plan.py
  syft/execution/protocol.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/hook/hook_args.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/frameworks/torch/tensors/interpreters/autograd.py
  syft/frameworks/torch/tensors/interpreters/placeholder.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  syft/frameworks/torch/torch_attributes.py
  syft/generic/frameworks/hook/hook.py
  syft/generic/frameworks/hook/hook_args.py
  syft/generic/object.py
  syft/generic/object_storage.py
  syft/generic/pointers/pointer_plan.py
  syft/grid/private_grid.py
  syft/serde/msgpack/torch_serde.py
  syft/workers/base.py
  test/execution/test_plan.py
  test/serde/msgpack/test_msgpack_serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
  test/torch/tensors/test_additive_shared.py
Labels: refactor

#3048 Fix broken asynchronous federated learning tutorial
  examples/tutorials/advanced/websockets-example-MNIST-parallel/Asynchronous-federated-learning-on-MNIST.ipynb
  examples/tutorials/advanced/websockets-example-MNIST-parallel/run_websocket_client.py
  syft/federated/federated_client.py
  syft/frameworks/torch/fl/utils.py
  syft/messaging/message.py
  syft/serde/msgpack/serde.py
  syft/workers/base.py
  syft/workers/websocket_client.py
  test/federated/test_train_config.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
  test/workers/test_base.py
  test/workers/test_virtual.py
Labels: tutorials

#3175 Avoid simplifying messages when routing/handling them
  syft/execution/computation.py
  syft/generic/pointers/multi_pointer.py
  syft/messaging/message.py
  syft/serde/msgpack/serde.py
  syft/serde/msgpack/torch_serde.py
  syft/workers/base.py
  syft/workers/websocket_client.py
  test/message/test_message.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
  test/workers/test_virtual.py
  test/workers/test_websocket_worker.py
Labels: refactor, serialization

#3186 Turn existing formatted strings into f-strings
  .pre-commit-config.yaml
  examples/tutorials/advanced/websockets-example-MNIST-parallel/run_websocket_client.py
  examples/tutorials/advanced/websockets-example-MNIST/run_websocket_client.py
  syft/execution/plan.py
  syft/execution/state.py
  syft/federated/federated_client.py
  syft/frameworks/keras/model/sequential.py
  syft/frameworks/torch/fl/dataset.py
  syft/frameworks/torch/hook/hook.py
  syft/frameworks/torch/linalg/lr.py
  syft/frameworks/torch/nn/rnn.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/generic/frameworks/hook/hook_args.py
  syft/generic/id_provider.py
  syft/generic/pointers/object_pointer.py
  syft/serde/msgpack/proto.py
  syft/workers/tfe.py
  test/execution/test_plan.py
  test/federated/test_federated_client.py
  test/federated/test_train_config.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/torch/federated/test_dataloader.py
  test/workers/test_websocket_worker.py
Labels: code quality, refactor, tests

#3168 Introduce communication actions
  pip-dep/requirements.txt
  syft/execution/communication.py
  syft/execution/computation.py
  syft/execution/plan.py
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/generic/pointers/pointer_tensor.py
  syft/messaging/message.py
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  syft/workers/base.py
  test/conftest.py
  test/message/test_message.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
  test/torch/pointers/test_pointer_tensor.py
  test/torch/tensors/test_native.py
Labels: refactor, serialization

#2960 Send & Get Datasets
  syft/frameworks/torch/fl/dataset.py
  syft/generic/frameworks/hook/hook_args.py
  syft/generic/pointers/pointer_dataset.py
  syft/serde/msgpack/serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/serde_helpers.py
  test/torch/federated/test_dataset.py
  test/torch/pointers/test_dataset_pointer.py
Labels: federated_learning

#3198 Standardize the names of tensor, plan, and worker command messages
  pip-dep/requirements.txt
  syft/generic/pointers/pointer_tensor.py
  syft/messaging/message.py
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  syft/workers/base.py
  syft/workers/websocket_client.py
  test/message/test_message.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
  test/workers/test_base.py
Labels: refactor

#3211 Move `Placeholder` class to `execution` package
  examples/experimental/FL Training Plan/Create Plan.ipynb
  pip-dep/requirements.txt
  syft/__init__.py
  syft/execution/computation.py
  syft/execution/placeholder.py
  syft/execution/plan.py
  syft/frameworks/torch/hook/hook.py
  syft/messaging/message.py
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: plans, refactor

#3083 Multi-worker computation graphs (SplitNN)
  examples/tutorials/advanced/Split Neural Network/Tutorial 1 - SplitNN Introduction.ipynb
  syft/frameworks/torch/tensors/interpreters/native.py
  syft/generic/pointers/pointer_tensor.py
  syft/serde/msgpack/torch_serde.py
  syft/workers/base.py
  test/serde/serde_helpers.py
  test/torch/pointers/test_pointer_tensor.py
Labels: new feature

#3203 Stop using `self._tmp` variables to pass data across functions
  syft/execution/plan.py
Labels: plans, refactor

#3195 Add dropout support for SMPC
  syft/frameworks/torch/tensors/interpreters/precision.py
  test/torch/tensors/test_precision.py
Labels: Crypto Team, multiparty computation

#3149 Pidgin Translation of the Tutorial
  examples/tutorials/translations/Pidgin/Part 01 - Basic Tools wey you need for Private Deep Learning.ipynb
  examples/tutorials/translations/Pidgin/Part 02 - Intro to Federated Learning- Pidgin.ipynb
  examples/tutorials/translations/Pidgin/Part 03 - Advanced Remote Execution Tools-Pidgin.ipynb
  examples/tutorials/translations/Pidgin/Part 04 - Federated Learning via Trusted Aggregator-Pidgin.ipynb
  examples/tutorials/translations/Pidgin/Part 05 - Welicome to Sandbox-Pidgin.ipynb
  examples/tutorials/translations/Pidgin/Part 07 - Make we do Federated Learning with FederatedDataset-Pidgin.ipynb
  examples/tutorials/translations/Pidgin/README.md
Labels: translation

#3205 Sigmoid aprox with tanh + fix sigmoid
  syft/frameworks/torch/tensors/interpreters/precision.py
  test/conftest.py
  test/torch/tensors/test_precision.py
Labels: Crypto Team

#3241 Fix relative imports in example notebooks
  examples/__init__.py
  examples/tutorials/__init__.py
  examples/tutorials/advanced/__init__.py
  examples/tutorials/advanced/federated_learning_with_trainconfig/Introduction to TrainConfig.ipynb
  examples/tutorials/advanced/federated_learning_with_trainconfig/__init__.py
  examples/tutorials/advanced/federated_learning_with_trainconfig/start_worker.py
  examples/tutorials/advanced/federated_sms_spam_prediction/Federated SMS Spam prediction.ipynb
  examples/tutorials/advanced/federated_sms_spam_prediction/__init__.py
  examples/tutorials/advanced/federated_sms_spam_prediction/handcrafted_GRU.py
  examples/tutorials/advanced/federated_sms_spam_prediction/preprocess.py
  examples/tutorials/advanced/monitor_network_traffic/__init__.py
  examples/tutorials/advanced/monitor_network_traffic/metrics.ipynb
  examples/tutorials/advanced/split_neural_network/Tutorial 1 - SplitNN Introduction.ipynb
  examples/tutorials/advanced/split_neural_network/Tutorial 2 - MultiLayer Split Neural Network.ipynb
  examples/tutorials/advanced/split_neural_network/Tutorial 3 - Folded Split Neural Network.ipynb
  examples/tutorials/advanced/split_neural_network/__init__.py
  examples/tutorials/advanced/split_neural_network/images/AccuracyvsFlops.png
  examples/tutorials/advanced/split_neural_network/images/FoldedNN.png
  examples/tutorials/advanced/split_neural_network/images/MultiSplitNN.png
  examples/tutorials/advanced/split_neural_network/images/P2P-DL.png
  examples/tutorials/advanced/split_neural_network/images/bandwidth.png
  examples/tutorials/advanced/split_neural_network/images/computation.png
  examples/tutorials/advanced/websockets_mnist/Federated learning with websockets and federated averaging.ipynb
  examples/tutorials/advanced/websockets_mnist/README.md
  examples/tutorials/advanced/websockets_mnist/__init__.py
  examples/tutorials/advanced/websockets_mnist/run_websocket_client.py
  examples/tutorials/advanced/websockets_mnist/start_websocket_servers.py
  examples/tutorials/advanced/websockets_mnist_parallel/Asynchronous-federated-learning-on-MNIST.ipynb
  examples/tutorials/advanced/websockets_mnist_parallel/__init__.py
  examples/tutorials/advanced/websockets_mnist_parallel/run_websocket_client.py
  examples/tutorials/advanced/websockets_mnist_parallel/start_websocket_servers.py
  examples/tutorials/grid/__init__.py
  examples/tutorials/grid/federated_learning/__init__.py
  examples/tutorials/grid/federated_learning/mnist/__init__.py
  examples/tutorials/grid/federated_learning/spam_prediction/__init__.py
  examples/tutorials/websocket/__init__.py
  examples/tutorials/websocket/deploy_workers/__init__.py
  examples/tutorials/websocket/pen_testing/__init__.py
  examples/tutorials/websocket/pen_testing/steal_data_over_sockets/__init__.py
  test/notebooks/test_notebooks.py
Labels: bug, tutorials

#3237 Add coverage range
  README.md
  codecov.yml
Labels: tests

#3223 Use `PlaceholderIds` in `Actions` and `Plans` (instead of full `Placeholders`)
  pip-dep/requirements.txt
  syft/execution/computation.py
  syft/execution/placeholder.py
  syft/execution/placeholder_id.py
  syft/execution/plan.py
  syft/execution/state.py
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: plans, refactor

#3251 Fixed arguments documentation of federated_avg method
  syft/frameworks/torch/fl/utils.py
Labels: documentation

#3177 Added additional comments to test files
  test/generic/test_object_storage.py
Labels: tests

#3256 Fix the placeholder serialization.
  syft/execution/placeholder.py
  test/execution/test_plan.py
Labels: plans, serialization

#3253 Cleaning FixedPrecision
  syft/frameworks/torch/nn/__init__.py
  syft/frameworks/torch/nn/conv.py
  syft/frameworks/torch/nn/functional.py
  syft/frameworks/torch/tensors/interpreters/precision.py
  test/torch/nn/test_conv.py
  test/torch/nn/test_functional.py
  test/torch/tensors/test_additive_shared.py
  test/torch/tensors/test_precision.py
Labels: code quality

#3234 Add a `protocol` kwarg to `encrypt()` method to select between MPC and Paillier HE
  syft/frameworks/torch/tensors/interpreters/native.py
  test/torch/tensors/test_native.py
  test/torch/tensors/test_paillier.py
Labels: Crypto Team

#3258 Model inversion attack tutorial
  examples/tutorials/advanced/privacy_attacks/Tutorial 1 - Black box model inversion.ipynb
Labels: security

#3201 Extract a Role class from Plans
  pip-dep/requirements.txt
  syft/execution/placeholder.py
  syft/execution/plan.py
  syft/execution/role.py
  syft/execution/state.py
  syft/frameworks/torch/tensors/interpreters/additive_shared.py
  syft/generic/object.py
  syft/serde/msgpack/serde.py
  syft/serde/protobuf/proto.py
  syft/serde/protobuf/serde.py
  test/execution/test_plan.py
  test/serde/msgpack/test_msgpack_serde_full.py
  test/serde/protobuf/test_protobuf_serde_full.py
  test/serde/serde_helpers.py
Labels: plans, refactor
