Repository OpenMined/PySyft, pull requests merged in 2020-11, with the labels that each got.

#4749 Add torch.Tensor.angle to allowlist and test suite
  src/syft/lib/torch/allowlist.py
  tests/syft/lib/allowlist_test.json
Labels: syft 0.3

#4746 Removed dup section
  CONTRIBUTING.md
Labels: syft 0.3

#4740 Testing existing functionality against torch==1.7.0
  .github/workflows/tests.yml
  scripts/compatibility_report.sh
  src/syft/lib/torch/__init__.py
  src/syft/lib/torch/allowlist.py
  tests/syft/lib/allowlist_test.json
  tests/syft/lib/allowlist_test.py
Labels: syft 0.3

#4783 Demo
  .gitignore
  docs/img/logo.png
  examples/duet/mnist/MNIST_Syft_Data_Owner.ipynb
  examples/duet/mnist/MNIST_Syft_Data_Scientist.ipynb
  examples/duet/mnist/seq_mnist.ipynb
  examples/mock_apis/duet/Data Owner Mock.ipynb
  examples/mock_apis/duet/Data Scientist Mock.ipynb
  proto/core/auth/signed_message.proto
  proto/core/common/common_object.proto
  proto/core/node/domain/service/request_message.proto
  proto/core/store/store_object.proto
  proto/lib/python/dict.proto
  requirements.txt
  setup.cfg
  src/syft/__init__.py
  src/syft/ast/globals.py
  src/syft/ast/klass.py
  src/syft/ast/module.py
  src/syft/core/common/group.py
  src/syft/core/common/module.py
  src/syft/core/common/object.py
  src/syft/core/common/uid.py
  src/syft/core/node/common/action/function_or_constructor_action.py
  src/syft/core/node/common/action/garbage_collect_object_action.py
  src/syft/core/node/common/action/get_object_action.py
  src/syft/core/node/common/action/run_class_method_action.py
  src/syft/core/node/common/action/save_object_action.py
  src/syft/core/node/common/client.py
  src/syft/core/node/common/node.py
  src/syft/core/node/common/service/obj_search_service.py
  src/syft/core/node/device/client.py
  src/syft/core/node/domain/client.py
  src/syft/core/node/domain/domain.py
  src/syft/core/node/domain/service/request_message.py
  src/syft/core/node/network/client.py
  src/syft/core/node/vm/client.py
  src/syft/core/pointer/pointer.py
  src/syft/core/store/store_disk.py
  src/syft/core/store/store_interface.py
  src/syft/core/store/store_memory.py
  src/syft/core/store/storeable_object.py
  src/syft/grid/connections/webrtc.py
  src/syft/grid/duet/__init__.py
  src/syft/lib/python/__init__.py
  src/syft/lib/python/dict.py
  src/syft/lib/python/util.py
  src/syft/lib/torch/allowlist.py
  src/syft/proto/core/auth/signed_message_pb2.py
  src/syft/proto/core/node/domain/service/request_message_pb2.py
  src/syft/proto/core/store/store_object_pb2.py
  src/syft/proto/lib/python/dict_pb2.py
  src/syft/util.py
  tests/syft/core/common/module_test.py
  tests/syft/core/common/object_test.py
  tests/syft/core/common/uid_test.py
  tests/syft/core/io/location/specific_test.py
  tests/syft/core/node/domain/domain_test.py
  tests/syft/core/node/domain/service/request_message_test.py
  tests/syft/core/node/node_test.py
  tests/syft/core/store/memory_storage_test.py
Labels: syft 0.3

#4808 More allowlist
  proto/lib/torch/valuesindices.proto
  src/syft/ast/callable.py
  src/syft/core/node/common/action/run_class_method_action.py
  src/syft/core/store/storeable_object.py
  src/syft/lib/python/__init__.py
  src/syft/lib/python/namedtuple.py
  src/syft/lib/torch/allowlist.py
  src/syft/proto/lib/torch/valuesindices_pb2.py
  tests/syft/lib/allowlist_test.json
  tests/syft/lib/allowlist_test.py
  tests/syft/lib/python/namedtuple/namedtuple_test.py
Labels: syft 0.3

#4785 Don't start counter thread if stdout doesn't have parent_header
  src/syft/grid/duet/__init__.py
Labels: syft 0.3

#4810 Fixed path to logo and added it to setup.cfg for packaging
  README.md
  docs/img/logo.png
  docs/img/logo_big.png
  docs/img/mini_notebooks.png
  examples/duet/README.md
  examples/duet/mnist/MNIST_Syft_Data_Owner.ipynb
  examples/duet/mnist/MNIST_Syft_Data_Scientist.ipynb
  setup.cfg
  src/syft/grid/duet/__init__.py
  src/syft/img/logo.png
Labels: syft 0.3

#4811 Updating branch refs from syft_0.3.0 to master 🚀
  README.md
  examples/duet/README.md
  examples/duet/mnist/MNIST_Syft_Data_Owner.ipynb
  examples/duet/mnist/MNIST_Syft_Data_Scientist.ipynb
  scripts/colab.sh
Labels: syft 0.3

#4787 Implement a make_searchable method on Pointer
  src/syft/core/node/common/service/obj_search_permission_service.py
  src/syft/core/node/common/service/obj_search_service.py
  src/syft/core/pointer/pointer.py
  tests/syft/core/node/common/service/obj_search_permission_service_test.py
  tests/syft/core/pointer/__init__.py
  tests/syft/core/pointer/pointer_test.py
Labels: syft 0.3

#4837 Updating contribution guide
  CONTRIBUTING.md
Labels: Type: Documentation :books:

#4812 Union support v2
  src/syft/ast/__init__.py
  src/syft/ast/util.py
  src/syft/lib/__init__.py
  src/syft/lib/misc/__init__.py
  src/syft/lib/misc/union.py
  src/syft/lib/python/__init__.py
  src/syft/lib/torch/allowlist.py
  tests/syft/lib/misc/__init__.py
  tests/syft/lib/misc/union_test.py
Labels: syft 0.3

#4814 Add boolean parameter to toggle searchability on a pointer
  src/syft/core/common/group.py
  src/syft/core/node/common/action/save_object_action.py
  src/syft/core/node/common/service/obj_search_permission_service.py
  src/syft/core/node/common/service/obj_search_service.py
  src/syft/core/pointer/pointer.py
  tests/syft/core/pointer/pointer_test.py
  tests/syft/core/store/storable_object_test.py
Labels: syft 0.3

#4836 Adding Set and OrderedDict support in syft.lib.python
  proto/lib/python/collections/ordered_dict.proto
  proto/lib/python/set.proto
  src/syft/core/node/common/action/get_object_action.py
  src/syft/lib/python/__init__.py
  src/syft/lib/python/collections/__init__.py
  src/syft/lib/python/collections/ordered_dict.py
  src/syft/lib/python/primitive_factory.py
  src/syft/lib/python/set.py
  src/syft/lib/python/string.py
  src/syft/lib/torch/allowlist.py
  src/syft/proto/lib/python/collections/ordered_dict_pb2.py
  src/syft/proto/lib/python/set_pb2.py
  tests/syft/lib/python/collections/__init__.py
  tests/syft/lib/python/collections/ordered_dict/__init__.py
  tests/syft/lib/python/collections/ordered_dict/ordered_dict_serde_test.py
  tests/syft/lib/python/collections/ordered_dict/ordereddict_reverse_test.py
  tests/syft/lib/python/collections/ordered_dict/pointer_test.py
  tests/syft/lib/python/set/__init__.py
  tests/syft/lib/python/set/pointer_test.py
  tests/syft/lib/python/set/serde_test.py
  tests/syft/lib/python/string/string_reverse_test.py
Labels: 0.3.1
