Repository OpenMined/PySyft, pull requests merged in 2021-09, with the labels that each got.

#5963 MPCTensor : Numpy Hook Methods
  packages/syft/src/syft/core/tensor/__init__.py
  packages/syft/src/syft/core/tensor/passthrough.py
  packages/syft/src/syft/core/tensor/smpc/mpc_tensor.py
  packages/syft/src/syft/core/tensor/smpc/share_tensor.py
  packages/syft/tests/syft/core/tensor/smpc/smpc_tensor_test.py
Labels: SMPC

#5988 Modified Version Tests to pull request.
  .github/file-filters.yml
  .github/workflows/syft-merge_torch_tests.yml
  .github/workflows/syft-version_tests.yml
  packages/syft/tests/trigger/version_tests
Labels: Type: Testing :test_tube:

#5990 SMPC -Numpy Ops
  packages/syft/src/syft/core/tensor/__init__.py
  packages/syft/src/syft/core/tensor/passthrough.py
  packages/syft/src/syft/core/tensor/smpc/mpc_tensor.py
  packages/syft/src/syft/core/tensor/smpc/share_tensor.py
  packages/syft/tests/syft/core/tensor/smpc/smpc_tensor_test.py
Labels: SMPC

#5993 [SMPC] Implemented matmul
  packages/syft/src/syft/core/tensor/__init__.py
  packages/syft/src/syft/core/tensor/smpc/mpc_tensor.py
  packages/syft/src/syft/core/tensor/smpc/share_tensor.py
  packages/syft/tests/syft/core/tensor/smpc/smpc_tensor_test.py
Labels: SMPC

#5971 Abstraction of MPCTensor for tensor pointer computation.
  notebooks/smpc/SMPC Tensor pointer Abstraction.ipynb
  packages/syft/src/syft/core/tensor/smpc/mpc_tensor.py
  packages/syft/src/syft/core/tensor/tensor.py
Labels: SMPC

#6010 Fixed Inplace SQL Alchemy issue.
  packages/syft/=2.0
  packages/syft/src/syft/core/node/common/action/run_class_method_action.py
  packages/syft/tests/conftest.py
  packages/syft/tests/stress/gc_test.py
  packages/syft/tests/syft/ast/functionality_test.py
  packages/syft/tests/syft/core/common/message_test.py
  packages/syft/tests/syft/core/plan/plan_test.py
  packages/syft/tests/syft/core/pointer/garbage_collection/gc_strategies_test.py
  packages/syft/tests/syft/core/pointer/pointer_test.py
  packages/syft/tests/syft/lib/python/list/list_pointer_test.py
  packages/syft/tests/syft/lib/torch/module_serde_test.py
  packages/syft/tests/syft/lib/torch/module_test.py
  packages/syft/tests/syft/lib/torch/tensor/tensor_remote_and_serde_test.py
  packages/syft/tests/syft/security/steal_objects_test.py
Labels: Type: Bug :bug:
