Repository OpenMined/PySyft, pull requests merged in 2021-04, with the labels that each got.

#5424 Swap batch_size and lr args in MCFL MNIST demo training plan
  tests/syft/core/fl/model-centric/mcfl_create_execute_plan_test.py
Labels: 0.5

#5461 Update MCFL notebooks and test
  examples/federated-learning/model-centric/mcfl_create_plan.ipynb
  examples/federated-learning/model-centric/mcfl_create_plan_mobile.ipynb
  tests/syft/core/fl/model-centric/mcfl_create_execute_plan_test.py
Labels: 0.5

#5490 Update pre-commit to include checks of documentation
  .github/workflows/pr_tests.yml
  .pre-commit-config.yaml
Labels: Type: Documentation :books:

#5494 Fix notebook Remote Medical Data Science Grid Mock
  examples/mock_apis/Remote Medical Data Science Grid Mock API.ipynb
Labels: Good first issue :mortar_board:, Priority: 4 - Low :sunglasses:, Severity: 4 - Low :sunglasses:, Type: Bug :bug:, Type: Improvement :chart_with_upwards_trend:
