Repository OpenMined/PySyft, pull requests merged in 2021-06, with the labels that each got.

#5602 Update Hyperledger Aries Example to fix Breaking Changes to Controller package
  packages/syft/.pre-commit-config.yaml
  packages/syft/examples/hyperledger-aries/README.md
  packages/syft/examples/hyperledger-aries/dockerfiles/Dockerfile.controller
  packages/syft/examples/hyperledger-aries/manage.sh
  packages/syft/examples/hyperledger-aries/playground/data-owner/notebooks/Data Owner.ipynb
  packages/syft/examples/hyperledger-aries/playground/data-scientist/notebooks/Data Scientist.ipynb
  packages/syft/examples/hyperledger-aries/playground/om-authority/notebooks/0 - om_authority_init.ipynb
  packages/syft/examples/hyperledger-aries/playground/om-authority/notebooks/1 - om_authority_issue.ipynb
  packages/syft/examples/hyperledger-aries/playground/om-authority/notebooks/Get Your OM PKI Credential.ipynb
  packages/syft/examples/hyperledger-aries/requirements.txt
  packages/syft/examples/hyperledger-aries/src/AriesDuetTokenExchanger.py
  packages/syft/examples/hyperledger-aries/src/OMAuthorityAgent.py
Labels: Priority: 2 - High :cold_sweat:, Type: Documentation :books:

#5598 Initialise RSTensor proto
  packages/syft/proto/lib/sympc/replicatedshared_tensor.proto
  packages/syft/src/syft/lib/sympc/__init__.py
  packages/syft/src/syft/lib/sympc/rst_share.py
  packages/syft/src/syft/proto/lib/sympc/replicatedshared_tensor_pb2.py
Labels: SyMPC, Type: New Feature :heavy_plus_sign:

#5640 Initialize protocol protobuf
  packages/syft/proto/lib/sympc/protocol.proto
  packages/syft/proto/lib/sympc/session.proto
  packages/syft/src/syft/lib/sympc/session_util.py
  packages/syft/src/syft/proto/lib/sympc/protocol_pb2.py
  packages/syft/src/syft/proto/lib/sympc/session_pb2.py
Labels: SyMPC, Type: New Feature :heavy_plus_sign:

#5644 [PyGrid] Fix: adds `/setup/status` route and `OPTIONS` reqs to sleepy mode & refactor infra code to monorepo structure
  packages/grid/apps/domain/src/main/core/infrastructure/providers/aws/serverfull.py
  packages/grid/apps/domain/src/main/core/infrastructure/providers/azure/azure.py
  packages/grid/apps/domain/src/main/core/infrastructure/providers/gcp/gcp.py
  packages/grid/apps/domain/src/main/core/sleepy_until_configured.py
Labels: Status: Review Needed :raising_hand:

#5732 Add unit tests for domain's Role manager
  packages/grid/apps/domain/src/main/core/manager/role_manager.py
  packages/grid/apps/domain/tests/test_core/test_manager/test_role_manager.py
Labels: Type: Testing :test_tube:
