Repository OpenMined/PySyft, pull requests merged in 2021-02, with the labels that each got.

#5084 Add Dataset class
  proto/core/store/dataset.proto
  src/syft/core/store/dataset.py
  src/syft/proto/core/store/dataset_pb2.py
  tests/syft/core/store/dataset_object_test.py
Labels: Type: New Feature :heavy_plus_sign:

#5077 0.4 - SplitNN Support
  examples/duet/vertical_learning/advanced/MNIST/DO.ipynb
  examples/duet/vertical_learning/advanced/MNIST/DS.ipynb
  examples/duet/vertical_learning/basic_krakenn/DO1.ipynb
  examples/duet/vertical_learning/basic_krakenn/DO2.ipynb
  examples/duet/vertical_learning/basic_krakenn/DS.ipynb
  examples/duet/vertical_learning/basic_splitnn/DO_local_data.ipynb
  examples/duet/vertical_learning/basic_splitnn/DO_remote_data.ipynb
  examples/duet/vertical_learning/basic_splitnn/DS_local_data.ipynb
  examples/duet/vertical_learning/basic_splitnn/DS_remote_data.ipynb
Labels: 0.4, Status: In Progress :star2:, Status: Review Needed :raising_hand:, Type: New Feature :heavy_plus_sign:

#5098 Expose dataset module within package
  src/syft/core/store/__init__.py
Labels: 0.4, Type: Bug :bug:

#5111 Fix: Adjust WebRTC unit test to the new traceback and raise method
  requirements/supported_libs.txt
  tests/syft/grid/connections/webrtc_test.py
Labels: Type: Testing :test_tube:

#5065 Pygrid Messages
  .github/workflows/pr_tests.yml
  proto/grid/messages/association_messages.proto
  proto/grid/messages/dataset_messages.proto
  proto/grid/messages/group_messages.proto
  proto/grid/messages/infra_messages.proto
  proto/grid/messages/request_messages.proto
  proto/grid/messages/role_messages.proto
  proto/grid/messages/setup_messages.proto
  proto/grid/messages/tensor_messages.proto
  proto/grid/messages/user_messages.proto
  scripts/build_proto.sh
  src/syft/core/store/__init__.py
  src/syft/grid/messages/__init__.py
  src/syft/grid/messages/association_messages.py
  src/syft/grid/messages/dataset_messages.py
  src/syft/grid/messages/group_messages.py
  src/syft/grid/messages/infra_messages.py
  src/syft/grid/messages/request_messages.py
  src/syft/grid/messages/role_messages.py
  src/syft/grid/messages/setup_messages.py
  src/syft/grid/messages/tensor_messages.py
  src/syft/grid/messages/user_messages.py
  src/syft/proto/grid/messages/association_messages_pb2.py
  src/syft/proto/grid/messages/dataset_messages_pb2.py
  src/syft/proto/grid/messages/group_messages_pb2.py
  src/syft/proto/grid/messages/infra_messages_pb2.py
  src/syft/proto/grid/messages/request_messages_pb2.py
  src/syft/proto/grid/messages/role_messages_pb2.py
  src/syft/proto/grid/messages/setup_messages_pb2.py
  src/syft/proto/grid/messages/tensor_messages_pb2.py
  src/syft/proto/grid/messages/user_messages_pb2.py
  tests/syft/grid/messages/asc_req_msg_test.py
  tests/syft/grid/messages/dataset_msg_test.py
  tests/syft/grid/messages/group_msg_test.py
  tests/syft/grid/messages/infra_msg_test.py
  tests/syft/grid/messages/roles_msg_test.py
  tests/syft/grid/messages/setup_msg_test.py
  tests/syft/grid/messages/tensor_msg_test.py
  tests/syft/grid/messages/tensor_req_test.py
Labels: Priority: 2 - High :cold_sweat:, Severity: 3 - Medium :unamused:, Status: Completed :heavy_check_mark:

#5116 (WIP) Test Coverage: AST
  src/syft/ast/__init__.py
  src/syft/ast/attribute.py
  src/syft/ast/callable.py
  src/syft/ast/enum.py
  src/syft/ast/klass.py
  src/syft/ast/module.py
  tests/syft/ast/functionality_test.py
  tests/syft/ast/module_test.py
  tests/syft/ast/nodes_test.py
Labels: Type: Testing :test_tube:

#5206 Fix/Update PyGrid User Messages
  src/syft/grid/messages/user_messages.py
Labels: Priority: 2 - High :cold_sweat:, Severity: 3 - Medium :unamused:, Type: Bug :bug:
