Repository OpenMined/PySyft, pull requests merged in 2021-11, with the labels that each got.

#6102 Update L5_Data_Scientist.ipynb
  notebooks/course3/L5_Data_Scientist.ipynb
Labels: 0.6.0 Alpha

#6110 Pregeneration of Pointer in Bit Decomposition
  packages/syft/src/syft/core/node/common/action/smpc_action_message.py
  packages/syft/src/syft/core/node/common/node_service/testing_services/smpc_executor_service.py
  packages/syft/src/syft/core/smpc/protocol/aby3/aby3.py
  packages/syft/src/syft/core/tensor/__init__.py
  packages/syft/src/syft/core/tensor/smpc/tensor_list.py
Labels: 0.6.0 Alpha

#6118 Computing Paradigm Shift to Green threads
  packages/grid/backend/grid/worker.py
  packages/grid/backend/pyproject.toml
  packages/grid/backend/requirements.txt
  packages/grid/backend/worker-start.sh
  packages/grid/devspace.yaml
  packages/grid/docker-compose.override.yml
  packages/syft/setup.cfg
  packages/syft/src/syft/core/node/common/action/function_or_constructor_action.py
  packages/syft/src/syft/core/node/common/action/greenlets_switch.py
  packages/syft/src/syft/core/node/common/action/run_class_method_action.py
  packages/syft/src/syft/core/node/common/action/run_class_method_smpc_action.py
  packages/syft/src/syft/core/node/common/action/smpc_action_message.py
  packages/syft/src/syft/core/smpc/store/crypto_store.py
Labels: PyGrid, SMPC, 0.6.0 Alpha

#6114 Fix object dataset relationship deleted on data request.
  notebooks/Experimental/Traskinator/PET Lab - Data Owner Setup.ipynb
  notebooks/Experimental/Traskinator/PET Lab - Data Scientist.ipynb
  packages/syft/src/syft/core/node/common/node_manager/bin_obj_manager.py
Labels: Type: Bug :bug:, 0.6.0 Alpha

#6120 Beaver Action Message
  packages/syft/proto/core/node/common/action/beaver_action.proto
  packages/syft/src/syft/core/node/common/action/beaver_action.py
  packages/syft/src/syft/core/node/common/action/function_or_constructor_action.py
  packages/syft/src/syft/core/node/common/action/greenlets_switch.py
  packages/syft/src/syft/core/node/common/action/smpc_action_message.py
  packages/syft/src/syft/core/node/common/node_service/testing_services/smpc_executor_service.py
  packages/syft/src/syft/core/smpc/__init__.py
  packages/syft/src/syft/core/smpc/protocol/spdz/spdz.py
  packages/syft/src/syft/core/smpc/store/crypto_primitive_provider.py
  packages/syft/src/syft/proto/core/node/common/action/beaver_action_pb2.py
Labels: SMPC, 0.6.0 Alpha

#6057 simple key check for application layer vpn security and firewall rules
  packages/grid/.env
  packages/grid/docker-compose.override.yml
  packages/grid/vpn/headscale.dockerfile
  packages/grid/vpn/headscale.py
  packages/grid/vpn/secure/__init__.py
  packages/grid/vpn/secure/api.py
  packages/grid/vpn/secure/base_entrypoint.py
  packages/grid/vpn/tailscale.dockerfile
  packages/grid/vpn/tailscale.py
  packages/grid/vpn/tailscale.sh
  packages/syft/src/syft/core/node/common/node_service/vpn/vpn_messages.py
  scripts/vpn_scan.sh
  tests/scan_network/check_vpn_firewall_test.py
  tox.ini
Labels: Type: New Feature :heavy_plus_sign:

#6132 Modified SMPC Actions to single message
  packages/grid/backend/docker-scripts/start-reload.sh
  packages/grid/backend/docker-scripts/start.sh
  packages/grid/backend/grid/api/syft/syft.py
  packages/grid/backend/grid/core/celery_app.py
  packages/grid/backend/grid/core/celery_config.py
  packages/grid/backend/grid/worker.py
  packages/grid/backend/prestart.sh
  packages/grid/backend/worker-start.sh
  packages/grid/devspace.yaml
  packages/grid/docker-compose.override.yml
  packages/syft/src/syft/ast/klass.py
  packages/syft/src/syft/core/node/common/action/run_class_method_smpc_action.py
  packages/syft/src/syft/core/node/common/action/smpc_action_functions.py
  packages/syft/src/syft/core/node/common/node.py
  packages/syft/src/syft/core/node/common/node_service/testing_services/smpc_executor_service.py
  packages/syft/src/syft/core/tensor/smpc/mpc_tensor.py
  packages/syft/src/syft/grid/client/client.py
Labels: SMPC, 0.6.0 Alpha

#6175 Update images for macOS tutorial
  docs/source/index.rst
Labels: Type: Documentation :books:

#6179 SMPC Numpy ops
  packages/syft/src/syft/core/tensor/__init__.py
  packages/syft/src/syft/core/tensor/passthrough.py
  packages/syft/src/syft/core/tensor/smpc/mpc_tensor.py
  packages/syft/src/syft/core/tensor/smpc/share_tensor.py
  tests/integration/smpc/numpy/smpc_numpy_ops_test.py
  tests/integration/smpc/tensor/mpc_tensor_test.py
  tests/integration/smpc/tensor/smpc_numpy_ops_test.py
  tests/integration/smpc/tensor/tensor_abstraction_test.py
Labels: SMPC

#6176 Fixed SMPC Numpy tests
  tests/integration/smpc/numpy/smpc_numpy_ops_test.py
Labels: SMPC

#6183 SMPC Numpy Ops Iteration 2
  packages/syft/src/syft/core/tensor/smpc/mpc_tensor.py
  tests/integration/smpc/numpy/smpc_numpy_ops_test.py
Labels: SMPC

#6188 SMPC Numpy Iteration 3
  packages/syft/src/syft/core/tensor/__init__.py
  packages/syft/src/syft/core/tensor/passthrough.py
  packages/syft/src/syft/core/tensor/smpc/mpc_tensor.py
  packages/syft/src/syft/core/tensor/smpc/share_tensor.py
  packages/syft/src/syft/core/tensor/tensor.py
  tests/integration/smpc/numpy/smpc_numpy_ops_test.py
Labels: SMPC

#6182 Polish and refactor vpn sec
  packages/grid/vpn/headscale.dockerfile
  packages/grid/vpn/headscale.py
  packages/grid/vpn/secure/__init__.py
  packages/grid/vpn/secure/api.py
  packages/grid/vpn/secure/base_entrypoint.py
  packages/grid/vpn/tailscale.dockerfile
  packages/grid/vpn/tailscale.py
  packages/syft/src/syft/core/node/common/node_service/vpn/vpn_messages.py
  scripts/vpn_scan.sh
  tests/integration/security/check_api_auth_test.py
Labels: 0.6.0 Alpha
