Repository OpenMined/PySyft, pull requests merged in 2022-11, with the labels that each got.

#6907 Update Pypi description for Syft
  README.md
  packages/syft/README.md
  packages/syft/setup.cfg
Labels: 0.7

#6900 Split Docker Launch into Pull / Build and Start
  packages/grid/.env
  packages/grid/docker-compose.pull.yml
  packages/hagrid/hagrid/cli.py
  packages/hagrid/tests/hagrid/cli_test.py
Labels: 0.7

#6762 Migrating the serialization to captainproto
  .github/workflows/linting.yml
  packages/grid/backend/grid/api/auth/login.py
  packages/syft/CONTRIBUTING.md
  packages/syft/docs/conf.py
  packages/syft/proto/core/common/recursive_serde.proto
  packages/syft/proto/util/data_message.proto
  packages/syft/scripts/build_proto.sh
  packages/syft/scripts/pre_commit.sh
  packages/syft/setup.cfg
  packages/syft/src/syft/capnp/iterable.capnp
  packages/syft/src/syft/capnp/kv_iterable.capnp
  packages/syft/src/syft/capnp/recursive_serde.capnp
  packages/syft/src/syft/core/common/serde/capnp.py
  packages/syft/src/syft/core/common/serde/deserialize.py
  packages/syft/src/syft/core/common/serde/recursive.py
  packages/syft/src/syft/core/common/serde/recursive_primitives.py
  packages/syft/src/syft/core/common/serde/serialize.py
  packages/syft/src/syft/core/node/domain_client.py
  packages/syft/src/syft/proto/core/common/recursive_serde_pb2.py
  packages/syft/src/syft/proto/util/data_message_pb2.py
  packages/syft/tests/syft/core/common/uid_test.py
  packages/syft/tests/syft/core/store/dataset_object_test.py
  tox.ini
Labels: 0.8

#6778 Capnp cleanup
  packages/syft/setup.cfg
  packages/syft/src/syft/capnp/array.capnp
  packages/syft/src/syft/capnp/data_subject_ledger.capnp
  packages/syft/src/syft/capnp/fixed_precision_tensor.capnp
  packages/syft/src/syft/capnp/gamma_tensor.capnp
  packages/syft/src/syft/capnp/iterable.capnp
  packages/syft/src/syft/capnp/kv_iterable.capnp
  packages/syft/src/syft/capnp/phi_tensor.capnp
  packages/syft/src/syft/capnp/recursive_serde.capnp
  packages/syft/src/syft/capnp/share_tensor.capnp
  packages/syft/src/syft/capnp/tensor.capnp
  packages/syft/src/syft/core/adp/data_subject_ledger.py
  packages/syft/src/syft/core/common/serde/capnp.py
  packages/syft/src/syft/core/common/serde/deserialize.py
  packages/syft/src/syft/core/common/serde/recursive.py
  packages/syft/src/syft/core/common/serde/recursive_primitives.py
  packages/syft/src/syft/core/common/serde/serializable.py
  packages/syft/src/syft/core/common/serde/serialize.py
  packages/syft/src/syft/core/common/serde/types.py
  packages/syft/src/syft/core/smpc/store/crypto_store.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/fixed_precision_tensor.py
  packages/syft/src/syft/core/tensor/smpc/share_tensor.py
  packages/syft/src/syft/core/tensor/tensor.py
  packages/syft/src/syft/lib/numpy/array.py
  tests/integration/e2e/trade_demo_smpc_adp_test.py
Labels: 0.8

#6759 -Adding files for Data Owner Guide02-Create user account and manage privacy budget
  docs/source/_static/personas-image/data-owner/02-create-account-configure-pb-00.jpg
  docs/source/_static/personas-image/data-owner/02-create-account-configure-pb-01.gif
  docs/source/_static/personas-image/data-owner/02-create-account-configure-pb-02.gif
  docs/source/_static/personas-image/data-owner/02-create-account-configure-pb-04.gif
  docs/source/guides/data-owner/01-upload-data.rst
  docs/source/guides/data-owner/02-create-account-configure-pb.rst
  docs/source/guides/index.rst
  notebooks/quickstart/data-owner/00-deploy-domain.ipynb
  notebooks/quickstart/data-owner/01-upload-data.ipynb
  notebooks/quickstart/data-owner/02-create-account-configure-pb.ipynb
Labels: docs

#6878 made changes in the content of steps
  docs/source/_static/personas-image/data-owner/01-upload-data-01.gif
  docs/source/guides/data-owner/00-deploy-domain.rst
  docs/source/guides/data-owner/01-upload-data.rst
  notebooks/quickstart/data-owner/00-deploy-domain.ipynb
  notebooks/quickstart/data-owner/01-upload-data.ipynb
Labels: 0.7, docs

#6693 Quickstart: DataOwner: Join Network
  docs/source/guides/data-owner/03-join-network.rst
  notebooks/quickstart/data-owner/03-join-network.ipynb
Labels: docs

#6979 Fix uploading to s3 error handling
  packages/syft/src/syft/core/node/common/util.py
Labels: 0.7

#6995 Show hagrid/syft versions during hagrid launch
  packages/hagrid/hagrid/cli.py
Labels: 0.7

#6981 Remove redundant `__init__` abstract method in `GCStrategy` abstract class
  packages/syft/src/syft/core/pointer/garbage_collection/gc_strategy.py
Labels: 0.7

#7005 Removal of Partial Functioning Code
  packages/syft/src/syft/core/tensor/__init__.py
  packages/syft/src/syft/core/tensor/autodp/gamma_functions.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/tensor.py
Labels: Type: Refactor :hammer:, Priority: 1 - Immediate :fire:, 0.7

#7007 [FIX] Cannot create Budget Requests after creation of Data requests first.
  packages/syft/src/syft/core/node/common/node_service/object_request/object_request_service.py
  packages/syft/tests/syft/core/node/domain/service/request_message_test.py
Labels: Type: Bug :bug:, Priority: 1 - Immediate :fire:, 0.7

#7006 Security: Data Scientist can't delete objects owned by other users(Admin,Owner,guest users)
  packages/syft/src/syft/core/node/common/node_service/object_delete/object_delete_message.py
  packages/syft/tests/syft/core/pointer/pointer_test.py
Labels: Type: Bug :bug:, Priority: 1 - Immediate :fire:, 0.7

#7018 6931: Fix Pointer Docstrings
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/tensor.py
Labels: 0.7

#7004 Security: SaveObjectAction and UploadDataMessage check for write_permissions
  packages/syft/src/syft/ast/klass.py
  packages/syft/src/syft/core/common/uid.py
  packages/syft/src/syft/core/node/common/action/save_object_action.py
  packages/syft/src/syft/core/node/common/node_service/upload_service/upload_service_messages.py
  packages/syft/tests/syft/core/pointer/pointer_test.py
Labels: Type: Bug :bug:, Priority: 1 - Immediate :fire:, 0.7

#6994 Add validation for budget
  packages/syft/src/syft/core/node/common/client_manager/user_api.py
  packages/syft/src/syft/core/node/common/node.py
  packages/syft/src/syft/core/node/common/node_service/object_delete/object_delete_message.py
  packages/syft/src/syft/core/node/common/node_service/user_manager/user_manager_service.py
  packages/syft/src/syft/core/node/domain_client.py
  packages/syft/tests/syft/core/node/domain/domain_test.py
  packages/syft/tests/syft/core/pointer/pointer_test.py
Labels: 0.7

#7046 [FIX] Login with an URL doesn't work without specifying port
  packages/syft/src/syft/grid/grid_url.py
  packages/syft/tests/syft/grid/grid_url_test.py
Labels: Type: Improvement :chart_with_upwards_trend:, Priority: 3 - Medium :unamused:, 0.7

#6771 Bash one liner for Hagrid installation MacOs & Ubuntu
  packages/hagrid/scripts/install.sh
Labels: 0.7

#7010 Fix heuristic for deciding between Phi or GammaTensor
  packages/syft/src/syft/core/adp/data_subject_list.py
  packages/syft/src/syft/core/tensor/ancestors.py
  packages/syft/tests/syft/core/tensor/private_test.py
Labels: 0.7

#7062 [FIX] Object Mutation by Guest Actions
  packages/syft/src/syft/core/node/common/action/function_or_constructor_action.py
  packages/syft/src/syft/core/node/common/action/przs_action.py
  packages/syft/src/syft/core/node/common/action/run_class_method_action.py
  packages/syft/src/syft/core/node/common/action/run_class_method_smpc_action.py
  packages/syft/src/syft/core/node/common/action/save_object_action.py
  packages/syft/src/syft/core/node/common/node_manager/dict_store.py
  packages/syft/src/syft/core/node/common/node_manager/redis_store.py
  packages/syft/src/syft/core/node/common/node_service/upload_service/upload_service_messages.py
  packages/syft/src/syft/core/store/store_interface.py
  packages/syft/tests/syft/core/pointer/pointer_test.py
  packages/syft/tests/syft/security/mutate_objects_test.py
Labels: Type: Bug :bug:, 0.7

#7061 [FIX] Security: get root signing Key from settings / get_setup().
  packages/syft/src/syft/core/node/common/node_service/node_setup/node_setup_service.py
  tests/integration/network/connect_nodes_test.py
Labels: Priority: 2 - High :cold_sweat:, Priority: 1 - Immediate :fire:, 0.7

#7063 Set docker log encoding to utf-8
  .github/workflows/stack-integration_tests.yml
  scripts/container_log_collector.py
Labels: Type: Bug :bug:, 0.7

#7002 Fix publish issue with small RDP constant values
  notebooks/Experimental/Ishan/CacheBypassTest.ipynb
  notebooks/Experimental/Ishan/ReproduceError.ipynb
  packages/syft/src/syft/core/adp/data_subject_ledger.py
  packages/syft/src/syft/core/adp/vectorized_publish.py
  packages/syft/tests/syft/core/adp/data_subject_ledger_test.py
  tests/integration/e2e/trade_demo_smpc_adp_test.py
Labels: 0.7, Syft

#7079 Fix delete method with explicit args in DatasetRequestAPI
  .github/workflows/stack-integration_tests.yml
  packages/syft/src/syft/core/node/common/client_manager/dataset_api.py
  packages/syft/src/syft/core/node/common/util.py
  tests/integration/conftest.py
  tests/integration/redis/dataset_test.py
  tox.ini
Labels: Type: Improvement :chart_with_upwards_trend:, Priority: 3 - Medium :unamused:, 0.7, Syft

#7108 Fix ones_like and zeros_like on DP pointers
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/lazy_repeat_array.py
  packages/syft/tests/syft/core/tensor/adp/gamma_tensor_test.py
  packages/syft/tests/syft/core/tensor/adp/phi_tensor_test.py
Labels: 0.7

#7098 [FIX] Frontend: Partial Functionality Delete Function
  packages/grid/backend/grid/api/auth/login.py
  packages/grid/backend/grid/api/auth/register.py
  packages/grid/backend/grid/api/dependencies/current_user.py
  packages/grid/backend/grid/api/syft/syft.py
  packages/grid/backend/grid/api/token.py
  packages/grid/backend/grid/api/users/models.py
  packages/grid/backend/grid/api/users/syft.py
  packages/grid/backend/grid/core/security.py
  packages/grid/backend/grid/tests/api/users/user_routes_test.py
  packages/grid/backend/grid/utils.py
  packages/syft/src/syft/core/node/abstract/node.py
  packages/syft/src/syft/core/node/common/node.py
  packages/syft/src/syft/core/node/common/node_service/user_manager/new_user_messages.py
  packages/syft/src/syft/core/node/common/permissions/user_permissions.py
  packages/syft/src/syft/grid/client/client.py
  packages/syft/src/syft/grid/client/grid_connection.py
Labels: Type: Bug :bug:, Priority: 1 - Immediate :fire:, 0.7, Syft

#7107 Fixed Any Pointer result in publish operation
  packages/syft/src/syft/core/pointer/pointer.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/tensor.py
  tests/integration/e2e/trade_demo_smpc_adp_test.py
Labels: 0.7

#7080 fix data pointer accepting list arg
  packages/syft/src/syft/core/node/common/util.py
  packages/syft/src/syft/core/store/proxy_dataset.py
  packages/syft/tests/syft/core/tensor/private_test.py
Labels: Type: Bug :bug:, 0.7, Syft

#7123 Removal of PassthroughTensor from DP TensorPointer
  .bumpversion.cfg
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
Labels: 0.7

#7125 Disable __array_ufunc__ for DataSubjectArray
  packages/syft/src/syft/core/adp/data_subject_list.py
Labels: 0.7

#7111 Fix __array_func__ and disable __array_ufunc__ for passthrough tensors
  packages/syft/src/syft/core/tensor/passthrough.py
  packages/syft/tests/syft/core/tensor/passthrough_test.py
Labels: 0.7

#7084 Comment garbage collection
  packages/syft/proto/core/node/common/action/action.proto
  packages/syft/proto/core/node/common/action/garbage_collect_batched.proto
  packages/syft/proto/core/node/common/action/garbage_collect_object.proto
  packages/syft/src/syft/ast/klass.py
  packages/syft/src/syft/core/node/common/action/garbage_collect_batched_action.py
  packages/syft/src/syft/core/node/common/action/garbage_collect_object_action.py
  packages/syft/src/syft/core/node/common/client.py
  packages/syft/src/syft/core/pointer/garbage_collection/__init__.py
  packages/syft/src/syft/core/pointer/garbage_collection/garbage_collection.py
  packages/syft/src/syft/core/pointer/garbage_collection/gc_batched.py
  packages/syft/src/syft/core/pointer/garbage_collection/gc_simple.py
  packages/syft/src/syft/core/pointer/garbage_collection/gc_strategy.py
  packages/syft/src/syft/core/pointer/pointer.py
  packages/syft/src/syft/proto/core/node/common/action/action_pb2.py
  packages/syft/src/syft/proto/core/node/common/action/garbage_collect_batched_pb2.py
  packages/syft/src/syft/proto/core/node/common/action/garbage_collect_object_pb2.py
  packages/syft/tests/syft/core/node/common/action/garbage_collection_object_action_test.py
  packages/syft/tests/syft/core/pointer/garbage_collection/gc_strategies_test.py
  packages/syft/tests/syft/lib/python/dict/dict_test.py
  packages/syft/tests/syft/lib/torch/parameter_test.py
  packages/syft/tests/syft/lib/torch/tensor/tensor_remote_and_serde_test.py
  packages/syft/tests/syft/stress/gc_test.py
Labels: 0.7

#7102 Manually calculate epsilon if the RDP constant is significantly larger than the cache size
  notebooks/Experimental/Ishan/RDPCachePlayground.ipynb
  packages/syft/src/syft/core/adp/data_subject_ledger.py
  packages/syft/tests/syft/core/adp/data_subject_ledger_test.py
Labels: 0.7
