Repository OpenMined/PySyft, pull requests merged in 2022-12, with the labels that each got.

#6918 ADD Auto-block .get() for processing pointers and its childs
  packages/grid/backend/grid/worker.py
  packages/syft/src/syft/ast/callable.py
  packages/syft/src/syft/ast/klass.py
  packages/syft/src/syft/core/node/common/client.py
  packages/syft/src/syft/core/node/common/client_manager/dataset_api.py
  packages/syft/src/syft/core/pointer/pointer.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/smpc/mpc_tensor.py
  packages/syft/src/syft/core/tensor/tensor.py
  tests/integration/e2e/client_test.py
  tests/integration/e2e/large_message_test.py
  tests/integration/e2e/smpc_dp_operation_test.py
  tests/integration/e2e/spicy_swan_performance_test.py
  tests/integration/e2e/trade_demo_smpc_adp_test.py
  tests/integration/smpc/numpy/smpc_numpy_ops_test.py
  tests/integration/smpc/tensor/mpc_tensor_test.py
  tests/integration/smpc/tensor/tensor_abstraction_test.py
Labels: Type: Improvement :chart_with_upwards_trend:, Priority: 3 - Medium :unamused:, 0.7, Syft

#7135 ADD basic Network frontend page
  .github/workflows/syft-publish.yml
  packages/grid/.env
  packages/grid/devspace.yaml
  packages/grid/docker-compose.build.yml
  packages/grid/docker-compose.dev.yml
  packages/grid/frontend/docker/default.conf.template
  packages/grid/frontend/docker/domain.conf
  packages/grid/frontend/docker/network.conf
  packages/grid/frontend/docker/nginx.conf
  packages/grid/frontend/frontend.dockerfile
  packages/hagrid/hagrid/cli.py
  tests/integration/frontend/frontend_start_test.py
Labels: Type: Bug :bug:, Priority: 3 - Medium :unamused:, Grid, 0.7

#7009 Fix right hand ops
  notebooks/Experimental/Rasswanth/Operations_Test.ipynb
  packages/syft/src/syft/core/adp/data_subject_list.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/lazy_repeat_array.py
  packages/syft/src/syft/core/tensor/passthrough.py
  packages/syft/tests/syft/core/tensor/adp/gamma_tensor_test.py
  packages/syft/tests/syft/core/tensor/adp/phi_tensor_test.py
Labels: 0.7, Syft

#7008 Add check for `NaN` values in the publish mechanism
  notebooks/Experimental/Ishan/TestPointerException.ipynb
  notebooks/Experimental/Teo/bug.ipynb
  notebooks/Experimental/Teo/jax.ipynb
  packages/syft/src/syft/core/adp/vectorized_publish.py
  packages/syft/src/syft/core/tensor/lazy_repeat_array.py
  packages/syft/tests/syft/core/tensor/lazy_repeat_array_test.py
Labels: 0.7, Syft

#7134 Handling non integer values when publishing
  notebooks/Experimental/Shubham/Test Result pointer dtype.ipynb
  packages/syft/src/syft/core/adp/vectorized_publish.py
  packages/syft/src/syft/core/pointer/pointer.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/smpc/utils.py
  packages/syft/src/syft/core/tensor/tensor.py
  tests/integration/e2e/publish_test.py
  tox.ini
Labels: 0.7

#7149 Replace rdp_constant: np.ndarray -> Dict[str, np.ndarray]
  notebooks/Experimental/Rasswanth/DataSubjectLedger.ipynb
  packages/syft/src/syft/capnp/data_subject_ledger.capnp
  packages/syft/src/syft/core/adp/data_subject.py
  packages/syft/src/syft/core/adp/data_subject_ledger.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/tests/syft/core/adp/data_subject_ledger_test.py
  packages/syft/tests/syft/core/tensor/adp/gamma_tensor_test.py
  tests/integration/e2e/client_test.py
Labels: Priority: 1 - Immediate :fire:, 0.7

#7174 Fix typo in attribute `networks` -> `all_networks` in `NetworkRegistry`
  packages/syft/src/syft/registry.py
Labels: 0.7, Syft

#6800 Quickstart: DataOwner: Create Network Form+Page
  docs/source/guides/data-owner/04-create-network.rst
Labels: 0.7, Docs, GSoD

#6789 Configure Privacy Budget Notebook
  docs/source/_static/personas-image/data-owner/04-configure-pb-00.png
  docs/source/_static/personas-image/data-owner/04-configure-pb-01.png
  docs/source/_static/personas-image/data-owner/04-configure-pb-02.gif
  docs/source/_static/personas-image/data-owner/04-configure-pb-03.gif
  docs/source/guides/data-owner/04-configure-pb.rst
Labels: 0.7, Docs, GSoD

#6706 NoSQL Group 2
  notebooks/Experimental/Rasswanth/NoSQL/Dataset.ipynb
  notebooks/Experimental/Rasswanth/NoSQL/Request.ipynb
  notebooks/Experimental/Rasswanth/NoSQL/associations_nosql.ipynb
  packages/grid/backend/grid/db/init_db.py
  packages/syft/src/syft/core/common/uid.py
  packages/syft/src/syft/core/node/common/client_manager/dataset_api.py
  packages/syft/src/syft/core/node/common/node.py
  packages/syft/src/syft/core/node/common/node_manager/database_manager.py
  packages/syft/src/syft/core/node/common/node_manager/dataset_manager.py
  packages/syft/src/syft/core/node/common/node_manager/dict_store.py
  packages/syft/src/syft/core/node/common/node_manager/obj_metadata_manager.py
  packages/syft/src/syft/core/node/common/node_manager/redis_store.py
  packages/syft/src/syft/core/node/common/node_manager/request_manager.py
  packages/syft/src/syft/core/node/common/node_service/dataset_manager/dataset_manager_service.py
  packages/syft/src/syft/core/node/common/node_service/object_request/object_request_service.py
  packages/syft/src/syft/core/node/common/node_table/bin_obj_metadata.py
  packages/syft/src/syft/core/node/common/node_table/dataset.py
  packages/syft/src/syft/core/node/common/node_table/request.py
  packages/syft/src/syft/core/node/domain.py
  packages/syft/src/syft/core/node/domain_interface.py
  tests/course/tests/lesson_4_node_maintenance_test.py
  tests/integration/e2e/client_test.py
  tests/integration/e2e/trade_demo_smpc_adp_test.py
  tests/integration/redis/dataset_test.py
Labels: 0.8

#6719 NoSQL Group 4
  notebooks/Experimental/Rasswanth/NoSQL/UserApplication.ipynb
  packages/syft/src/syft/core/node/common/node_manager/database_manager.py
  packages/syft/src/syft/core/node/common/node_manager/environment_manager.py
  packages/syft/src/syft/core/node/common/node_manager/user_application_manager.py
  packages/syft/src/syft/core/node/common/node_manager/user_manager.py
  packages/syft/src/syft/core/node/common/node_service/user_manager/new_user_messages.py
  packages/syft/src/syft/core/node/common/node_service/user_manager/user_manager_service.py
  packages/syft/src/syft/core/node/common/node_service/user_manager/user_messages.py
  packages/syft/src/syft/core/node/common/node_table/entity.py
  packages/syft/src/syft/core/node/common/node_table/environment.py
  packages/syft/src/syft/core/node/common/node_table/ledger.py
  packages/syft/src/syft/core/node/common/node_table/pdf.py
  packages/syft/src/syft/core/node/common/node_table/user.py
  packages/syft/src/syft/core/node/common/node_table/user_environment.py
  packages/syft/src/syft/core/node/domain.py
Labels: 0.8

#7178 Remove `vm` as hagrid target
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/deps.py
  packages/hagrid/hagrid/grammar.py
Labels: HAGrid

#7168 Convert hagrid options to flags
  docs/source/guides/data-owner/00-deploy-domain.rst
  notebooks/Experimental/Ishan/AA/update_syft.sh
  notebooks/Experimental/Shubham/TradeDemoE2E/Trade-demo-data-owners.ipynb
  notebooks/Experimental/medical-federated-learning-program/data-owners-full/02-data-owners-setup-domain.ipynb
  notebooks/Experimental/medical-federated-learning-program/data-owners/data-owners-presentation.ipynb
  notebooks/Experimental/mflp_sessions/Project3_Hagrid_Deep_Dive/Playing with Pets - Session 3.ipynb
  notebooks/PySyTFF/DO.ipynb
  notebooks/petlab_sessions/TradeDemoE2E/Trade-demo-data-owners.ipynb
  notebooks/quickstart/01-install-wizard.ipynb
  notebooks/quickstart/data-owner/00-deploy-domain.ipynb
  packages/grid/ansible/roles/aa_demo/tasks/main.yml
  packages/grid/ansible/roles/containers/tasks/containers.yml
  packages/hagrid/hagrid/cli.py
  packages/hagrid/tests/hagrid/cli_test.py
  scripts/aa_demo/update_domain.sh
  tox.ini
Labels: HAGrid

#7169 Change hagrid ArgCache api to dict-like item instead of attr
  packages/hagrid/hagrid/cache.py
  packages/hagrid/hagrid/cli.py
Labels: HAGrid

#7170 Make hagrid cli options `--hyphen-separated` instead of `--snake_case`
  docs/source/deployment/index.rst
  notebooks/Experimental/medical-federated-learning-program/network-operators/00-network-operators-create-network.ipynb
  notebooks/Experimental/medical-federated-learning-program/network-operators/01-network-operators-create-empty-vm.ipynb
  packages/grid/ansible/roles/containers/tasks/containers.yml
  packages/grid/scripts/redeploy.sh
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/lib.py
  scripts/aa_demo/update_domain.sh
  tox.ini
Labels: HAGrid

#6721 [WIP]NoSQL TechDebt
  .github/workflows/syft-pr_tests.yml
  packages/grid/.env
  packages/grid/backend/grid/api/dependencies/current_user.py
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/tests/api/auth/auth_routes_test.py
  packages/grid/backend/grid/tests/api/users/user_routes_test.py
  packages/grid/backend/grid/tests/conftest.py
  packages/grid/devspace.yaml
  packages/grid/docker-compose.yml
  packages/syft/setup.cfg
  packages/syft/src/syft/core/node/common/node.py
  packages/syft/src/syft/core/node/common/node_manager/dataset_manager.py
  packages/syft/src/syft/core/node/common/node_manager/request_manager.py
  packages/syft/src/syft/core/node/common/node_manager/user_manager.py
  packages/syft/src/syft/core/node/common/node_service/user_manager/new_user_messages.py
  packages/syft/src/syft/core/node/common/node_service/user_manager/user_manager_service.py
  packages/syft/src/syft/core/node/common/node_table/bin_obj_dataset.py
  packages/syft/src/syft/core/node/common/node_table/dataset.py
  packages/syft/src/syft/core/node/common/node_table/dataset_group.py
  packages/syft/src/syft/core/node/common/node_table/json_obj.py
  packages/syft/src/syft/core/node/common/node_table/metadata.py
  packages/syft/src/syft/core/node/common/node_table/request.py
  packages/syft/src/syft/core/node/common/permissions/user_permissions.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/grid/messages/messages_test.py
  tox.ini
Labels: 0.8
