Repository OpenMined/PySyft, pull requests merged in 2022-10, with the labels that each got.

#6811 [syft] add padawan program test
  packages/syft/tests/trials/skill_test.py
Labels: padawan

#6818 Fix Flapping DP Tensor Tests
  .github/workflows/syft-version_tests.yml
  packages/syft/tests/syft/core/tensor/adp/gamma_tensor_test.py
  packages/syft/tests/syft/core/tensor/adp/phi_tensor_test.py
  packages/syft/tests/trigger/version_tests
Labels: Type: Bug :bug:

#6814 Padawan Session 2
  packages/syft/tests/trials/skill_test.py
Labels: padawan

#6823 fixed test trial of skill_test.py
  packages/syft/tests/trials/skill_test.py
Labels: padawan

#6794 Fix Linux Docker instructions
  packages/hagrid/hagrid/deps.py
Labels: Type: Bug :bug:, Priority: 1 - Immediate :fire:

#6843 Edits made to skill_test.py
  packages/syft/tests/trials/skill_test.py
Labels: Type: Testing :test_tube:

#6817 Testing for the Padawan Program
  packages/syft/tests/trials/skill_test.py
Labels: padawan

#6857 fix skill_test.py
  packages/syft/tests/trials/skill_test.py
Labels: padawan

#6859 Padwan skill test -nilansh
  packages/syft/tests/trials/skill_test.py
Labels: padawan

#6831 Refactoring Publish to use Worst Case Bound
  notebooks/Experimental/Rasswanth/Publish_Fix.ipynb
  packages/syft/src/syft/core/adp/vectorized_publish.py
  packages/syft/src/syft/core/node/common/node_service/publish/publish_messages.py
  packages/syft/src/syft/core/node/common/node_service/publish/publish_service.py
  packages/syft/src/syft/core/pointer/pointer.py
  packages/syft/src/syft/core/tensor/ancestors.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/nn/model.py
  packages/syft/src/syft/core/tensor/smpc/mpc_tensor.py
  packages/syft/src/syft/core/tensor/tensor.py
  packages/syft/tests/syft/core/tensor/adp/gamma_tensor_test.py
  tests/integration/e2e/trade_demo_smpc_adp_test.py
Labels: SMPC, DP

#6844 updted skill_test data dictionaty with new entry.
  packages/syft/tests/trials/skill_test.py
Labels: padawan

#6861 Padawan Trial [Jauhar]
  packages/syft/tests/trials/skill_test.py
Labels: padawan

#6873 Add remaining Medium ops for PT and GT
  notebooks/Experimental/Rasswanth/DP/TestPointer.ipynb
  packages/syft/src/syft/core/adp/data_subject_list.py
  packages/syft/src/syft/core/tensor/__init__.py
  packages/syft/src/syft/core/tensor/autodp/gamma_functions.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor_ops.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/lazy_repeat_array.py
  packages/syft/src/syft/core/tensor/passthrough.py
  packages/syft/src/syft/core/tensor/smpc/share_tensor.py
  packages/syft/src/syft/core/tensor/smpc/utils.py
  packages/syft/src/syft/core/tensor/tensor.py
  packages/syft/tests/syft/core/tensor/adp/gamma_tensor_test.py
  packages/syft/tests/syft/core/tensor/adp/phi_tensor_test.py
  packages/syft/tests/trials/skill_test.py
Labels: 0.7

#6897 Quickstart improvements
  notebooks/quickstart/01-install-wizard.ipynb
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/deps.py
  packages/hagrid/hagrid/quickstart_ui.py
  packages/syft/src/syft/core/tensor/ancestors.py
Labels: 0.7

#6884 Adding all remaining ops for the Data Scientist API
  notebooks/Experimental/Rasswanth/DP/TestPointer.ipynb
  packages/syft/src/syft/core/adp/data_subject_list.py
  packages/syft/src/syft/core/tensor/__init__.py
  packages/syft/src/syft/core/tensor/autodp/gamma_functions.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor.py
  packages/syft/src/syft/core/tensor/autodp/gamma_tensor_ops.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/lazy_repeat_array.py
  packages/syft/src/syft/core/tensor/passthrough.py
  packages/syft/tests/syft/core/tensor/adp/gamma_tensor_test.py
  packages/syft/tests/syft/core/tensor/adp/phi_tensor_test.py
Labels: 0.7

#6901 Fixed TypeError while binary.version is None
  packages/hagrid/hagrid/deps.py
Labels: 0.7

#6845 Remove need for user to provide DataSubjectArray for Syft Tensor
  notebooks/Experimental/Ishan/Test_No_DSA.ipynb
  packages/syft/src/syft/core/tensor/ancestors.py
  packages/syft/tests/syft/core/tensor/adp/private_method_test.py
  packages/syft/tests/syft/core/tensor/private_test.py
Labels: 0.7

#6905 Modifying UI of hagrid check command.
  docs/source/guides/data-owner/00-deploy-domain.rst
  docs/source/guides/data-owner/01-upload-data.rst
  notebooks/Experimental/Rasswanth/hagrid_check.ipynb
  notebooks/Experimental/Shubham/TradeDemoE2E/Trade-demo-data-owners.ipynb
  notebooks/PySyTFF/DO.ipynb
  notebooks/medical-federated-learning-program/data-owners-full/02-data-owners-setup-domain.ipynb
  notebooks/medical-federated-learning-program/data-owners/data-owners-presentation.ipynb
  notebooks/padawan/03-architecture.ipynb
  notebooks/padawan/04-rpc-and-pointers.ipynb
  notebooks/petlab_sessions/TradeDemoE2E/Trade-demo-data-owners.ipynb
  notebooks/quickstart/01-install-wizard.ipynb
  notebooks/quickstart/data-owner/00-deploy-domain.ipynb
  notebooks/quickstart/data-owner/01-upload-data.ipynb
  packages/hagrid/hagrid/cli.py
  scripts/aa_demo/update_domain.sh
Labels: 0.7

#6911 Improve logging message on Connection and Timeout Errors
  packages/syft/src/syft/grid/client/client.py
Labels: 0.7
