Repository OpenMined/PySyft, pull requests merged in 2023-03, with the labels that each got.

#7381 [WIP] ADD Digital Signature in JSSerde
  packages/grid/backend/grid/api/auth/login.py
  packages/grid/frontend/package.json
  packages/grid/frontend/src/lib/client/capnp/databox.capnp.js
  packages/grid/frontend/src/lib/client/capnp/datalist.capnp.js
  packages/grid/frontend/src/lib/client/capnp/iterable.capnp.js
  packages/grid/frontend/src/lib/client/capnp/kv_iterable.capnp.js
  packages/grid/frontend/src/lib/client/capnp/recursive_serde.capnp.js
  packages/grid/frontend/src/lib/client/jsclient/jsClient.svelte
  packages/grid/frontend/src/lib/client/jsserde.svelte
  packages/grid/frontend/src/lib/client/messages/syftMessage.ts
  packages/grid/frontend/src/lib/client/objects/key.ts
  packages/grid/frontend/src/lib/client/objects/uid.ts
  packages/grid/frontend/src/lib/jsserde/jsClient.js
  packages/grid/frontend/src/lib/jsserde/jsserde.js
  packages/grid/frontend/src/lib/jsserde/objects/syftMessage.ts
  packages/grid/frontend/src/lib/store.js
  packages/grid/frontend/yarn.lock
Labels: Status: Blocked :heavy_multiplication_x:

#7404 Adding Hagrid Launch Command for Worker Container
  .github/workflows/pr-tests-syft.yml
  .gitignore
  notebooks/api/0.8/00-load-data.ipynb
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/02-review-code-and-approve.ipynb
  notebooks/api/0.8/03-data-scientist-download-result.ipynb
  notebooks/api/0.8/04-jax-example.ipynb
  packages/grid/.env
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/db/init_db.py
  packages/grid/devspace.yaml
  packages/grid/docker-compose.yml
  packages/grid/k8s/rendered/domain.yaml
  packages/grid/k8s/rendered/network.yaml
  packages/grid/worker/compose.sh
  packages/grid/worker/docker-compose.dev.yml
  packages/grid/worker/docker-compose.pull.yml
  packages/grid/worker/docker-compose.yml
  packages/grid/worker/worker.py
  packages/hagrid/hagrid/__init__.py
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/git_check.py
  packages/hagrid/hagrid/grammar.py
  packages/hagrid/hagrid/launch.py
  packages/hagrid/hagrid/orchestra.py
  packages/hagrid/hagrid/util.py
  packages/hagrid/setup.py
  packages/hagrid/tests/hagrid/cli_test.py
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/core/node/new/api.py
  packages/syft/src/syft/core/node/new/client.py
  packages/syft/src/syft/core/node/worker.py
  packages/syft/src/syft/deploy.py
  scripts/aa_demo/update_domain.sh
  tox.ini
Labels: 0.8

#7417 [UI] Datasets List
  packages/grid/frontend/src/lib/components/Button.svelte
  packages/grid/frontend/src/lib/components/DynamicModal.svelte
  packages/grid/frontend/src/lib/components/Modal.svelte
  packages/grid/frontend/src/lib/components/NewModal.svelte
  packages/grid/frontend/src/routes/(app)/account/+page.svelte
  packages/grid/frontend/src/routes/(app)/datasets/+page.svelte
  packages/grid/frontend/src/routes/(app)/datasets/datasetDetail.svelte
  packages/grid/frontend/src/routes/(app)/datasets/datasetListItem.svelte
  packages/grid/frontend/src/routes/(app)/datasets/getStartedModal.svelte
  packages/grid/frontend/src/routes/(app)/datasets/mockDatasetData.ts
  packages/grid/frontend/src/routes/(auth)/login/+page.svelte
  packages/grid/frontend/src/routes/(auth)/signup/+page.svelte
  packages/grid/frontend/tsconfig.json
  packages/grid/frontend/vite.config.ts
  packages/grid/frontend/yarn.lock
Labels: Type: New Feature :heavy_plus_sign:, Svelte, Frontend

#7432 [UI] Datasets List Screen Continued
  packages/grid/frontend/package.json
  packages/grid/frontend/pnpm-lock.yaml
  packages/grid/frontend/src/lib/client/jsclient/jsClient.svelte
  packages/grid/frontend/src/lib/colors/hsl-colors.cjs
  packages/grid/frontend/src/lib/components/Button.svelte
  packages/grid/frontend/src/lib/components/DynamicModal.svelte
  packages/grid/frontend/src/lib/components/Link.svelte
  packages/grid/frontend/src/routes/(app)/account/+page.svelte
  packages/grid/frontend/src/routes/(app)/datasets/+page.svelte
  packages/grid/frontend/src/routes/(app)/datasets/datasetListItem.svelte
  packages/grid/frontend/src/routes/(app)/datasets/mockDatasetData.ts
  packages/grid/frontend/src/routes/(app)/datasets/newDatasetModal.svelte
  packages/grid/frontend/src/routes/(app)/home/+page.svelte
  packages/grid/frontend/src/routes/(app)/home/getStartedModal.svelte
  packages/grid/frontend/static/favicon.png
Labels: Svelte, Frontend

#7450 [UI] Datasets Detail Page
  packages/grid/frontend/src/lib/colors/hsl-colors.cjs
  packages/grid/frontend/src/lib/components/Button.svelte
  packages/grid/frontend/src/routes/(app)/datasets/+page.svelte
  packages/grid/frontend/src/routes/(app)/datasets/datasetDetail.svelte
  packages/grid/frontend/src/routes/(app)/datasets/datasetListItem.svelte
  packages/grid/frontend/src/routes/(app)/datasets/deleteDatasetModal.svelte
  packages/grid/frontend/src/routes/(app)/datasets/newDatasetModal.svelte
Labels: Svelte, Frontend

#7455 Tests for Transforms
  packages/syft/src/syft/core/node/new/sqlite_document_store.py
  packages/syft/src/syft/core/node/new/transforms.py
  packages/syft/tests/syft/transforms/transform_methods_test.py
  packages/syft/tests/syft/transforms/transforms_test.py
Labels: 0.8

#7465 Add BaseStash tests
  packages/syft/src/syft/core/node/new/document_store.py
  packages/syft/tests/syft/stores/base_stash_test.py
Labels: 0.8

#7476 Misc fixes (`BaseStash` tests' flakiness, `@seriablizable` and `@instrument` typings)
  packages/syft/src/syft/core/node/new/serializable.py
  packages/syft/src/syft/telemetry.py
  packages/syft/src/syft/trace_decorator.py
  packages/syft/tests/syft/messages/message_stash_test.py
  packages/syft/tests/syft/stores/base_stash_test.py
Labels: 0.8
