Repository OpenMined/PySyft, pull requests merged in 2023-05, with the labels that each got.

#7494 ActionObjects tests and docs
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/action/action_types.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/store/sqlite_document_store.py
  packages/syft/src/syft/types/uid.py
  packages/syft/tests/syft/action_test.py
  packages/syft/tests/syft/request/request_stash_test.py
  packages/syft/tests/syft/service/action/action_object_test.py
  packages/syft/tests/syft/service/action/action_service_test.py
  packages/syft/tests/syft/service/action/action_types_test.py
  packages/syft/tests/syft/stores/mongo_document_store_test.py
  packages/syft/tests/syft/stores/queue_stash_test.py
  packages/syft/tests/syft/worker_test.py
Labels: 0.9

#7544 ADD JSSerde unit tests
  .github/workflows/pr-tests-frontend.yml
  packages/grid/frontend/frontend.dockerfile
  packages/grid/frontend/package.json
  packages/grid/frontend/pnpm-lock.yaml
  packages/grid/frontend/src/lib/client/jsPyClassMap.js
  packages/grid/frontend/src/lib/client/jsserde.svelte
  packages/grid/frontend/src/lib/client/messages/syftMessage.ts
  packages/grid/frontend/src/lib/client/objects/key.ts
  packages/grid/frontend/tests/unit/serde.test.js
  packages/grid/frontend/vite.config.ts
  tox.ini
Labels: Type: Testing :test_tube:

#7499 WIP: remote lib function calls
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/serde/array.py
  packages/syft/src/syft/serde/lib_permissions.py
  packages/syft/src/syft/serde/lib_service_registry.py
  packages/syft/src/syft/serde/recursive.py
  packages/syft/src/syft/serde/signature.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/service.py
  packages/syft/tests/syft/action_test.py
  packages/syft/tests/syft/service/action/action_object_test.py
Labels: 0.9

#7610 Add Osam to skill_test
  packages/syft/tests/trials/skill_test.py
Labels: Padawan

#7596 Use oblv-ctl 0.3.0
  .github/workflows/pr-tests-enclave.yml
  packages/syft/setup.cfg
  packages/syft/src/syft/external/__init__.py
  packages/syft/src/syft/external/oblv/__init__.py
  packages/syft/src/syft/external/oblv/auth.py
  packages/syft/src/syft/external/oblv/deployment.py
  packages/syft/src/syft/external/oblv/deployment_client.py
  packages/syft/src/syft/external/oblv/oblv_proxy.py
  packages/syft/src/syft/external/oblv/oblv_service.py
  tests/integration/external/oblv/manual_code_submission_test.py
  tox.ini
Labels: Purple Team

#7595 Project Sync
  notebooks/Experimental/projects/00-projects.ipynb
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/metadata/node_metadata.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/project/project_service.py
  packages/syft/src/syft/service/project/project_stash.py
  packages/syft/src/syft/types/datetime.py
  packages/syft/src/syft/types/syft_object.py
  tox.ini
Labels: 0.9, Purple Team

#7550 Rpc 2
  notebooks/api/0.9/00-eager-execution.ipynb
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/external/oblv/oblv_service.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/action/action_types.py
  packages/syft/src/syft/service/action/numpy.py
  packages/syft/src/syft/service/action/pandas.py
  packages/syft/src/syft/service/action/plan.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/src/syft/types/twin_object.py
  packages/syft/src/syft/util/logger.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/action_test.py
  packages/syft/tests/syft/eager_test.py
  packages/syft/tests/syft/service/action/action_object_test.py
  packages/syft/tests/syft/stores/action_store_test.py
  packages/syft/tests/syft/worker_test.py
Labels: Red Team

#7609 Tests for Action Graph and Action Graph Service
  notebooks/Experimental/khoa/ActionGraph.ipynb
  notebooks/Experimental/khoa/ActionGraphServiceTests.ipynb
  notebooks/Experimental/khoa/ActionGraphTests.ipynb
  packages/syft/src/syft/service/action/action_graph.py
  packages/syft/src/syft/service/action/action_graph_service.py
  packages/syft/tests/syft/action_graph/__init__.py
  packages/syft/tests/syft/action_graph/action_graph_serde_test.py
  packages/syft/tests/syft/action_graph/action_graph_service_test.py
  packages/syft/tests/syft/action_graph/action_graph_test.py
  packages/syft/tests/syft/action_graph/fixtures.py
Labels: 0.9, Yellow Team

#7614 Added event rebasing and improved interface to create and add events
  notebooks/api/0.9/06-projects.ipynb
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/util/util.py
Labels: 0.9, Purple Team

#7598 Added locking, saving graph to file, and added get service method to ActionGraphService
  packages/syft/src/syft/service/action/action_graph.py
  packages/syft/src/syft/service/action/action_graph_service.py
  packages/syft/tests/syft/action_graph/action_graph_test.py
  packages/syft/tests/syft/action_graph/fixtures.py
Labels: Yellow Team

#7615 Added Parent Events and Polls
  notebooks/api/0.9/06-projects.ipynb
  packages/syft/src/syft/service/project/project.py
Labels: 0.9, Purple Team

#7508 MVP for ZeroMQ
  notebooks/Experimental/Queue-Primitive-With-ZeroMQ.ipynb
  notebooks/Experimental/QueuePrimitive - Demo/Queue-Primitive-Demo-Notebook.ipynb
  notebooks/Experimental/QueuePrimitive - Demo/current_queue_system.png
  notebooks/Experimental/QueuePrimitive - Demo/multi-queue-pub-sub.png
  notebooks/Experimental/QueuePrimitive - Demo/single-queue-pub-sub.png
  notebooks/api/0.9/08-queue.ipynb
  packages/syft/setup.cfg
  packages/syft/src/syft/node/domain.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/serde/recursive.py
  packages/syft/src/syft/serde/recursive_primitives.py
  packages/syft/src/syft/serde/third_party.py
  packages/syft/src/syft/service/queue/base_queue.py
  packages/syft/src/syft/service/queue/queue.py
  packages/syft/src/syft/service/queue/queue_stash.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/tests/syft/zmq_queue_test.py
Labels: 0.9, Yellow Team

#7606 [WIP] VPN Service
  notebooks/Experimental/01-vpn.ipynb
  notebooks/api/0.9/01-vpn.ipynb
  packages/grid/backend/grid/core/node.py
  packages/grid/backend/grid/start.sh
  packages/grid/docker-compose.build.yml
  packages/grid/docker-compose.dev.yml
  packages/grid/docker-compose.test.yml
  packages/grid/docker-compose.yml
  packages/grid/vpn/requirements.txt
  packages/grid/vpn/tailscale.py
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/grammar.py
  packages/syft/src/syft/node/gateway.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/vpn/headscale_client.py
  packages/syft/src/syft/service/vpn/tailscale_client.py
  packages/syft/src/syft/service/vpn/vpn.py
Labels: 0.9, Yellow Team

#7505 Action Graph
  notebooks/Experimental/Shubham/ActionGraph - Demo.ipynb
  notebooks/Experimental/khoa/ActionGraph.ipynb
  notebooks/Experimental/khoa/ActionGraphSerde.ipynb
  notebooks/Experimental/khoa/ActionGraphServiceTests.ipynb
  notebooks/Experimental/khoa/ActionGraphTests.ipynb
  notebooks/api/0.9/09-action-graph.ipynb
  packages/syft/setup.cfg
  packages/syft/src/syft/serde/third_party.py
  packages/syft/src/syft/service/action/action_graph.py
  packages/syft/src/syft/service/action/action_graph_service.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/types/datetime.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/action_graph/__init__.py
  packages/syft/tests/syft/action_graph/action_graph_serde_test.py
  packages/syft/tests/syft/action_graph/action_graph_service_test.py
  packages/syft/tests/syft/action_graph/action_graph_test.py
  packages/syft/tests/syft/action_graph/fixtures.py
  packages/syft/tests/syft/metadata/fixtures.py
Labels: 0.9, Yellow Team

#7602 Madhava/change metadata endpoint
  packages/grid/backend/grid/core/node.py
  packages/grid/frontend/package.json
  packages/grid/frontend/src/lib/api/metadata.ts
  packages/grid/frontend/src/lib/api/syft-api-call.ts
  packages/grid/frontend/src/lib/client/jsserde.svelte
  packages/grid/frontend/src/lib/client/jsserde.ts
  packages/grid/frontend/src/lib/utils.ts
  packages/grid/frontend/tests/unit/serde.test.js
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/node/routes.py
  packages/syft/src/syft/node/server.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/src/syft/service/settings/settings_stash.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/metadata/metadata_service_test.py
  packages/syft/tests/syft/metadata/metadata_stash_test.py
  packages/syft/tests/syft/settings/fixtures.py
  packages/syft/tests/syft/settings/metadata_test.py
  packages/syft/tests/syft/settings/settings_serde_test.py
  packages/syft/tests/syft/settings/settings_service_test.py
  packages/syft/tests/syft/settings/settings_stash_test.py
Labels: 0.9, Green Team

#7642 Chaging API paths from api/v1/new to api/v2
  packages/grid/backend/grid/api/router.py
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/main.py
  packages/grid/default.env
  packages/grid/devspace.yaml
  packages/grid/frontend/.env.example
  packages/grid/frontend/src/lib/api/auth.ts
  packages/grid/frontend/src/lib/api/metadata.ts
  packages/grid/frontend/src/lib/api/syft-api-call.ts
  packages/grid/frontend/src/lib/client/jsclient/jsClient.svelte
  packages/grid/frontend/src/lib/constants.ts
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/lib.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/registry.py
  packages/syft/src/syft/node/server.py
  tox.ini
Labels: 0.8.1

#7633 Project Sync
  notebooks/Experimental/projects/Messages.ipynb
  notebooks/Experimental/projects/Messaging/Alice.ipynb
  notebooks/Experimental/projects/Messaging/Bob.ipynb
  notebooks/Experimental/projects/Messaging/DataScientist.ipynb
  notebooks/Experimental/projects/ProjectPoll.ipynb
  notebooks/Experimental/projects/network_routes.ipynb
  notebooks/Experimental/projects/user-code-projects.ipynb
  notebooks/api/0.8/00-load-data.ipynb
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/02-review-code-and-approve.ipynb
  notebooks/api/0.8/03-data-scientist-download-result.ipynb
  notebooks/api/0.8/04-jax-example.ipynb
  notebooks/api/0.8/05-custom-policy.ipynb
  notebooks/api/0.9/00-load-data.ipynb
  notebooks/api/0.9/01-submit-code.ipynb
  notebooks/api/0.9/02-review-code-and-approve.ipynb
  notebooks/api/0.9/03-data-scientist-download-result.ipynb
  notebooks/api/0.9/04-jax-example.ipynb
  notebooks/api/0.9/05-custom-policy.ipynb
  notebooks/api/0.9/06-eager-execution.ipynb
  notebooks/api/0.9/06-projects.ipynb
  notebooks/api/0.9/projects/01-create-projects.ipynb
  notebooks/api/0.9/projects/02-multi-node-messages-sync.ipynb
  notebooks/api/0.9/projects/03-project-polls.ipynb
  notebooks/tutorials/pandas-cookbook/01-reading-from-a-csv.ipynb
  notebooks/tutorials/pandas-cookbook/02-selecting-data-finding-common-complain.ipynb
  notebooks/tutorials/pandas-cookbook/03-which-borough-has-the-most-noise-complaints.ipynb
  notebooks/tutorials/pandas-cookbook/04-weekday-bike-most-groupby-aggregate.ipynb
  notebooks/tutorials/pandas-cookbook/05-combining-dataframes-scraping-weather-data.ipynb
  notebooks/tutorials/pandas-cookbook/06-string-operations-which-month-was-the-snowiest.ipynb
  notebooks/tutorials/pandas-cookbook/07-cleaning-up-messy-data.ipynb
  notebooks/tutorials/pandas-cookbook/08-how-to-deal-with-timestamps.ipynb
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/connection.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/node/server.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/project/project_service.py
  packages/syft/src/syft/service/project/project_stash.py
  packages/syft/src/syft/store/kv_document_store.py
  packages/syft/src/syft/util/util.py
  tox.ini
Labels: 0.9, Purple Team

#7640 3 tutorials: working with private datasets, account management & creating private datasets
  notebooks/tutorials/data-owner/01-uploading-private-data.ipynb
  notebooks/tutorials/data-owner/02-account-management.ipynb
  notebooks/tutorials/data-scientist/03-working-with-private-datasets.ipynb
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/core/node/new/action_object.py
  packages/syft/src/syft/service/action/action_data_empty.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/dataset/dataset.py
Labels: 0.8.1

#7659 Added fix for no args functions
  packages/syft/src/syft/service/code/user_code.py
Labels: Red Team, 0.8.1

#7639 Fixing Messaging API. Insertion sort order added.
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/02-review-code-and-approve.ipynb
  notebooks/api/0.8/03-data-scientist-download-result.ipynb
  notebooks/api/0.8/05-custom-policy.ipynb
  notebooks/api/0.9/00-load-data.ipynb
  notebooks/api/0.9/01-submit-code.ipynb
  notebooks/api/0.9/02-review-code-and-approve.ipynb
  notebooks/api/0.9/05-custom-policy.ipynb
  notebooks/api/0.9/10-vpn.ipynb
  notebooks/tutorials/pandas-cookbook/01-reading-from-a-csv.ipynb
  notebooks/tutorials/pandas-cookbook/02-selecting-data-finding-common-complain.ipynb
  notebooks/tutorials/pandas-cookbook/03-which-borough-has-the-most-noise-complaints.ipynb
  notebooks/tutorials/pandas-cookbook/04-weekday-bike-most-groupby-aggregate.ipynb
  notebooks/tutorials/pandas-cookbook/05-combining-dataframes-scraping-weather-data.ipynb
  notebooks/tutorials/pandas-cookbook/06-string-operations-which-month-was-the-snowiest.ipynb
  notebooks/tutorials/pandas-cookbook/07-cleaning-up-messy-data.ipynb
  notebooks/tutorials/pandas-cookbook/08-how-to-deal-with-timestamps.ipynb
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/service/message/message_service.py
  packages/syft/src/syft/service/message/message_stash.py
  packages/syft/src/syft/service/message/messages.py
  packages/syft/src/syft/service/project/project_service.py
  packages/syft/src/syft/service/project/project_stash.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/request/request_stash.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/kv_document_store.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/store/sqlite_document_store.py
  packages/syft/src/syft/types/datetime.py
  packages/syft/tests/syft/messages/message_service_test.py
  packages/syft/tests/syft/messages/message_stash_test.py
  packages/syft/tests/syft/request/request_stash_test.py
Labels: Yellow Team, 0.8.1

#7618 Frontend Type Generation
  packages/grid/frontend/.gitignore
  packages/grid/frontend/scripts/replace_imports.py
  packages/grid/frontend/src/types/generated/LineageID.d.ts
  packages/grid/frontend/src/types/generated/UID.d.ts
  packages/grid/frontend/src/types/generated/UUID.d.ts
  packages/syft/src/syft/serde/recursive.py
  packages/syft/src/syft/util/__init__.py
  packages/syft/src/syft/util/schema.py
  tox.ini
Labels: 0.9, Green Team

#7502 Fix `@instrument` and `@serializable` (continued)
  packages/syft/src/syft/serde/serializable.py
  packages/syft/src/syft/util/trace_decorator.py
Labels: 0.9, Yellow Team

#7681 Use %pip install instead of !pip install inside Jupyter notebooks
  docs/source/guides/data-owner/01-upload-data.rst
  notebooks/api/0.8/00-load-data.ipynb
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/02-review-code-and-approve.ipynb
  notebooks/api/0.8/03-data-scientist-download-result.ipynb
  notebooks/api/0.8/04-jax-example.ipynb
  notebooks/api/0.8/05-custom-policy.ipynb
  notebooks/api/0.9/00-load-data.ipynb
  notebooks/api/0.9/01-submit-code.ipynb
  notebooks/api/0.9/02-review-code-and-approve.ipynb
  notebooks/api/0.9/03-data-scientist-download-result.ipynb
  notebooks/api/0.9/04-jax-example.ipynb
  notebooks/quickstart/data-owner/01-upload-data.ipynb
  notebooks/tutorials/data-owner/01-uploading-private-data.ipynb
  notebooks/tutorials/data-owner/02-account-management.ipynb
  notebooks/tutorials/data-scientist/03-working-with-private-datasets.ipynb
  notebooks/tutorials/hello-syft/01-hello-syft.ipynb
  notebooks/tutorials/pandas-cookbook/01-reading-from-a-csv.ipynb
  notebooks/tutorials/pandas-cookbook/02-selecting-data-finding-common-complain.ipynb
  notebooks/tutorials/pandas-cookbook/03-which-borough-has-the-most-noise-complaints.ipynb
  notebooks/tutorials/pandas-cookbook/04-weekday-bike-most-groupby-aggregate.ipynb
  notebooks/tutorials/pandas-cookbook/05-combining-dataframes-scraping-weather-data.ipynb
  notebooks/tutorials/pandas-cookbook/06-string-operations-which-month-was-the-snowiest.ipynb
  notebooks/tutorials/pandas-cookbook/07-cleaning-up-messy-data.ipynb
  notebooks/tutorials/pandas-cookbook/08-how-to-deal-with-timestamps.ipynb
  packages/hagrid/hagrid/manifest_template.yml
Labels: Yellow Team, 0.8.1

#7636 Jax 101 tutorial notebooks for testing
  notebooks/jax/L0/Chapter 9/helpers.py
  notebooks/tutorials/jax-101/02-jitting.ipynb
  notebooks/tutorials/jax-101/03-vectorization.ipynb
  notebooks/tutorials/jax-101/04-advanced-autodiff.ipynb
  notebooks/tutorials/jax-101/05-random-numbers.ipynb
  notebooks/tutorials/jax-101/06-pytrees.ipynb
  notebooks/tutorials/jax-101/07-parallelism.ipynb
  notebooks/tutorials/jax-101/08-state.ipynb
  notebooks/tutorials/jax-101/helpers.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/request/request.py
Labels: Red Team, 0.8.1
