Repository OpenMined/PySyft, pull requests merged in 2023-01, with the labels that each got.

#7200 Fixed minimize scalar for newer scipy version
  packages/syft/src/syft/core/adp/data_subject_ledger.py
Labels: Priority: 1 - Immediate :fire:, 0.7

#7204 Fix ArgCache bug in QuickstartUI
  packages/hagrid/hagrid/quickstart_ui.py
Labels: Type: Bug :bug:, HAGrid

#7183 Data Layer Prototypes
  packages/grid/backend/grid/api/syft/syft.py
  packages/syft/new_tests/worker/worker_test.py
  packages/syft/setup.cfg
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/core/adp/data_subject_ledger.py
  packages/syft/src/syft/core/common/serde/recursive.py
  packages/syft/src/syft/core/common/serde/recursive_primitives.py
  packages/syft/src/syft/core/common/serde/third_party.py
  packages/syft/src/syft/core/node/common/client_manager/node_networking_api.py
  packages/syft/src/syft/core/node/common/node.py
  packages/syft/src/syft/core/node/common/node_manager/association_request_manager.py
  packages/syft/src/syft/core/node/common/node_manager/database_manager.py
  packages/syft/src/syft/core/node/common/node_manager/dataset_manager.py
  packages/syft/src/syft/core/node/common/node_manager/node_manager.py
  packages/syft/src/syft/core/node/common/node_manager/user_manager.py
  packages/syft/src/syft/core/node/common/node_table/association_request.py
  packages/syft/src/syft/core/node/common/node_table/bin_obj_metadata.py
  packages/syft/src/syft/core/node/common/node_table/dataset.py
  packages/syft/src/syft/core/node/common/node_table/node.py
  packages/syft/src/syft/core/node/common/node_table/request.py
  packages/syft/src/syft/core/node/common/node_table/setup.py
  packages/syft/src/syft/core/node/common/node_table/syft_object.py
  packages/syft/src/syft/core/node/common/node_table/user.py
  packages/syft/src/syft/core/node/domain_client.py
  packages/syft/src/syft/core/node/new/__init__.py
  packages/syft/src/syft/core/node/new/action_object.py
  packages/syft/src/syft/core/node/new/action_service.py
  packages/syft/src/syft/core/node/new/action_store.py
  packages/syft/src/syft/core/node/new/api.py
  packages/syft/src/syft/core/node/new/credentials.py
  packages/syft/src/syft/core/node/new/service_store.py
  packages/syft/src/syft/core/node/new/signature.py
  packages/syft/src/syft/core/node/new/transforms.py
  packages/syft/src/syft/core/node/new/user.py
  packages/syft/src/syft/core/node/new/user2.py
  packages/syft/src/syft/core/node/worker.py
  packages/syft/src/syft/core/tensor/autodp/phi_tensor.py
  packages/syft/src/syft/core/tensor/lazy_repeat_array.py
  packages/syft/src/syft/filterwarnings.py
  packages/syft/src/syft/grid/client/grid_connection.py
  packages/syft/src/syft/lib/util.py
  tests/integration/network/connect_nodes_test.py
Labels: 0.8, Syft

#7231 Oblivious Integration Tests
  .github/workflows/stack-integration_tests.yml
  .gitignore
  notebooks/Experimental/Oblv/Enclave_DO.ipynb
  notebooks/Experimental/Oblv/Enclave_DS.ipynb
  packages/grid/.env
  packages/grid/backend/docker-scripts/start.sh
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/install_oblivious.sh
  packages/grid/docker-compose.dev.yml
  packages/grid/docker-compose.test.yml
  packages/grid/docker-compose.yml
  packages/hagrid/hagrid/cli.py
  packages/syft/src/syft/core/node/common/node_service/oblv/oblv_service.py
  packages/syft/src/syft/core/node/domain.py
  packages/syft/src/syft/oblv/constants.py
  packages/syft/src/syft/oblv/deployment_client.py
  scripts/kill_process_in_port.sh
  tests/integration/oblv/enclave_dataset_transfer_test.py
  tox.ini
Labels: Type: Testing :test_tube:
