Repository OpenMined/PySyft, pull requests merged in 2023-11, with the labels that each got.

#8204 Fix 0.8.1 hagrid env variable bug
  packages/hagrid/hagrid/cli.py
Labels: Type: Bug :bug:, Blue Team

#8130 Removed some private fields from nodemetadataJSON
  notebooks/api/0.8/07-domain-register-control-flow.ipynb
  notebooks/tutorials/data-engineer/02-deployment-types.ipynb
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/metadata/migrations.py
  packages/syft/src/syft/service/metadata/node_metadata.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/settings/__init__.py
  packages/syft/src/syft/service/settings/migrations.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/src/syft/service/settings/settings_stash.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/syft/settings/fixtures.py
  packages/syft/tests/syft/settings/settings_service_test.py
  packages/syft/tests/syft/settings/settings_stash_test.py
  packages/syft/tests/syft/users/user_service_test.py
Labels: Yellow Team, 0.8.2

#8205 Workaround pydantic tuple validator for DictTuple
  notebooks/tutorials/data-owner/01-uploading-private-data.ipynb
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/dataset/dataset_service.py
  packages/syft/src/syft/types/dicttuple.py
  packages/syft/tests/syft/types/dicttuple_test.py
Labels: Yellow Team, 0.8.2

#8227 fix check for mock if its a DataFrame in _repr_html_
  packages/syft/src/syft/service/dataset/dataset.py
Labels: Type: Bug :bug:, Yellow Team, 0.8.2

#8196 HELM: Updated docker compose for hagrid
  notebooks/helm/docker helm syft.ipynb
  packages/grid/backend/grid/start.sh
  packages/grid/default.env
  packages/grid/docker-compose.build.yml
  packages/grid/docker-compose.dev.yml
  packages/grid/docker-compose.yml
  packages/grid/seaweedfs/app.py
  packages/grid/seaweedfs/new_seaweed.sh
  packages/grid/seaweedfs/seaweed.dockerfile
  packages/grid/seaweedfs/seaweedfs.dockerfile
  packages/grid/seaweedfs/start.sh
  packages/hagrid/hagrid/cli.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/node/routes.py
  packages/syft/src/syft/protocol/data_protocol.py
  packages/syft/src/syft/service/worker/worker_service.py
Labels: Red Team

#8247 Fix k8s dev CI
  .github/workflows/cd-syft-dev.yml
Labels: Purple Team

#8248 Fix k8s dev CI
  .github/workflows/cd-syft-dev.yml
Labels: Purple Team

#8252 fix: time rounding
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/tests/syft/service/jobs/job_stash_test.py
Labels: Green Team, Red Team

#8240 Merge backend and worker dockerfile
  .github/workflows/cd-syft-dev.yml
  .github/workflows/cd-syft.yml
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/core/node.py
  packages/grid/default.env
  packages/grid/docker-compose.build.yml
  packages/grid/docker-compose.dev.yml
  packages/grid/docker-compose.pull.yml
  packages/grid/docker-compose.test.yml
  packages/grid/docker-compose.tls.yml
  packages/grid/docker-compose.yml
  packages/grid/podman/podman-kube/podman-syft-kube-config.yaml
  packages/grid/worker/__init__.py
  packages/grid/worker/bootstrap.py
  packages/grid/worker/docker-compose.build.yml
  packages/grid/worker/docker-compose.dev.yml
  packages/grid/worker/docker-compose.pull.yml
  packages/grid/worker/docker-compose.yml
  packages/grid/worker/new_routes.py
  packages/grid/worker/start.sh
  packages/grid/worker/worker.dockerfile
  packages/grid/worker/worker.py
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/manifest_template.yml
  packages/hagrid/hagrid/orchestra.py
  packages/hagrid/hagrid/parse_template.py
  packages/syftcli/manifest.yml
  tox.ini
Labels: Yellow Team

#8270 Helm migrations
  packages/syft/src/syft/node/worker_settings.py
  packages/syft/src/syft/protocol/data_protocol.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/queue/queue_stash.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/store/blob_storage/__init__.py
  packages/syft/src/syft/types/blob_storage.py
Labels: Red Team

#8274 test: test for syft base CPU image
  .github/workflows/cd-syft.yml
  .github/workflows/pr-tests-stack.yml
  packages/grid/backend/backend.dockerfile
  packages/grid/backend/syft_base_cpu.dockerfile
  tox.ini
Labels: Yellow Team

#8266 Job composition
  notebooks/helm/test_composing_jobs.ipynb
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/action/numpy.py
  packages/syft/src/syft/service/action/pandas.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/types/blob_storage.py
  packages/syft/tests/syft/syft_functions/syft_function_test.py
Labels: Red Team

#8254 Build custom worker with config
  .bumpversion.cfg
  .github/workflows/cd-syft.yml
  packages/grid/backend/backend.dockerfile
  packages/grid/backend/grid/start.sh
  packages/grid/backend/syft_base_cpu.dockerfile
  packages/grid/backend/worker_cpu.dockerfile
  packages/syft/setup.cfg
  packages/syft/src/syft/custom_worker/__init__.py
  packages/syft/src/syft/custom_worker/builder.py
  packages/syft/src/syft/custom_worker/config.py
  packages/syft/tests/syft/custom_worker/config_test.py
  tox.ini
Labels: Yellow Team, Purple Team, 0.8.3

#8288 Add more tests for CustomWorkerConfig
  packages/syft/src/syft/custom_worker/config.py
  packages/syft/tests/syft/custom_worker/config_test.py
Labels: Yellow Team, Purple Team

#8272 ADD job.kill()
  notebooks/helm/debug_nested_syft_functions.ipynb
  notebooks/helm/kill-restart-jobs.ipynb
  packages/syft/setup.cfg
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/job/job_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/log/log.py
  packages/syft/src/syft/service/log/log_service.py
  packages/syft/src/syft/service/queue/queue.py
  packages/syft/src/syft/service/queue/queue_stash.py
  packages/syft/src/syft/service/service.py
  packages/syft/tests/syft/stores/action_store_test.py
  packages/syft/tests/syft/syft_functions/syft_function_test.py
Labels: Blue Team, 0.8.3
