Repository OpenMined/PySyft, pull requests merged in 2023-10, with the labels that each got.

#8106 feat: improve notifications html
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/service/notification/notifications.py
  packages/syft/src/syft/store/linked_obj.py
Labels: Green Team, 0.8.2

#8118 fix: `hagrind land all --prune-vol` can delete volumes from other containers
  packages/grid/docker-compose.yml
  packages/grid/worker/docker-compose.yml
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/orchestra.py
Labels: Yellow Team, 0.8.2

#8119 Add Seaweed FS to devspace/k8s
  packages/grid/devspace.yaml
  packages/grid/helm/helm.py
  packages/grid/helm/manifests.yaml
  packages/grid/helm/repo/index.yaml
  packages/grid/helm/repo/syft-0.8.2-beta.32.tgz
  packages/grid/helm/syft/Chart.lock
  packages/grid/helm/syft/Chart.yaml
  packages/grid/helm/syft/charts/component-chart-0.8.6.tgz
  packages/grid/helm/syft/charts/component-chart-0.9.1.tgz
  packages/grid/helm/syft/templates/backend-headless-service.yaml
  packages/grid/helm/syft/templates/backend-service.yaml
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/grid/helm/syft/templates/frontend-deployment.yaml
  packages/grid/helm/syft/templates/frontend-service.yaml
  packages/grid/helm/syft/templates/grid-stack-ingress-ingress.yaml
  packages/grid/helm/syft/templates/mongo-headless-service.yaml
  packages/grid/helm/syft/templates/mongo-service.yaml
  packages/grid/helm/syft/templates/mongo-statefulset.yaml
  packages/grid/helm/syft/templates/proxy-deployment.yaml
  packages/grid/helm/syft/templates/proxy-service.yaml
  packages/grid/helm/syft/templates/seaweedfs-config-configmap.yaml
  packages/grid/helm/syft/templates/seaweedfs-headless-service.yaml
  packages/grid/helm/syft/templates/seaweedfs-service.yaml
  packages/grid/helm/syft/templates/seaweedfs-statefulset.yaml
  packages/grid/helm/syft/templates/traefik-main-config-configmap.yaml
  packages/grid/helm/syft/templates/traefik-main-config.yaml
  packages/grid/helm/syft/values.yaml
  packages/grid/k8s/manifests/seaweed-filer.yaml
  packages/grid/k8s/manifests/seaweed-s3.yaml
  packages/grid/k8s/manifests/seaweedfs.yaml
  packages/grid/seaweedfs/s3config.json
  tox.ini
Labels: Purple Team, 0.8.2

#8116 Fix Asset repr HTML in case mock is empty.
  packages/syft/src/syft/service/dataset/dataset.py
Labels: Green Team, 0.8.2

#8078 Init exception handling
  packages/syft/src/syft/exceptions/__init__.py
  packages/syft/src/syft/exceptions/exception.py
  packages/syft/src/syft/exceptions/user.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/tests/syft/users/user_test.py
Labels: Green Team, 0.8.2

#8124 Scheduled deploy dev on k8s + auto-clean registry
  .github/workflows/cd-syft-dev.yml
Labels: Purple Team, 0.8.2

#8076 Integration.k8s tests
  .github/workflows/pr-tests-stack.yml
  packages/grid/helm/helm.py
  packages/grid/helm/syft/values.yaml
  packages/grid/k8s/manifests/ingress.yaml
  tox.ini
Labels: Priority: 1 - Immediate :fire:, Purple Team, 0.8.2

#8075 Air Gap AlmaLinux VM
  packages/grid/vagrant/almalinux_9/arm_64/Vagrantfile
  packages/grid/vagrant/almalinux_9/x86_64/Vagrantfile
  packages/grid/vagrant/fedora_38/arm_64/Vagrantfile
  packages/grid/vagrant/fedora_38/x86_64/Vagrantfile
Labels: Purple Team

#8129 Fix Azure CLI login
  .github/workflows/cd-syft-dev.yml
Labels: Purple Team, 0.8.2

#8133 Fix syft.build.helm parse errors
  packages/grid/helm/helm.py
  tox.ini
Labels: Purple Team, 0.8.2

#8074 Check for duplicate contributor email
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/syft/service/dataset/dataset_service_test.py
Labels: Purple Team, 0.8.2

#8107 fix: show uploader if exists
  packages/syft/src/syft/service/dataset/dataset.py
Labels: Green Team, 0.8.2

#8110 Center table column header
  packages/syft/src/syft/util/notebook_ui/notebook_addons.py
Labels: Green Team, 0.8.2

#8134 Remove extra prompts on .accept_by_depositing_result
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/dataset/dataset_service.py
  packages/syft/src/syft/service/request/request.py
Labels: Purple Team, 0.8.2

#8132 fix: show reason for request denial in the error
  notebooks/tutorials/enclaves/Enclave-single-notebook-DO-DS.ipynb
  packages/syft/src/syft/external/oblv/oblv_service.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/context.py
  packages/syft/src/syft/service/enclave/enclave_service.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/request/request_service.py
Labels: Yellow Team, 0.8.2

#8135 Enable indexing datasets by name
  notebooks/api/0.8/06-multiple-code-requests.ipynb
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/serde/recursive_primitives.py
  packages/syft/src/syft/serde/third_party.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/dataset/dataset_service.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/types/tupledict.py
Labels: Yellow Team, 0.8.2

#8140 Updated Hagrid to pull template from tags
  packages/hagrid/hagrid/cli.py
Labels: Purple Team, 0.8.2

#8144 fix: dark mode activation
  packages/syft/src/syft/util/notebook_ui/notebook_addons.py
Labels: Green Team, 0.8.2

#8142 feat: add login_as_guest shortcut
  packages/hagrid/hagrid/orchestra.py
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/client/client.py
Labels: Green Team, 0.8.2

#8149 Don't use Rich for confirmation prompt
  packages/syft/src/syft/util/util.py
Labels: Green Team, 0.8.2

#8161 K8s: test-gateway addition to tox
  packages/syft/src/syft/node/gateway.py
  packages/syft/src/syft/service/network/network_service.py
  tests/integration/conftest.py
  tests/integration/network/client_test.py
  tests/integration/network/gateway_test.py
  tox.ini
Labels: Purple Team

#8166 Deploy Gateway via Helm Chart
  packages/grid/devspace.yaml
  packages/grid/helm/helm.py
  packages/grid/helm/manifests.yaml
  packages/grid/helm/syft/templates/seaweedfs-config-configmap.yaml
  packages/grid/helm/syft/templates/seaweedfs-headless-service.yaml
  packages/grid/helm/syft/templates/seaweedfs-service.yaml
  packages/grid/helm/syft/templates/seaweedfs-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  tox.ini
Labels: Purple Team

#8165 Fix guest login
  packages/syft/src/syft/service/network/network_service.py
  tests/integration/network/gateway_test.py
Labels: Purple Team

#8151 refactor: remove unneeded conditions in login/login_as_guest
  packages/hagrid/hagrid/orchestra.py
Labels: Green Team

#7664 [WIP] Deploy to AWS tutorial
  notebooks/tutorials/data-engineer/08-deploy-to-aws.ipynb
Labels: Awaiting Response, Yellow Team

#8159 Return a new client with SyftClient.login
  notebooks/tutorials/enclaves/Enclave-single-notebook-DO-DS.ipynb
  notebooks/tutorials/pandas-cookbook/01-reading-from-a-csv.ipynb
  notebooks/tutorials/pandas-cookbook/02-selecting-data-finding-common-complain.ipynb
  notebooks/tutorials/pandas-cookbook/03-which-borough-has-the-most-noise-complaints.ipynb
  notebooks/tutorials/pandas-cookbook/04-weekday-bike-most-groupby-aggregate.ipynb
  notebooks/tutorials/pandas-cookbook/05-combining-dataframes-scraping-weather-data.ipynb
  notebooks/tutorials/pandas-cookbook/06-string-operations-which-month-was-the-snowiest.ipynb
  notebooks/tutorials/pandas-cookbook/07-cleaning-up-messy-data.ipynb
  notebooks/tutorials/pandas-cookbook/08-how-to-deal-with-timestamps.ipynb
  packages/hagrid/hagrid/orchestra.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/client/enclave_client.py
  packages/syft/src/syft/client/gateway_client.py
  packages/syft/src/syft/external/oblv/deployment_client.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/tests/syft/api_test.py
  packages/syft/tests/syft/client_test.py
  packages/syft/tests/syft/gateways/gateway_test.py
  packages/syft/tests/syft/project/project_test.py
  packages/syft/tests/syft/settings/settings_service_test.py
  packages/syft/tests/syft/users/user_code_test.py
  packages/syft/tests/syft/users/user_test.py
  tests/integration/network/gateway_test.py
Labels: Yellow Team, 0.8.2

#8176 fix: reduce fe to metadata info
  packages/grid/frontend/src/lib/components/authentication/DomainMetadataPanel.svelte
  packages/grid/frontend/src/lib/utils.ts
  packages/grid/frontend/src/routes/(app)/+layout.svelte
  packages/grid/frontend/src/routes/(app)/account/+page.svelte
  packages/grid/frontend/src/routes/(app)/config/+page.svelte
  packages/grid/frontend/src/routes/(app)/datasets/+page.svelte
  packages/grid/frontend/src/routes/(app)/datasets/[slug]/+page.svelte
  packages/grid/frontend/src/routes/(app)/logout/+page.svelte
  packages/grid/frontend/src/routes/(app)/requests/+page.svelte
  packages/grid/frontend/src/routes/(app)/users/+page.svelte
  packages/grid/frontend/src/routes/(app)/users/[slug]/+page.svelte
  packages/grid/frontend/src/routes/(auth)/login/+page.svelte
  packages/grid/frontend/src/routes/(auth)/signup/+page.svelte
  packages/grid/frontend/src/routes/+page.svelte
  packages/grid/frontend/src/routes/[...all]/+page.svelte
  packages/grid/frontend/tests/e2e/auth/login.spec.ts
  packages/grid/frontend/tests/e2e/auth/signup.spec.ts
Labels: Green Team

#8186 tests: add sanity e2e tests to fallback
  .github/workflows/pr-tests-frontend.yml
  packages/grid/frontend/src/lib/components/Badge.svelte
  packages/grid/frontend/src/lib/components/authentication/DomainMetadataPanel.svelte
  packages/grid/frontend/src/lib/components/authentication/Nav.svelte
  packages/grid/frontend/tests/e2e/metadata-panel.spec.ts
  packages/grid/frontend/tests/e2e/nav.spec.ts
  packages/grid/frontend/tests/e2e/page.spec.ts
Labels: Green Team

#8147 mongo action store
  notebooks/api/0.8/09-blob-storage.ipynb
  packages/grid/backend/grid/core/node.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/store/blob_storage/seaweedfs.py
  packages/syft/src/syft/store/mongo_client.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/stores/action_store_test.py
  packages/syft/tests/syft/stores/store_fixtures_test.py
  tox.ini
Labels: Yellow Team, Red Team

#8194 Use ruff format to replace black
  .pre-commit-config.yaml
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/deps.py
  packages/hagrid/hagrid/quickstart_ui.py
  packages/syft/src/syft/client/registry.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/store/sqlite_document_store.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/util/env.py
  packages/syft/tests/syft/eager_test.py
  ruff.toml
Labels: Yellow Team

#8179 Security - Backend - wolfi container base image with support for rootless user
  packages/.dockerignore
  packages/grid/backend/backend.dockerfile
  packages/grid/backend/grid/bootstrap.py
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/core/node.py
  packages/grid/backend/grid/start.sh
  packages/grid/default.env
  packages/grid/devspace.yaml
  packages/grid/docker-compose.dev.yml
  packages/grid/docker-compose.yml
  packages/grid/helm/manifests.yaml
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/grid/helm/syft/templates/frontend-deployment.yaml
  packages/grid/helm/syft/templates/mongo-statefulset.yaml
  packages/grid/helm/syft/templates/seaweedfs-statefulset.yaml
  packages/grid/podman/podman-kube/podman-syft-kube-config.yaml
  packages/grid/worker/start.sh
  packages/hagrid/hagrid/cli.py
  packages/syft/src/syft/store/sqlite_document_store.py
  tox.ini
Labels: Purple Team

#8182 Disable headscale and tailscale
  .github/workflows/cd-syft-dev.yml
  .github/workflows/cd-syft.yml
  .github/workflows/container-scan.yml
  notebooks/tutorials/data-engineer/02-deployment-types.ipynb
  packages/grid/default.env
  packages/grid/devspace.yaml
  packages/grid/docker-compose.build.yml
  packages/grid/docker-compose.dev.yml
  packages/grid/docker-compose.test.yml
  packages/grid/docker-compose.yml
  packages/grid/k8s/manifests/traefik-network.yaml
  packages/grid/k8s/manifests/vpn-iptables/kustomization.yaml
  packages/grid/k8s/manifests/vpn-iptables/vpn-iptables.yaml
  packages/grid/k8s/rendered/network.yaml
  packages/grid/podman/podman-kube/podman-syft-kube-config.yaml
  packages/grid/traefik/docker/dynamic-tls.yml
  packages/grid/traefik/docker/dynamic.yml
  packages/grid/traefik/docker/traefik-tls.template.yml
  packages/grid/traefik/docker/traefik.yml
  packages/grid/traefik/k8s/dynamic.yml
  packages/grid/vpn/config.yaml
  packages/grid/vpn/connect_vpn.py
  packages/grid/vpn/headscale.dockerfile
  packages/grid/vpn/headscale.py
  packages/grid/vpn/headscale.sh
  packages/grid/vpn/iptables.dockerfile
  packages/grid/vpn/iptables.sh
  packages/grid/vpn/requirements.txt
  packages/grid/vpn/tailscale.dockerfile
  packages/grid/vpn/tailscale.py
  packages/grid/vpn/tailscale.sh
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/manifest_template.yml
  packages/syft/src/syft/node/gateway.py
  packages/syft/src/syft/protocol/data_protocol.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/vpn/headscale_client.py
  packages/syft/src/syft/service/vpn/tailscale_client.py
  packages/syft/src/syft/service/vpn/vpn.py
  packages/syft/src/syft/store/__init__.py
  packages/syftcli/manifest.yml
  scripts/reset_network.sh
  scripts/vpn_scan.sh
  tox.ini
Labels: Blue Team

#8188 Remove autouse from fixtures
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/notifications/fixtures.py
  packages/syft/tests/syft/users/fixtures.py
Labels: Yellow Team

#8193 Fix protocol version bug
  packages/syft/src/syft/protocol/data_protocol.py
Labels: Yellow Team, 0.8.2

#8183 Backup Node Credentials
  packages/grid/scripts/backup_node_credentials.sh
Labels: Yellow Team, 0.8.2

#8164 Use `DictTuple(tuple)` for `Dataset.assets` and `SyftClient.datasets` instead of `TupleDict(OrderedDict)`
  docs/source/api_reference/syft.service.dataset.dataset.rst
  notebooks/tutorials/data-owner/01-uploading-private-data.ipynb
  packages/syft/src/syft/protocol/data_protocol.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/serde/recursive_primitives.py
  packages/syft/src/syft/serde/third_party.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/dataset/dataset_service.py
  packages/syft/src/syft/types/dicttuple.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/types/tupledict.py
  packages/syft/tests/syft/types/dicttuple_test.py
Labels: Yellow Team, 0.8.2

#8174 Force Migrate existing data to new version
  .github/workflows/pr-tests-syft.yml
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/metadata/migrations.py
  packages/syft/src/syft/service/metadata/node_metadata.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/kv_document_store.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/syft/settings/settings_service_test.py
Labels: Yellow Team

#8202 notebook for upgrading via helm
  .github/workflows/cd-syft.yml
  notebooks/tutorials/data-engineer/11-upgrading-via-helm.ipynb
  packages/grid/helm/helm.py
Labels: Yellow Team, 0.8.2

#8185 feature: add priority to NodeRoute System
  packages/syft/src/syft/client/registry.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/tests/syft/gateways/gateway_test.py
Labels: Yellow Team

#8203 Fix Post Merge Task
  .github/workflows/post-merge-tasks.yml
Labels: Type: Bug :bug:, Yellow Team
