Repository OpenMined/PySyft, pull requests merged in 2023-12, with the labels that each got.

#8298 Remove unused script / fix seaweedfs docker entrypoint
  packages/grid/seaweedfs/new_seaweed.sh
  packages/grid/seaweedfs/seaweedfs.dockerfile
Labels: Blue Team

#8297 ADD missing env vars in default.env
  packages/grid/default.env
Labels: Blue Team

#8294 fix: duplicated code requests
  notebooks/api/0.8/01-submit-code.ipynb
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/code/user_code_stash.py
  packages/syft/tests/syft/users/user_code_test.py
Labels: Yellow Team, 0.8.3

#8293 Added NODE_SIDE_TYPE flag to helm chart
  packages/grid/default.env
  packages/grid/devspace.yaml
  packages/grid/helm/helm.py
  packages/grid/helm/manifests.yaml
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/grid/helm/syft/templates/frontend-deployment.yaml
  packages/grid/helm/syft/values.yaml
Labels: Yellow Team, 0.8.3

#8302 Getting 'Pointer: None' when code request is approved
  packages/syft/src/syft/service/code/user_code_service.py
Labels: Yellow Team, 0.8.3

#8306 Bumping dependencies and removing gipc
  packages/grid/backend/backend.dockerfile
  packages/hagrid/setup.py
  packages/syft/setup.cfg
  packages/syft/src/syft/node/node.py
Labels: 0.8.3

#8301 Clean up HELM docker
  .github/workflows/cd-syft.yml
  notebooks/helm/docker-helm-syft.ipynb
  packages/grid/default.env
  packages/grid/devspace.yaml
  packages/grid/docker-compose.build.yml
  packages/grid/docker-compose.pull.yml
  packages/grid/docker-compose.yml
  packages/grid/helm/manifests.yaml
  packages/grid/helm/syft/templates/NOTES.txt
  packages/grid/helm/syft/templates/seaweedfs-service.yaml
  packages/grid/helm/syft/templates/seaweedfs-statefulset.yaml
  packages/grid/seaweedfs/mount_command.sh
  packages/grid/seaweedfs/seaweedfs.dockerfile
  packages/grid/seaweedfs/start.sh
  packages/grid/traefik/docker/dynamic.yml
Labels: Yellow Team, 0.8.3

#8180 Randomizing default helm credentials
  .bumpversion.cfg
  .github/workflows/cd-syft.yml
  .github/workflows/pr-tests-stack.yml
  .github/workflows/pr-tests-syft.yml
  packages/grid/default.env
  packages/grid/devspace.yaml
  packages/grid/helm/generate_helm_notes.py
  packages/grid/helm/helm.py
  packages/grid/helm/manifests.yaml
  packages/grid/helm/syft/Chart.lock
  packages/grid/helm/syft/Chart.yaml
  packages/grid/helm/syft/charts/component-chart-0.9.1.tgz
  packages/grid/helm/syft/templates/NOTES.txt
  packages/grid/helm/syft/templates/backend-headless-service.yaml
  packages/grid/helm/syft/templates/backend-service.yaml
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/grid/helm/syft/templates/frontend-deployment.yaml
  packages/grid/helm/syft/templates/frontend-service.yaml
  packages/grid/helm/syft/templates/mongo-headless-service.yaml
  packages/grid/helm/syft/templates/mongo-service.yaml
  packages/grid/helm/syft/templates/mongo-statefulset.yaml
  packages/grid/helm/syft/templates/mongo_secrets.yaml
  packages/grid/helm/syft/templates/proxy-deployment.yaml
  packages/grid/helm/syft/templates/proxy-service.yaml
  packages/grid/helm/syft/templates/seaweedfs-headless-service.yaml
  packages/grid/helm/syft/templates/seaweedfs-service.yaml
  packages/grid/helm/syft/templates/seaweedfs-statefulset.yaml
  packages/grid/helm/syft/templates/seaweedfs_secrets.yaml
  packages/grid/helm/syft/templates/syft_secrets.yaml
  packages/grid/helm/syft/values.yaml
  packages/grid/k8s/manifests/ingress-tls.yaml
  packages/grid/k8s/manifests/ingress.yaml
  packages/grid/k8s/manifests/loadbalancer.yaml
  packages/grid/k8s/manifests/redis.yaml
  packages/grid/k8s/manifests/seaweedfs.yaml
  packages/grid/k8s/manifests/traefik-domain.yaml
  packages/grid/k8s/manifests/traefik-network.yaml
  packages/grid/k8s/rendered/domain.yaml
  packages/grid/k8s/rendered/network.yaml
  packages/syft/src/syft/client/client.py
  scripts/get_k8s_secret_ci.sh
  tests/integration/network/client_test.py
  tox.ini
Labels: Purple Team

#8309 ADD Thread mode execution for jobs and subjobs.
  packages/hagrid/hagrid/orchestra.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/job/job_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/queue/queue.py
  packages/syft/src/syft/service/queue/zmq_queue.py
Labels: Blue Team, 0.8.4

#8343 Delete Functionality for workers in WorkerPool
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/service/worker/worker_pool_service.py
Labels: Yellow Team, Purple Team

#8346 Add endpoint for getting worker container logs
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/service/worker/worker_pool_service.py
Labels: Yellow Team

#8347 Added api for worker details
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/service/worker/worker_pool_service.py
Labels: Yellow Team

#8350 add worker status
  notebooks/helm/docker-helm-syft.ipynb
  notebooks/helm/helm-syft.ipynb
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/job/job_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/queue/base_queue.py
  packages/syft/src/syft/service/queue/queue.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/service/worker/worker.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/service/worker/worker_service.py
  packages/syft/src/syft/service/worker/worker_stash.py
  packages/syft/tests/syft/zmq_queue_test.py
Labels: Green Team, 0.8.4

#8357 Always close DockerClient after use
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/custom_worker/builder.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
Labels: Yellow Team

#8349 ADD ActionDataLink/ Update action object
  notebooks/helm/helm-syft.ipynb
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_data_empty.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/tests/syft/syft_functions/syft_function_test.py
Labels: Blue Team, 0.8.4
