Repository OpenMined/PySyft, pull requests merged in 2023-06, with the labels that each got.

#7663 Recursive object hashing with SHA256
  packages/syft/src/syft/node/credentials.py
  packages/syft/src/syft/node/worker_settings.py
  packages/syft/src/syft/serde/recursive.py
  packages/syft/src/syft/serde/serialize.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/metadata/node_metadata.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/project/project_service.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/util/util.py
  packages/syft/tests/syft/hash_test.py
Labels: 0.9, Purple Team

#7669 remove changing to new user when registering new user
  packages/syft/src/syft/client/client.py
  packages/syft/tests/syft/api_test.py
  packages/syft/tests/syft/users/user_test.py
Labels: Red Team, 0.8.1

#7674 Minor fixes to Syft Projects for tutorials
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/project/project.py
Labels: 0.8.1

#7698 Change custom code to return a ActionObject instead of a native object
  notebooks/api/0.8/00-load-data.ipynb
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/02-review-code-and-approve.ipynb
  notebooks/api/0.8/03-data-scientist-download-result.ipynb
  notebooks/api/0.8/04-jax-example.ipynb
  notebooks/api/0.8/05-custom-policy.ipynb
  notebooks/temp/Fix_Auto_Download.ipynb
  notebooks/tutorials/pandas-cookbook/01-reading-from-a-csv.ipynb
  notebooks/tutorials/pandas-cookbook/02-selecting-data-finding-common-complain.ipynb
  notebooks/tutorials/pandas-cookbook/03-which-borough-has-the-most-noise-complaints.ipynb
  notebooks/tutorials/pandas-cookbook/04-weekday-bike-most-groupby-aggregate.ipynb
  notebooks/tutorials/pandas-cookbook/05-combining-dataframes-scraping-weather-data.ipynb
  notebooks/tutorials/pandas-cookbook/06-string-operations-which-month-was-the-snowiest.ipynb
  notebooks/tutorials/pandas-cookbook/07-cleaning-up-messy-data.ipynb
  notebooks/tutorials/pandas-cookbook/08-how-to-deal-with-timestamps.ipynb
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/tests/syft/user_code_test.py
Labels: Red Team, 0.8.2

#7665 Request Improvements
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/external/oblv/oblv_service.py
  packages/syft/src/syft/node/credentials.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/data_subject/data_subject.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/message/messages.py
  packages/syft/src/syft/service/metadata/node_metadata.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/project/project_service.py
  packages/syft/src/syft/service/queue/queue_stash.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/src/syft/service/request/request_stash.py
  packages/syft/src/syft/service/service.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/src/syft/store/linked_obj.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/types/twin_object.py
  packages/syft/tests/syft/action_graph/action_graph_test.py
  packages/syft/tests/syft/messages/message_service_test.py
  packages/syft/tests/syft/request/request_stash_test.py
  packages/syft/tests/syft/users/fixtures.py
  packages/syft/tests/syft/users/user_test.py
Labels: Yellow Team, 0.8.1

#7709 Add project helper attr/functions to SyftClient
  .github/workflows/pr-tests-hagrid.yml
  .github/workflows/pr-tests-syft.yml
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.9/projects/01-create-projects.ipynb
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/project/project_service.py
  packages/syft/src/syft/service/project/project_stash.py
Labels: 0.8.1

#7718 Add create_code_request on Project object also
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/06-multiple-code-requests.ipynb
  packages/syft/src/syft/service/project/project.py
Labels: 0.8.1

#7676 Dataset without mock
  notebooks/tutorials/data-owner/01-uploading-private-data.ipynb
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/tests/syft/service/dataset/dataset_service_test.py
Labels: Yellow Team, 0.8.1

#7732 [syft] Revamp ProjectSubmit UX
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/05-custom-policy.ipynb
  notebooks/api/0.8/06-multiple-code-requests.ipynb
  notebooks/api/0.9/01-submit-code.ipynb
  notebooks/api/0.9/projects/01-create-projects.ipynb
  notebooks/api/0.9/projects/02-multi-node-messages-sync.ipynb
  notebooks/api/0.9/projects/03-project-polls.ipynb
  notebooks/tutorials/pandas-cookbook/01-reading-from-a-csv.ipynb
  notebooks/tutorials/pandas-cookbook/02-selecting-data-finding-common-complain.ipynb
  notebooks/tutorials/pandas-cookbook/03-which-borough-has-the-most-noise-complaints.ipynb
  notebooks/tutorials/pandas-cookbook/04-weekday-bike-most-groupby-aggregate.ipynb
  notebooks/tutorials/pandas-cookbook/05-combining-dataframes-scraping-weather-data.ipynb
  notebooks/tutorials/pandas-cookbook/06-string-operations-which-month-was-the-snowiest.ipynb
  notebooks/tutorials/pandas-cookbook/07-cleaning-up-messy-data.ipynb
  notebooks/tutorials/pandas-cookbook/08-how-to-deal-with-timestamps.ipynb
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/serde/recursive.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/project/project_service.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/user/user_roles.py
  packages/syft/src/syft/types/uid.py
  packages/syft/tests/syft/api_test.py
  packages/syft/tests/syft/client_test.py
  packages/syft/tests/syft/project/project_test.py
Labels: 0.8.1

#7735 Projects and Notifications UX changes
  notebooks/api/0.8/02-review-code-and-approve.ipynb
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/project/project_service.py
Labels: 0.8.1

#7715 Domain register toggling
  notebooks/api/0.8/00-load-data.ipynb
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/07-domain-register-control-flow.ipynb
  notebooks/api/0.9/00-load-data.ipynb
  notebooks/api/0.9/01-submit-code.ipynb
  notebooks/api/0.9/projects/01-create-projects.ipynb
  notebooks/tutorials/data-owner/02-account-management.ipynb
  packages/grid/default.env
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/orchestra.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/metadata/node_metadata.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/src/syft/util/experimental_flags.py
  packages/syft/tests/syft/api_test.py
  packages/syft/tests/syft/settings/fixtures.py
  packages/syft/tests/syft/settings/settings_service_test.py
  packages/syft/tests/syft/settings/settings_stash_test.py
  packages/syft/tests/syft/users/user_service_test.py
  packages/syft/tests/syft/users/user_test.py
  tox.ini
Labels: 0.8.1

#7771 Fix compound attr bug in _repr_markdown_
  packages/syft/src/syft/types/syft_object.py
Labels: 0.8.1

#7726 Widget styling
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/data_subject/data_subject.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/message/messages.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/util/notebook_ui/notebook_addons.py
Labels: 0.8.1

#7773 fix request repr breaking
  packages/syft/src/syft/service/request/request.py
Labels: 0.8.1

#7781 Improve `Success` message to show how user can view the created/uploaded items
  packages/hagrid/hagrid/manifest_template.yml
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/dataset/dataset_service.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/tests/syft/users/user_service_test.py
Labels: 0.8.1

#7821 Clean 0.8 notebooks
  notebooks/api/0.8/00-load-data.ipynb
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/02-review-code-and-approve.ipynb
  notebooks/api/0.8/03-data-scientist-download-result.ipynb
  notebooks/api/0.8/04-jax-example.ipynb
  notebooks/api/0.8/05-custom-policy.ipynb
  notebooks/api/0.8/06-multiple-code-requests.ipynb
  notebooks/api/0.8/07-domain-register-control-flow.ipynb
Labels: 0.8.1

#7881 Reboot orchestra
  .github/workflows/pr-tests-syft.yml
  .github/workflows/vm-tests.yml
  packages/grid/backend/grid/start.sh
  packages/grid/worker/start.sh
  packages/grid/worker/worker.py
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/lib.py
  packages/hagrid/hagrid/manifest_template.yml
  packages/hagrid/hagrid/orchestra.py
  packages/hagrid/hagrid/parse_template.py
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/abstract_node.py
  packages/syft/src/syft/node/enclave.py
  packages/syft/src/syft/node/gateway.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/node/server.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/metadata/node_metadata.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/queue/queue.py
  packages/syft/src/syft/service/vpn/tailscale_client.py
  packages/syft/tests/syft/orchestra/orchestra_test.py
  tox.ini
Labels: 0.8.2
