Repository OpenMined/PySyft, pull requests merged in 2023-08, with the labels that each got.

#7977 Initialize Podman
  packages/grid/podman/podman-kube/podman-syft-kube-config.yaml
  packages/grid/podman/podman-kube/podman-syft-kube.yaml
  packages/grid/podman/podman-kube/traefik/conf/dynamic.yml
  packages/grid/podman/podman-kube/traefik/traefik.yml
  packages/grid/podman/vagrant/arm_64/Vagrantfile
  packages/grid/podman/vagrant/x86_64/Vagrantfile
Labels: Purple Team, 0.8.2

#7998 Add notebook container stack tests and Fix Bug
  .github/workflows/pr-tests-stack.yml
  notebooks/api/0.8/05-custom-policy.ipynb
  packages/hagrid/hagrid/deps.py
  packages/hagrid/hagrid/orchestra.py
  packages/syft/src/syft/store/mongo_document_store.py
  tox.ini
Labels: Type: Bug :bug:, Type: Testing :test_tube:

#8002 Added delete methods for Blob Storage
  packages/syft/src/syft/service/blob_storage/service.py
  packages/syft/src/syft/store/blob_storage/__init__.py
  packages/syft/src/syft/store/blob_storage/on_disk.py
  packages/syft/src/syft/store/blob_storage/seaweedfs.py
Labels: Yellow Team

#8040 Add dark theme to tables on notebook
  packages/syft/src/syft/util/notebook_ui/notebook_addons.py
Labels: 0.8.2
