Repository OpenMined/PySyft, pull requests merged in 2023-02, with the labels that each got.

#7312 Fix typo in SyftClient connection
  packages/syft/src/syft/core/node/new/client.py
Labels: Type: Bug :bug:

#6871 Quickstart: DataScientist: Search for Datasets
  docs/source/_static/personas-image/data-scientist/01-search-for-datasets-00.png
  docs/source/_static/personas-image/data-scientist/01-search-for-datasets-01-datasets.png
  docs/source/_static/personas-image/data-scientist/01-search-for-datasets-02-pointer-to-dataset.png
  docs/source/guides/data-scientist/01-search-for-datasets.rst
  notebooks/quickstart/data-scientist/01-search-datasets.ipynb
Labels: Docs, GSoD

#7120 Connect to domain guide
  docs/source/guides/data-scientist/00-connect-to-domain.rst
  notebooks/quickstart/data-scientist/00-connect-to-domain.ipynb
Labels: Docs, GSoD

#6883 Svelte UI / Account Settings
  packages/grid/svelte/src/lib/colors/hsl-colors.cjs
  packages/grid/svelte/src/lib/components/Button.svelte
  packages/grid/svelte/src/lib/components/FormControl.svelte
  packages/grid/svelte/src/lib/components/Modal.svelte
  packages/grid/svelte/src/lib/components/NavBar.svelte
  packages/grid/svelte/src/lib/components/icons/Close.svelte
  packages/grid/svelte/src/lib/components/icons/GreenCheck.svelte
  packages/grid/svelte/src/lib/components/icons/Info.svelte
  packages/grid/svelte/src/lib/components/icons/YellowWarn.svelte
  packages/grid/svelte/src/routes/__layout.svelte
  packages/grid/svelte/src/routes/account.svelte
  packages/grid/svelte/src/routes/index.svelte
  packages/grid/svelte/src/routes/login.svelte
  packages/grid/svelte/src/routes/signup.svelte
Labels: 0.8, Frontend

#7346 Added metadata fields and switched frontend to use new endpoint
  packages/grid/backend/grid/api/new/new.py
  packages/grid/frontend/src/lib/jsserde/jsClient.svelte
  packages/syft/src/syft/core/node/new/node_metadata.py
Labels: Frontend
