Repository OpenMined/PySyft, pull requests merged in 2023-04, with the labels that each got.

#7487 message_service tests - 100% coverage
  packages/syft/tests/syft/messages/message_service_test.py
Labels: 0.8

#7486 `Worker` fixes
  packages/syft/src/syft/core/node/worker.py
Labels: 0.8

#7485 SQLiteStore fixes
  packages/syft/src/syft/core/node/new/sqlite_document_store.py
Labels: 0.8

#7484 document_store fixes
  packages/syft/src/syft/core/node/new/document_store.py
Labels: 0.8

#7483 Re-add explicit typing for decorators (`@instrument`, `@serializable`)
  packages/syft/src/syft/core/node/new/serializable.py
  packages/syft/src/syft/telemetry.py
  packages/syft/src/syft/trace_decorator.py
Labels: 0.8

#7481 Replace user_verify_key by admin_verify_key during request.submit
  packages/syft/src/syft/core/node/new/request_service.py
Labels: 0.8

#7461 Users UI implementation
  packages/grid/frontend/src/lib/components/Sidebar.svelte
  packages/grid/frontend/src/routes/(app)/users/+page.svelte
  packages/grid/frontend/src/routes/(app)/users/userDetail.svelte
  packages/grid/frontend/src/routes/(app)/users/userListItem.svelte
Labels: 0.8

#7460 Dataset Stash Unit Tests
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/dataset/dataset_stash_test.py
  packages/syft/tests/syft/dataset/fixtures.py
Labels: 0.8

#7457 Locking policies for stores & bugfixing
  .github/workflows/pr-tests-stack-public.yml
  .github/workflows/pr-tests-stack.yml
  .github/workflows/pr-tests-syft.yml
  packages/syft/setup.cfg
  packages/syft/src/syft/core/node/new/dict_document_store.py
  packages/syft/src/syft/core/node/new/document_store.py
  packages/syft/src/syft/core/node/new/kv_document_store.py
  packages/syft/src/syft/core/node/new/locks.py
  packages/syft/src/syft/core/node/new/mongo_document_store.py
  packages/syft/src/syft/core/node/new/sqlite_document_store.py
  packages/syft/tests/syft/locks_test.py
  packages/syft/tests/syft/stores/action_store_test.py
  packages/syft/tests/syft/stores/dict_document_store_test.py
  packages/syft/tests/syft/stores/kv_document_store_test.py
  packages/syft/tests/syft/stores/mongo_document_store_test.py
  packages/syft/tests/syft/stores/queue_stash_test.py
  packages/syft/tests/syft/stores/sqlite_document_store_test.py
  packages/syft/tests/syft/stores/store_fixtures_test.py
  tox.ini
Labels: 0.8

#7501 Added message_serde tests, cleaned up fixtures
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/messages/fixtures.py
  packages/syft/tests/syft/messages/message_serde_test.py
  packages/syft/tests/syft/messages/message_service_test.py
  packages/syft/tests/syft/messages/message_stash_test.py
Labels: 0.8

#7488 Unit tests for `RequestStash` class in `request_stash.py`
  packages/syft/src/syft/core/node/new/request_stash.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/metadata/metadata_service_test.py
  packages/syft/tests/syft/request/fixtures.py
  packages/syft/tests/syft/request/request_stash_test.py
Labels: 0.8

#7285 Custom Policies
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/02-review-code-and-approve.ipynb
  notebooks/api/0.8/03-data-scientist-download-result.ipynb
  notebooks/api/0.8/04-jax-example.ipynb
  notebooks/api/0.8/05-custom-policy.ipynb
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/core/node/new/action_object.py
  packages/syft/src/syft/core/node/new/action_service.py
  packages/syft/src/syft/core/node/new/code_parse.py
  packages/syft/src/syft/core/node/new/linked_obj.py
  packages/syft/src/syft/core/node/new/policy.py
  packages/syft/src/syft/core/node/new/policy_service.py
  packages/syft/src/syft/core/node/new/recursive.py
  packages/syft/src/syft/core/node/new/request.py
  packages/syft/src/syft/core/node/new/service.py
  packages/syft/src/syft/core/node/new/syft_object.py
  packages/syft/src/syft/core/node/new/unparse.py
  packages/syft/src/syft/core/node/new/user_code.py
  packages/syft/src/syft/core/node/new/user_code_parse.py
  packages/syft/src/syft/core/node/new/user_code_service.py
  packages/syft/src/syft/core/node/new/user_policy_stash.py
  packages/syft/src/syft/core/node/worker.py
  packages/syft/src/syft/util.py
  packages/syft/tests/syft/messages/message_stash_test.py
  packages/syft/tests/syft/request/request_stash_test.py
Labels: 0.8

#7467 WIP: init crude permissions for document store
  .github/workflows/pr-tests-enclave.yml
  packages/syft/src/syft/core/node/new/action_permissions.py
  packages/syft/src/syft/core/node/new/action_store.py
  packages/syft/src/syft/core/node/new/api.py
  packages/syft/src/syft/core/node/new/data_subject_member_service.py
  packages/syft/src/syft/core/node/new/data_subject_service.py
  packages/syft/src/syft/core/node/new/dataset_service.py
  packages/syft/src/syft/core/node/new/dataset_stash.py
  packages/syft/src/syft/core/node/new/dict_document_store.py
  packages/syft/src/syft/core/node/new/document_store.py
  packages/syft/src/syft/core/node/new/kv_document_store.py
  packages/syft/src/syft/core/node/new/linked_obj.py
  packages/syft/src/syft/core/node/new/message_service.py
  packages/syft/src/syft/core/node/new/message_stash.py
  packages/syft/src/syft/core/node/new/metadata_service.py
  packages/syft/src/syft/core/node/new/metadata_stash.py
  packages/syft/src/syft/core/node/new/mongo_document_store.py
  packages/syft/src/syft/core/node/new/network_service.py
  packages/syft/src/syft/core/node/new/project_service.py
  packages/syft/src/syft/core/node/new/project_stash.py
  packages/syft/src/syft/core/node/new/queue_stash.py
  packages/syft/src/syft/core/node/new/request_service.py
  packages/syft/src/syft/core/node/new/request_stash.py
  packages/syft/src/syft/core/node/new/service.py
  packages/syft/src/syft/core/node/new/user_code_service.py
  packages/syft/src/syft/core/node/new/user_code_stash.py
  packages/syft/src/syft/core/node/new/user_policy_stash.py
  packages/syft/src/syft/core/node/new/user_service.py
  packages/syft/src/syft/core/node/new/user_stash.py
  packages/syft/src/syft/core/node/worker.py
  packages/syft/src/syft/external/oblv/oblv_keys_stash.py
  packages/syft/src/syft/external/oblv/oblv_service.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/api_test.py
  packages/syft/tests/syft/dataset/dataset_stash_test.py
  packages/syft/tests/syft/dataset/fixtures.py
  packages/syft/tests/syft/messages/fixtures.py
  packages/syft/tests/syft/messages/message_service_test.py
  packages/syft/tests/syft/messages/message_stash_test.py
  packages/syft/tests/syft/metadata/metadata_service_test.py
  packages/syft/tests/syft/metadata/metadata_stash_test.py
  packages/syft/tests/syft/request/request_stash_test.py
  packages/syft/tests/syft/service_permission_test.py
  packages/syft/tests/syft/stores/base_stash_test.py
  packages/syft/tests/syft/stores/dict_document_store_test.py
  packages/syft/tests/syft/stores/kv_document_store_test.py
  packages/syft/tests/syft/stores/mongo_document_store_test.py
  packages/syft/tests/syft/stores/queue_stash_test.py
  packages/syft/tests/syft/stores/sqlite_document_store_test.py
  packages/syft/tests/syft/stores/store_fixtures_test.py
  packages/syft/tests/syft/stores/store_mocks_test.py
  packages/syft/tests/syft/users/user_service_test.py
  packages/syft/tests/syft/users/user_stash_test.py
  packages/syft/tests/syft/users/user_test.py
Labels: 0.8

#7512 Added ability to set default email and password in hagrid
  .github/workflows/pr-tests-hagrid.yml
  packages/grid/.env
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/db/init_db.py
  packages/grid/backend/grid/worker-start.sh
  packages/grid/backend/grid/worker.py
  packages/grid/docker-compose.yml
  packages/grid/worker/worker.py
  packages/hagrid/hagrid/cli.py
  packages/syft/src/syft/core/node/worker.py
  packages/syft/tests/syft/action_test.py
  tox.ini
Labels: 0.8

#7518 Implement IP blacklisting and rate-limiting
  packages/grid/traefik/docker/dynamic.yml
  packages/grid/traefik/docker/traefik.yml
Labels: 0.9

#7522 Added syft launch cli tool
  packages/hagrid/.bumpversion.cfg
  packages/hagrid/hagrid/orchestra.py
  packages/hagrid/hagrid/version.py
  packages/hagrid/setup.py
  packages/syft/setup.cfg
  packages/syft/src/syft/client/deploy.py
  packages/syft/src/syft/node/run.py
  packages/syft/src/syft/node/server.py
  tox.ini
Labels: 0.8

#7525 fix: update the project root
  packages/grid/frontend/.prettierrc
  packages/grid/frontend/package.json
  packages/grid/frontend/pnpm-lock.yaml
  packages/grid/frontend/svelte.config.js
  packages/grid/frontend/yarn.lock
Labels: 0.8

#7495 Enable grid-ui-production for frontend production mode.
  packages/grid/docker-compose.dev.yml
  packages/grid/frontend/frontend.dockerfile
  packages/grid/frontend/package.json
  packages/grid/frontend/pnpm-lock.yaml
  packages/hagrid/hagrid/cli.py
  tox.ini
Labels: Status: Blocked :heavy_multiplication_x:

#7517 rebuild function for extracting signature from docstring
  packages/syft/src/syft/core/node/new/lib_service_registry.py
  packages/syft/src/syft/core/node/new/service.py
Labels: 0.9

#7391 fixed FPT error
  .pre-commit-config.yaml
  packages/syft/setup.cfg
  packages/syft/src/syft/core/adp/vectorized_publish.py
  packages/syft/src/syft/core/tensor/smpc/share_tensor.py
Labels: 0.7
