Repository OpenMined/PySyft, pull requests merged in 2024-07, with the labels that each got.

#8903 Update custom image pip install commands in notebooks to add uv and add import statement to syft function
  notebooks/admin/Custom API + Custom Worker.ipynb
  notebooks/api/0.8/10-container-images.ipynb
  notebooks/api/0.8/11-container-images-k8s.ipynb
Labels: Type: Documentation :books:

#8982 migrate store metadata
  notebooks/tutorials/version-upgrades/0-prepare-migration-data.ipynb
  notebooks/tutorials/version-upgrades/1a-connect-and-migrate.ipynb
  notebooks/tutorials/version-upgrades/1b-connect-and-migrate-via-api.ipynb
  notebooks/tutorials/version-upgrades/2-post-migration-tests.ipynb
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_permissions.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/migration/migration_service.py
  packages/syft/src/syft/service/migration/object_migration_state.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/kv_document_store.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/tests/syft/stores/permissions_test.py
  packages/syft/tests/syft/stores/store_mocks_test.py
Labels: 0.8.7

#8919 refactor(syft_exc): replace `PySyftException` with `SyftException`
  packages/syft/src/syft/exceptions/__init__.py
  packages/syft/src/syft/exceptions/exception.py
  packages/syft/src/syft/exceptions/user.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/user/user_errors.py
  packages/syft/src/syft/service/user/user_service.py
Labels: Red Team

#8981 Rename deployment policy to runtime policy
  notebooks/experimental/enclaves/01-ds-submit-project.ipynb
  notebooks/experimental/enclaves/02-do-review-code.ipynb
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/enclave/domain_enclave_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/project/distributed_project.py
Labels: Purple Team, Enclave

#8999 [WIP] Enclave Prototype Iteration: V2
  .pre-commit-config.yaml
  notebooks/experimental/enclaves/V1/00-do-setup-domain.ipynb
  notebooks/experimental/enclaves/V1/01-ds-submit-project.ipynb
  notebooks/experimental/enclaves/V1/02-do-review-code.ipynb
  notebooks/experimental/enclaves/V1/03-ds-execute-code.ipynb
  notebooks/experimental/enclaves/V2/00-do-setup-domain.ipynb
  notebooks/experimental/enclaves/V2/01-connect-domains.ipynb
  notebooks/experimental/enclaves/V2/02-ds-submit-project.ipynb
  notebooks/experimental/enclaves/V2/03-do-review-code.ipynb
  notebooks/experimental/enclaves/V2/04-ds-execute-code.ipynb
  notebooks/experimental/enclaves/V2/V2-Enclave-Single-Notebook.ipynb
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/network/association_request.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/network_stash.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/project/project_service.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/request/request_service.py
Labels: Purple Team, Enclave

#8985 Add migrations for latest UserCode and CodeHistory
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code_history/code_history.py
Labels: Purple Team, Enclave

#8986 Add Migrations for Enclave Changes to UserCode and CodeHistory
  packages/syft/src/syft/service/code/user_code.py
Labels: Purple Team

#9005 blob storage migrations
  notebooks/tutorials/version-upgrades/1c-migrate-to-new-node.ipynb
  packages/syft/src/syft/service/blob_storage/service.py
  packages/syft/src/syft/service/migration/migration_service.py
  packages/syft/src/syft/types/blob_storage.py
Labels: Red Team

#8897 Send small variables to storage without blob storage
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/core/node.py
  packages/grid/default.env
  packages/grid/helm/syft/templates/backend/backend-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/blob_storage/util.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/metadata/node_metadata.py
  packages/syft/src/syft/store/blob_storage/__init__.py
  packages/syft/src/syft/types/twin_object.py
  packages/syft/src/syft/util/util.py
  packages/syft/tests/syft/blob_storage/blob_storage_test.py
  packages/syft/tests/syft/settings/fixtures.py
Labels: Yellow Team, 0.8.7

#8974 Add linter and error for code submissions that use global scope variables / methods
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/orchestra.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/utils.py
  packages/syft/tests/syft/users/user_code_test.py
Labels: Yellow Team, 0.8.7

#8988 🔥 Hot-reload Syft nodes in your notebooks
  packages/syft/src/syft/node/server.py
Labels: Type: New Feature :heavy_plus_sign:, Purple Team

#8997 🚀 Debug Syft nodes in VSCode
  .gitignore
  .pre-commit-config.yaml
  .vscode/launch.json
  packages/syft/setup.cfg
  packages/syft/src/syft/node/server.py
  packages/syft/src/syft/orchestra.py
Labels: Type: New Feature :heavy_plus_sign:, Purple Team

#9008 Check for unexpected constructor parameters in CreateDataset and CreateAsset
  packages/syft/src/syft/service/dataset/dataset.py
Labels: Blue Team

#8906 Gracefully delete workers
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/service/worker/worker_service.py
  tests/integration/local/syft_worker_deletion_test.py
Labels: Yellow Team

#9012 feat(syft_exc): change client and server side response handling
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/response.py
  packages/syft/src/syft/service/service.py
Labels: Red Team

#9013 feat(syft_exc): add implementation of BaseStash and BaseUIDStoreStash using the new types
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/document_store_errors.py
Labels: Red Team

#9010 Display usercode metadata and code repr differently
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/policy/policy.py
Labels: Red Team

#9015 Add short summary field to dataset and clean up repr
  notebooks/api/0.8/00-load-data.ipynb
  notebooks/tutorials/data-owner/01-uploading-private-data.ipynb
  packages/syft/src/syft/assets/css/style.css
  packages/syft/src/syft/service/dataset/dataset.py
Labels: 0.9, Blue Team, Product Review

#8947 Fix new admin unable to list user code
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/response.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/kv_document_store.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/tests/syft/action_test.py
  packages/syft/tests/syft/stores/action_store_test.py
  packages/syft/tests/syft/stores/store_constants_test.py
  packages/syft/tests/syft/stores/store_fixtures_test.py
  packages/syft/tests/syft/users/user_code_test.py
Labels: 0.8.7

#9022 Fix to remove duplicated search bar in repr
  packages/syft/src/syft/util/patch_ipython.py
Labels: 0.9, Blue Team

#8854 Data migration + testing
  .github/workflows/pr-tests-stack.yml
  .gitignore
  notebooks/tutorials/version-upgrades/0-prepare-migration-data.ipynb
  notebooks/tutorials/version-upgrades/1-dump-database-to-file.ipynb
  notebooks/tutorials/version-upgrades/2-migrate-from-file.ipynb
  packages/grid/backend/grid/bootstrap.py
  packages/grid/devspace.yaml
  packages/syft/src/syft/capnp/recursive_serde.capnp
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/orchestra.py
  packages/syft/src/syft/protocol/data_protocol.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/serde/recursive.py
  packages/syft/src/syft/service/action/action_permissions.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/blob_storage/service.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/job/job_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/log/log.py
  packages/syft/src/syft/service/migration/__init__.py
  packages/syft/src/syft/service/migration/migration_service.py
  packages/syft/src/syft/service/migration/object_migration_state.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/object_search/migration_state_service.py
  packages/syft/src/syft/service/object_search/object_migration_state.py
  packages/syft/src/syft/service/output/output_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/response.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/store/blob_storage/__init__.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/kv_document_store.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/types/blob_storage.py
  packages/syft/src/syft/types/syft_migration.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/types/syft_object_registry.py
  packages/syft/src/syft/types/transforms.py
  packages/syft/src/syft/util/schema.py
  packages/syft/src/syft/util/util.py
  packages/syft/tests/syft/migrations/data_migration_test.py
  packages/syft/tests/syft/stores/permissions_test.py
  packages/syft/tests/syft/stores/store_mocks_test.py
  packages/syft/tests/syft/transforms/transforms_test.py
  tox.ini
Labels: Red Team, 0.8.7

#9020 Enclave manual orchestration for Data Scientists
  notebooks/experimental/enclaves/V2/04-ds-execute-code.ipynb
  notebooks/experimental/enclaves/V2/V2-Enclave-Single-Notebook.ipynb
  packages/syft/src/syft/service/enclave/domain_enclave_service.py
  packages/syft/src/syft/service/enclave/enclave_service.py
  packages/syft/src/syft/service/project/distributed_project.py
  packages/syft/src/syft/service/project/project.py
Labels: Purple Team, Enclave

#9029 Make Enclave prototype work with Kubernetes cluster
  notebooks/experimental/enclaves/V2/V2-Enclave-Single-Notebook.ipynb
  packages/syft/src/syft/service/enclave/domain_enclave_service.py
Labels: Purple Team, Enclave

#9032 quickfix: typing + autocomplete for node services
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/node/service_registry.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/service.py
Labels: Red Team

#9030 add server and client traceback to syftexception
  packages/syft/src/syft/assets/jinja/syft_exception.jinja2
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/types/errors.py
  packages/syft/src/syft/util/notebook_ui/components/tabulator_template.py
  packages/syft/src/syft/util/util.py
Labels: Red Team

#9024 Add conda install check in CI
  .github/workflows/conda-install.yml
  .github/workflows/nightlies.yml
Labels: 0.9, Blue Team

#9034 Prevent server data reset due to Uvicorn hot-reload
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/node/server.py
  packages/syft/src/syft/node/utils.py
Labels: Type: Bug :bug:, Purple Team

#9038 Added notification enabled text to domain settings
  packages/syft/src/syft/service/settings/settings.py
Labels: Priority: 1 - Immediate :fire:, Product Review

#9036 View Enclave attestation report
  notebooks/experimental/enclaves/V2/V2-Enclave-Single-Notebook.ipynb
  packages/syft/setup.cfg
  packages/syft/src/syft/service/attestation/utils.py
  packages/syft/src/syft/service/enclave/enclave.py
  packages/syft/src/syft/service/project/project.py
Labels: Purple Team, Enclave

#9031 Model Hosting Revamp
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  notebooks/model-hosting.ipynb
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/enclave/domain_enclave_service.py
  packages/syft/src/syft/service/enclave/enclave_service.py
  packages/syft/src/syft/service/model/model.py
  packages/syft/src/syft/service/model/model_service.py
  packages/syft/src/syft/service/policy/policy.py
Labels: Purple Team

#9037 Add support for taking host and port as arguments in deploy_to_remote
  packages/syft/src/syft/orchestra.py
  tox.ini
Labels: Type: Bug :bug:, Purple Team

#9027 Move Flattening of Nested Action Objects to User code exec
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  tests/integration/local/job_test.py
Labels: 0.8.7

#9019 Added created and updated date
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/connection.py
  packages/syft/src/syft/client/enclave_client.py
  packages/syft/src/syft/client/gateway_client.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/server/server.py
  packages/syft/src/syft/server/worker_settings.py
  packages/syft/src/syft/service/action/action_data_empty.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/numpy.py
  packages/syft/src/syft/service/action/pandas.py
  packages/syft/src/syft/service/action/plan.py
  packages/syft/src/syft/service/api/api.py
  packages/syft/src/syft/service/blob_storage/remote_profile.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code_history/code_history.py
  packages/syft/src/syft/service/context.py
  packages/syft/src/syft/service/data_subject/data_subject.py
  packages/syft/src/syft/service/data_subject/data_subject_member.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/log/log.py
  packages/syft/src/syft/service/metadata/server_metadata.py
  packages/syft/src/syft/service/migration/object_migration_state.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/network/server_peer.py
  packages/syft/src/syft/service/notification/notifications.py
  packages/syft/src/syft/service/object_search/object_migration_state.py
  packages/syft/src/syft/service/output/output_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/queue/queue_stash.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/service.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/sync_state.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/src/syft/service/worker/image_registry.py
  packages/syft/src/syft/service/worker/worker.py
  packages/syft/src/syft/service/worker/worker_image.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/store/blob_storage/__init__.py
  packages/syft/src/syft/store/blob_storage/on_disk.py
  packages/syft/src/syft/store/blob_storage/seaweedfs.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/linked_obj.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/types/blob_storage.py
  packages/syft/src/syft/types/datetime.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/types/twin_object.py
  packages/syft/src/syft/util/env.py
  packages/syft/src/syft/util/misc_objs.py
  packages/syft/tests/syft/hash_test.py
  packages/syft/tests/syft/migrations/protocol_communication_test.py
  packages/syft/tests/syft/service/dataset/dataset_service_test.py
Labels: Red Team

#9004 Dataset and Action Object Deletion APIs
  notebooks/tutorials/model-training/01-data-scientist-submit-code.ipynb
  packages/syft/src/syft/client/datasite_client.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/blob_storage/service.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/dataset/dataset_service.py
  packages/syft/src/syft/store/kv_document_store.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/blob_storage/blob_storage_test.py
  packages/syft/tests/syft/service/action/action_object_test.py
  packages/syft/tests/syft/service/dataset/dataset_service_test.py
  packages/syft/tests/syft/service/sync/sync_resolve_single_test.py
  tests/integration/network/gateway_test.py
Labels: Yellow Team, 0.8.7

#9055 make serialization of types less dynamic
  packages/syft/src/syft/capnp/recursive_serde.capnp
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/custom_worker/config.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/serde/array.py
  packages/syft/src/syft/serde/recursive.py
  packages/syft/src/syft/serde/recursive_primitives.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/notification/email_templates.py
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/types/blob_storage.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/types/syft_object_registry.py
Labels: Red Team

#9053 Enclave model upload optimization
  notebooks/experimental/Digital Signatures/ds-benchmarks.ipynb
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/node/routes.py
  packages/syft/src/syft/node/server.py
  packages/syft/src/syft/node/server_settings.py
  packages/syft/src/syft/orchestra.py
  packages/syft/src/syft/service/blob_storage/service.py
  packages/syft/src/syft/service/enclave/domain_enclave_service.py
  packages/syft/src/syft/service/model/model.py
  packages/syft/src/syft/store/blob_storage/on_disk.py
Labels: Purple Team, Enclave

#9068 Rename client.me to client.account
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/tests/syft/action_test.py
  packages/syft/tests/syft/users/user_code_test.py
  packages/syft/tests/syft/users/user_test.py
Labels: Blue Team

#9054 Remove swallowing exceptions in building tables for html repr
  packages/syft/src/syft/util/notebook_ui/components/tabulator_template.py
  packages/syft/src/syft/util/table.py
  packages/syft/tests/syft/notebook_ui_test.py
Labels: Blue Team

#9051 Add GPU Support to k3d
  packages/grid/devspace.yaml
  packages/grid/gpu-k3d.md
  packages/grid/helm/examples/dev/enclave-cpu.yaml
  packages/grid/helm/examples/dev/enclave-gpu.yaml
  packages/grid/helm/syft/templates/backend/backend-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  tox.ini
Labels: Purple Team, Enclave

#9073 [WIP] Structured Transparency
  notebooks/experimental/enclaves/Action-Object-Performance.ipynb
  notebooks/experimental/enclaves/Hash.ipynb
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  packages/syft/src/syft/client/datasite_client.py
  packages/syft/src/syft/client/enclave_client.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/action/numpy.py
  packages/syft/src/syft/service/action/pandas.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/enclave/datasite_enclave_service.py
  packages/syft/src/syft/service/enclave/enclave_service.py
  packages/syft/src/syft/service/model/model.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/store/blob_storage/__init__.py
  packages/syft/src/syft/store/blob_storage/on_disk.py
  packages/syft/src/syft/types/blob_storage.py
Labels: Purple Team, Enclave

#9095 Remove ALL_READ permission for requests
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/request/fixtures.py
  packages/syft/tests/syft/request/request_code_accept_deny_test.py
  packages/syft/tests/syft/request/request_code_permissions_test.py
  packages/syft/tests/syft/worker_pool/worker_pool_service_test.py
Labels: Blue Team
