Repository OpenMined/PySyft, pull requests merged in 2024-08, with the labels that each got.

#9126 Add Mock Model Execution
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  packages/syft/setup.cfg
  packages/syft/src/syft/client/datasite_client.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/model/model.py
  packages/syft/src/syft/service/model/model_service.py
  packages/syft/src/syft/store/blob_storage/seaweedfs.py
Labels: Purple Team, Enclave

#9127 Add util functions to exchange peer routes and check reachability
  notebooks/experimental/enclaves/V2/01-connect-domains.ipynb
  notebooks/experimental/enclaves/V2/V2-Enclave-Single-Notebook.ipynb
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  notebooks/scenarios/enclave/03-secondary-datasite-setup.ipynb
  notebooks/scenarios/enclave/04-data-scientist-join.ipynb
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/service/network/utils.py
  packages/syft/src/syft/service/project/project.py
Labels: Purple Team, Enclave

#9124 Add ability to directly specify enclave route as a string
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  packages/syft/src/syft/service/enclave/datasite_enclave_service.py
  packages/syft/src/syft/service/enclave/enclave.py
Labels: Purple Team, Enclave

#9135 repr for model hosting objects
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/model/model.py
  packages/syft/src/syft/service/model/model_html_template.py
  packages/syft/src/syft/service/project/project.py
Labels: Enclave

#9134 Clean up some intergration tests for syft network
  tests/integration/local/gateway_local_test.py
  tests/integration/network/gateway_test.py
Labels: Yellow Team

#9131 Show pretty representation of VerifiableOutput
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/enclave/enclave_output.py
  packages/syft/src/syft/service/enclave/enclave_service.py
Labels: Purple Team, Enclave

#9132 Improve enclave representation
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  packages/syft/src/syft/service/enclave/enclave.py
Labels: Purple Team, Enclave

#9133 Fix model size calculation and improve repr
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  packages/syft/src/syft/client/datasite_client.py
  packages/syft/src/syft/service/model/model.py
Labels: Purple Team, Enclave

#9104 Fix asset table rows not rendered
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/assets/css/itables.css
  packages/syft/src/syft/assets/css/style.css
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/notification/notifications.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/sync_state.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/util/colors.py
  packages/syft/src/syft/util/notebook_ui/styles.py
  packages/syft/src/syft/util/options.py
  packages/syft/src/syft/util/patch_ipython.py
  packages/syft/src/syft/util/table.py
Labels: Blue Team

#9109 Enable mypy type checking for DictTuple
  .pre-commit-config.yaml
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/dataset/dataset_service.py
  packages/syft/src/syft/types/dicttuple.py
  packages/syft/src/syft/util/patch_ipython.py
Labels: Yellow Team

#9146 Show input policy constant values in UserCode display within sync widget.
  packages/syft/src/syft/service/sync/diff_state.py
Labels: Blue Team

#9150 Update get_mb_size util function to handle containers
  packages/syft/src/syft/util/util.py
Labels: Blue Team

#9149 Ux model hosting
  .pre-commit-config.yaml
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/client/datasite_client.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/model/model.py
Labels: Purple Team, Enclave

#9144 Add init, run and stop policy conditions to RunOnEnclave runtime policy
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/policy/policy.py
Labels: Purple Team, Enclave

#9088 Better error message when invalid arguments are passed to `autosplat` methods
  docs/requirements.txt
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/service.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/user/user_roles.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/syft/service_permission_test.py
  packages/syft/tests/syft/settings/settings_service_test.py
  packages/syft/tests/syft/users/user_test.py
  tests/integration/local/__init__.py
  tests/integration/local/conftest.py
  tests/integration/local/syft_worker_deletion_test.py
  tests/integration/local/user_update_test.py
Labels: Yellow Team

#9056 Attestation reports revamp
  notebooks/experimental/enclaves/Attestation.ipynb
  notebooks/experimental/enclaves/V3/V3-Enclave-Model-HostingSingle-Notebook.ipynb
  packages/syft/src/syft/service/attestation/attestation_cpu_report.py
  packages/syft/src/syft/service/attestation/attestation_gpu_report.py
  packages/syft/src/syft/service/attestation/attestation_mock_cpu_report.py
  packages/syft/src/syft/service/attestation/attestation_mock_gpu_report.py
  packages/syft/src/syft/service/attestation/attestation_service.py
  packages/syft/src/syft/service/attestation/utils.py
  packages/syft/src/syft/service/enclave/datasite_enclave_service.py
  packages/syft/src/syft/service/project/project.py
Labels: Purple Team, Enclave

#9122 Improve error message when uploading unsupported datatypes
  packages/syft/src/syft/client/datasite_client.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/blob_storage/util.py
  packages/syft/src/syft/types/syft_object_registry.py
  packages/syft/src/syft/util/util.py
Labels: Yellow Team

#9142 feat: ux improvements to enclave reprs
  packages/syft/src/syft/assets/css/style.css
  packages/syft/src/syft/assets/js/table.js
  packages/syft/src/syft/service/model/model.py
  packages/syft/src/syft/service/network/utils.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/response.py
  packages/syft/src/syft/util/misc_objs.py
  packages/syft/src/syft/util/notebook_ui/components/tabulator_template.py
  packages/syft/src/syft/util/patch_ipython.py
Labels: Purple Team, Enclave

#9161 Fix UserCode.status property and UserCode repr for multiparty Enclave codes
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/project/project.py
Labels: Purple Team, Enclave

#9162 Add Columns Repr to Project Events
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/enclave/datasite_enclave_service.py
  packages/syft/src/syft/service/enclave/enclave_output.py
  packages/syft/src/syft/service/model/model.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/util/notebook_ui/components/tabulator_template.py
  packages/syft/src/syft/util/table.py
Labels: Purple Team, Enclave

#9171 Repr truncation for asset's primitive types
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/util/util.py
Labels: Yellow Team

#9045 Add an endpoint to delete a worker pool
  packages/syft/src/syft/service/queue/queue_stash.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/src/syft/service/worker/worker_service.py
  tests/integration/container_workload/pool_image_test.py
Labels: Yellow Team

#9190 Fix sync error on fetching job results for non-existent action objects in mongodb
  packages/syft/src/syft/assets/css/style.css
  packages/syft/src/syft/client/syncing.py
  packages/syft/src/syft/service/response.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/util/patch_ipython.py
  packages/syft/tests/syft/stores/action_store_test.py
Labels: Blue Team

#9207 manually sort requests in get_all by date
  packages/syft/src/syft/service/request/request_service.py
Labels: Red Team

#9166 Fix typo in tox.ini
  tox.ini
Labels: Purple Team, Enclave

#9198 Add tests for user code generator via custom API
  notebooks/api/0.8/05-custom-policy.ipynb
  notebooks/scenarios/getting-started/06-working-with-remote-data.ipynb
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/tests/syft/service/policy/policy_test.py
  tests/integration/local/custom_api_usercode_gen_test.py
Labels: Blue Team, 0.9.2

#9212 Adding k8s testing for Bigquery
  .github/workflows/pr-tests-stack.yml
  notebooks/scenarios/bigquery/01-setup-datasite.ipynb
  notebooks/scenarios/bigquery/02-configure-api.ipynb
  notebooks/scenarios/bigquery/03-ds-submit-request.ipynb
  notebooks/scenarios/bigquery/04-do-review-requests.ipynb
  notebooks/scenarios/bigquery/05-ds-get-results.ipynb
  packages/syft/src/syft/client/api.py
  tests/integration/local/syft_worker_deletion_test.py
  tox.ini
Labels: 0.9.2

#9203 Check email credentials on switching on `ServerSettings.notifications_enabled`
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/tests/syft/settings/settings_service_test.py
Labels: 0.9.2

#9215 Add Twin API endpoint logs
  notebooks/api/0.8/12-custom-api-endpoint.ipynb
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/server/server.py
  packages/syft/src/syft/service/action/action_endpoint.py
  packages/syft/src/syft/service/api/api.py
  packages/syft/src/syft/service/api/api_service.py
  packages/syft/src/syft/service/api/utils.py
  packages/syft/src/syft/service/code/user_code.py
Labels: 0.9.2

#9214 Bigquery testing with syncing and in-memory python
  .github/workflows/pr-tests-stack.yml
  .github/workflows/pr-tests-syft.yml
  notebooks/scenarios/bigquery/apis/mock/data.py
  notebooks/scenarios/bigquery/sync/01-setup-high-low-datasites.ipynb
  notebooks/scenarios/bigquery/sync/02-configure-api-and-sync.ipynb
  notebooks/scenarios/bigquery/sync/03-ds-submit-request.ipynb
  notebooks/scenarios/bigquery/sync/04-do-review-requests.ipynb
  notebooks/scenarios/bigquery/sync/05-ds-get-results.ipynb
  notebooks/scenarios/bigquery/sync/__init__.py
  notebooks/scenarios/bigquery/sync/sync_helpers.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/sync/sync_service.py
  tox.ini
Labels: 0.9.2

#9223 fix email being sent after notifier update
  packages/syft/src/syft/service/notification/email_templates.py
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/notifier/notifier_stash.py
  packages/syft/src/syft/service/notifier/smtp_client.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/tests/syft/notifications/fixtures.py
  packages/syft/tests/syft/notifications/notification_service_test.py
Labels: 0.9.2

#9217 fix: restricts autosplat parameter checking to autosplat object
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/service/service.py
  packages/syft/tests/syft/users/user_service_test.py
Labels: Red Team, 0.9.2

#9163 Fix `dataset.getall()` shows `DictTuple()` when there are no datasets
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/types/dicttuple.py
Labels: Yellow Team

#9227 Configurable query size for bigquery notebook testing
  notebooks/scenarios/bigquery/03-ds-submit-request.ipynb
  notebooks/scenarios/bigquery/04-do-review-requests.ipynb
  notebooks/scenarios/bigquery/05-ds-get-results.ipynb
  notebooks/scenarios/bigquery/sync/03-ds-submit-request.ipynb
  notebooks/scenarios/bigquery/sync/05-ds-get-results.ipynb
  tox.ini
Labels: 0.9.2

#9238 Temp fix tests by pinning ipython
  packages/syft/setup.cfg
Labels: 0.9.2

#9237 Fix scary-looking wrong password error
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/server/routes.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/tests/syft/users/user_service_test.py
  packages/syft/tests/syft/users/user_test.py
Labels: 0.9.2
