Repository OpenMined/PySyft, pull requests merged in 2024-05, with the labels that each got.

#8690 Deployment pipeline for enclave attestation service
  .github/workflows/cd-syft-dev.yml
  .github/workflows/cd-syft.yml
Labels: Purple Team

#8774 refactor table generation
  notebooks/notebook_ui/table_examples.ipynb
  packages/syft/src/syft/assets/css/style.css
  packages/syft/src/syft/service/code_history/code_history.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/notification/notifications.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/types/datetime.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/util/notebook_ui/components/table_template.py
  packages/syft/src/syft/util/notebook_ui/fonts.py
  packages/syft/src/syft/util/table.py
  packages/syft/tests/syft/notebook_ui_test.py
Labels: Red Team

#8777 Single container launching added to tox and workflows
  .github/workflows/pr-tests-stack.yml
  .github/workflows/pr-tests-syft.yml
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/10-container-images.ipynb
  tox.ini
Labels: Purple Team

#8785 Fix NodeSettings domain name change propagation
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/tests/syft/settings/settings_service_test.py
Labels: Type: Bug :bug:, Status: Review Needed :raising_hand:, Blue Team

#8610 Fix Multi Cluster Deployment in Devspace.
  packages/grid/backend/grid/start.sh
  packages/grid/devspace.yaml
  packages/grid/enclave/attestation/enclave-development.md
  scripts/k8s/delete_stack.sh
  scripts/k8s/launch_domain.sh
  scripts/k8s/launch_gateway.sh
  tox.ini
Labels: Purple Team, 0.8.7

#8787 Optimize attaching attributes to `SyftBaseObject`s
  packages/syft/src/syft/service/service.py
  packages/syft/src/syft/types/syft_object.py
Labels: Yellow Team

#8814 Add repr for client.settings
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/service/settings/settings.py
Labels: Type: Improvement :chart_with_upwards_trend:, Blue Team

#8786 [K8s] Decouple Test Suites
  .github/workflows/pr-tests-stack.yml
  notebooks/Experimental/Test.ipynb
  packages/syft/src/syft/client/client.py
  tests/integration/container_workload/pool_image_test.py
  tox.ini
Labels: Purple Team

#8788 Move Orchestra to syft
  .github/workflows/pr-tests-syft.yml
  notebooks/admin/Custom API + Custom Worker.ipynb
  notebooks/api/0.8/09-blob-storage.ipynb
  notebooks/api/0.8/10-container-images.ipynb
  notebooks/api/0.8/11-container-images-k8s.ipynb
  notebooks/api/0.8/12-custom-api-endpoint.ipynb
  notebooks/tutorials/data-engineer/02-deployment-types.ipynb
  notebooks/tutorials/enclaves/Enclave-single-notebook-high-low-network.ipynb
  packages/grid/backend/backend.dockerfile
  packages/hagrid/hagrid/orchestra.py
  packages/syft/setup.cfg
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/client/deploy.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/client/enclave_client.py
  packages/syft/src/syft/node/run.py
  packages/syft/src/syft/orchestra.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/util/util.py
  packages/syft/tests/syft/zmq_queue_test.py
  packages/syft/tests/utils/random_port.py
  tests/integration/conftest.py
  tests/integration/local/request_multiple_nodes_test.py
  tests/integration/local/syft_function_test.py
  tox.ini
Labels: Purple Team

#8824 Remove Ansible from Dockerfile
  packages/grid/backend/backend.dockerfile
  packages/grid/syft-client/syft.Dockerfile
Labels: Purple Team

#8796 Add notebook documentation for deploying PySyft
  notebooks/tutorials/data-engineer/01-setting-up-dev-mode.ipynb
  notebooks/tutorials/data-engineer/02-deployment-types.ipynb
  notebooks/tutorials/data-engineer/03-hagrid.ipynb
  notebooks/tutorials/data-engineer/04-deploy-container.ipynb
  notebooks/tutorials/data-engineer/05-deploy-stack.ipynb
  notebooks/tutorials/data-engineer/06-deploy-to-azure.ipynb
  notebooks/tutorials/data-engineer/07-deploy-to-gcp.ipynb
  notebooks/tutorials/data-engineer/08-deploy-to-aws.ipynb
  notebooks/tutorials/data-engineer/09-deploying-enclave.ipynb
  notebooks/tutorials/data-engineer/10-custom-deployment.ipynb
  notebooks/tutorials/data-engineer/11-installing-and-upgrading-via-helm.ipynb
  notebooks/tutorials/deployments/00-deployment-types.ipynb
  notebooks/tutorials/deployments/01-deploy-python.ipynb
  notebooks/tutorials/deployments/02-deploy-container.ipynb
  notebooks/tutorials/deployments/03-deploy-k8s-k3d.ipynb
  notebooks/tutorials/deployments/04-deploy-k8s-azure.ipynb
  notebooks/tutorials/deployments/05-deploy-k8s-gcp.ipynb
  notebooks/tutorials/deployments/06-deploy-k8s-aws.ipynb
  notebooks/tutorials/deployments/07-deploy-devspace.ipynb
Labels: Purple Team

#8830 [DX] print out SQLite database path in dev mode
  packages/syft/src/syft/node/node.py
Labels: Yellow Team

#8820 add created/updated properties to sync table
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/types/datetime.py
  packages/syft/src/syft/util/notebook_ui/components/sync.py
  packages/syft/tests/syft/service/jobs/job_stash_test.py
Labels: Red Team

#8831 [UX] change tqdm progress bar color to green
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/store/blob_storage/seaweedfs.py
Labels: Yellow Team

#8823 feat: add dark mode support for tables in jupyter and vscode
  packages/syft/src/syft/assets/css/style.css
  packages/syft/src/syft/assets/css/tabulator_materialize.min.css
  packages/syft/src/syft/assets/css/tabulator_pysyft.min.css
  packages/syft/src/syft/assets/js/table.js
  packages/syft/src/syft/util/notebook_ui/components/tabulator_template.py
  packages/syft/src/syft/util/notebook_ui/styles.py
Labels: Red Team

#8800 Add custom input policy test
  notebooks/api/0.8/05-custom-policy.ipynb
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/policy/policy.py
Labels: Blue Team

#8837 Remove Jax and Haiku
  README.md
  notebooks/api/0.8/04-pytorch-example.ipynb
  notebooks/tutorials/deployments/01-deploy-python.ipynb
  notebooks/tutorials/deployments/02-deploy-container.ipynb
  notebooks/tutorials/deployments/03-deploy-k8s-k3d.ipynb
  notebooks/tutorials/model-training/00-data-owner-upload-data.ipynb
  notebooks/tutorials/model-training/01-data-scientist-submit-code.ipynb
  notebooks/tutorials/model-training/02-data-owner-review-approve-code.ipynb
  notebooks/tutorials/model-training/03-data-scientist-download-results.ipynb
  notebooks/tutorials/model-training/mnist_dataset.py
  packages/syft/PYPI.md
  packages/syft/setup.cfg
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/serde/array.py
  packages/syft/src/syft/serde/third_party.py
  packages/syft/src/syft/util/jax_settings.py
Labels: Yellow Team

#8825 Deprecate Action Graph Service
  .pre-commit-config.yaml
  notebooks/tutorials/data-scientist/04-action-graph.ipynb
  notebooks/tutorials/data-scientist/04-syft-functions.ipynb
  notebooks/tutorials/data-scientist/05-messaging-and-requests.ipynb
  notebooks/tutorials/data-scientist/06-custom-policies.ipynb
  packages/syft/setup.cfg
  packages/syft/src/syft/serde/third_party.py
  packages/syft/src/syft/service/action/action_graph.py
  packages/syft/src/syft/service/action/action_graph_service.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/action_graph/__init__.py
  packages/syft/tests/syft/action_graph/action_graph_serde_test.py
  packages/syft/tests/syft/action_graph/action_graph_service_test.py
  packages/syft/tests/syft/action_graph/action_graph_test.py
  packages/syft/tests/syft/action_graph/fixtures.py
Labels: Yellow Team

#8857 Warning message when DS tries to access private data
  packages/syft/src/syft/service/dataset/dataset.py
Labels: Yellow Team

#8802 Add support for submitting a prebuilt image
  .pre-commit-config.yaml
  notebooks/admin/Custom API + Custom Worker.ipynb
  notebooks/api/0.8/10-container-images.ipynb
  notebooks/api/0.8/11-container-images-k8s.ipynb
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/custom_worker/runner_k8s.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_image_stash.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/tests/syft/worker_pool/worker_pool_service_test.py
  packages/syft/tests/syft/worker_pool/worker_test.py
  tests/integration/container_workload/pool_image_test.py
Labels: Yellow Team

#8855 rename new_project.send() to new_project.start()
  notebooks/api/0.8/01-submit-code.ipynb
Labels: Type: Documentation :books:

#8829 Use autosplat for settings update. Add docstring to Update service
  packages/syft/src/syft/service/service.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/tests/syft/settings/settings_service_test.py
  packages/syft/tests/syft/users/user_service_test.py
Labels: Blue Team

#8780 [helm] add config options for proxy/registry, and add an optional k8s ingress alternative to traefik
  packages/grid/helm/syft/templates/global/ingress.yaml
  packages/grid/helm/syft/templates/proxy/proxy-configmap.yaml
  packages/grid/helm/syft/templates/proxy/proxy-deployment.yaml
  packages/grid/helm/syft/templates/proxy/proxy-service.yaml
  packages/grid/helm/syft/templates/registry/registry-service.yaml
  packages/grid/helm/syft/templates/registry/registry-statefulset.yaml
  packages/grid/helm/syft/values.yaml
Labels: Purple Team, 0.8.7

#8805 Documentation for development with k8s
  notebooks/tutorials/deployments/03-deploy-k8s-k3d.ipynb
  notebooks/tutorials/deployments/07-deploy-devspace.ipynb
Labels: Purple Team, 0.8.7

#8843 Fix settings update for side type
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/settings/settings_service.py
Labels: Red Team, 0.8.7

#8860 feat: make eager execution optional, disabled by default
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/plan.py
  packages/syft/src/syft/service/metadata/metadata_service.py
  packages/syft/src/syft/service/metadata/node_metadata.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/tests/syft/action_test.py
  packages/syft/tests/syft/eager_test.py
  packages/syft/tests/syft/service/action/action_object_test.py
Labels: Red Team
