Repository OpenMined/PySyft, pull requests merged in 2024-06, with the labels that each got.

#8686 Transformers from 4.39.3 to 4.41.2, Pandas from 2.2.1 to 2.2.2, Matplotlib from 3.8.3 to 3.9.0, Uvicorn from 0.27.1 to 0.30.0, Fastapi from 0.110.0 to 0.111.0, and Typing_extensions from 4.10.0 to 4.12.0
  packages/syft/setup.cfg
Labels: Awaiting Response, 0.8.7

#8853 Rename args in some API endpoints to be more consistent
  notebooks/admin/Custom API + Custom Worker.ipynb
  notebooks/api/0.8/10-container-images.ipynb
  notebooks/api/0.8/11-container-images-k8s.ipynb
  packages/syft/src/syft/custom_worker/runner_k8s.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/tests/syft/worker_pool/worker_test.py
  tests/integration/container_workload/pool_image_test.py
Labels: Yellow Team

#8851 Fix concurrency issue with NodePeer update
  packages/syft/src/syft/client/registry.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/utils.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/service.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/store/sqlite_document_store.py
  tests/integration/local/gateway_local_test.py
  tests/integration/network/gateway_test.py
  tox.ini
Labels: Yellow Team, 0.8.7

#8884 Add ability to pass pod Annotations and Labels during Worker Pool Launch
  notebooks/api/0.8/11-container-images-k8s.ipynb
  packages/grid/helm/examples/azure/azure.high.yaml
  packages/grid/helm/syft/templates/backend/backend-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  packages/grid/helm/values.dev.high.yaml
  packages/grid/helm/values.dev.low.yaml
  packages/grid/helm/values.dev.yaml
  packages/syft/src/syft/custom_worker/runner_k8s.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
Labels: Purple Team, Product Review

#8871 Adding resource constraint notes to main README
  README.md
Labels: Purple Team

#8894 [ux] fix tqdm prints multiple lines when `client.upload_dataset`
  packages/syft/src/syft/client/domain_client.py
Labels: Yellow Team

#8895 ci: fix setup-python action by pinning python to 3.12.3
  .github/workflows/cd-docs.yml
  .github/workflows/cd-post-release-tests.yml
  .github/workflows/cd-syft-dev.yml
  .github/workflows/cd-syft.yml
  .github/workflows/cd-syftcli.yml
  .github/workflows/container-scan.yml
  .github/workflows/e2e-tests-notebook.yml
  .github/workflows/post-merge-tasks.yml
  .github/workflows/pr-tests-frontend.yml
  .github/workflows/pr-tests-linting.yml
  .github/workflows/pr-tests-stack.yml
  .github/workflows/pr-tests-syft.yml
Labels: Red Team

#8910 Fix sync dependencies direction
  packages/syft/src/syft/client/syncing.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/resolve_widget.py
  packages/syft/tests/syft/service/sync/sync_resolve_single_test.py
Labels: Red Team

#8896 fix mongo issues
  notebooks/api/0.8/04-pytorch-example.ipynb
  notebooks/api/0.8/05-custom-policy.ipynb
  notebooks/api/0.8/10-container-images.ipynb
  notebooks/api/0.8/11-container-images-k8s.ipynb
  notebooks/api/0.8/12-custom-api-endpoint.ipynb
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/api/api_service.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/enclave/enclave_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/types/twin_object.py
  packages/syft/tests/syft/action_test.py
  packages/syft/tests/syft/dataset/fixtures.py
  packages/syft/tests/syft/eager_test.py
  packages/syft/tests/syft/request/request_code_accept_deny_test.py
  packages/syft/tests/syft/service/action/action_object_test.py
  packages/syft/tests/syft/service/action/action_service_test.py
  tests/integration/container_workload/pool_image_test.py
Labels: Red Team, 0.8.7

#8866 [bugfix] Add error handlings for `Job.wait()`
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/queue/queue.py
  packages/syft/tests/syft/service/sync/sync_resolve_single_test.py
  tests/integration/local/twin_api_sync_test.py
Labels: Yellow Team, 0.8.7, Product Review

#8921 Suport more data types for data uploading
  packages/syft/src/syft/client/domain_client.py
  packages/syft/tests/syft/service/dataset/dataset_service_test.py
Labels: Yellow Team

#8950 bump uv and set pip version
  .github/workflows/cd-docs.yml
  .github/workflows/cd-post-release-tests.yml
  .github/workflows/cd-syft-dev.yml
  .github/workflows/cd-syft.yml
  .github/workflows/cd-syftcli.yml
  .github/workflows/e2e-tests-notebook.yml
  .github/workflows/pr-tests-frontend.yml
  .github/workflows/pr-tests-helm-lint.yml
  .github/workflows/pr-tests-helm-upgrade.yml
  .github/workflows/pr-tests-linting.yml
  .github/workflows/pr-tests-stack.yml
  .github/workflows/pr-tests-syft.yml
Labels: Red Team

#8948 sync supports updating TwinAPIEndpoints
  packages/syft/src/syft/service/api/api_service.py
  packages/syft/src/syft/service/sync/sync_service.py
  tests/integration/local/twin_api_sync_test.py
Labels: Red Team

#8944 Get metadata via connection instead of logging in as guest
  packages/syft/src/syft/service/enclave/enclave.py
Labels: Purple Team, Enclave

#8936 Function factories demo
  notebooks/api/0.8/02-review-code-and-approve.ipynb
  notebooks/api/0.8/05-custom-policy.ipynb
  notebooks/scenarios/bigquery/.gitignore
  packages/grid/backend/backend.dockerfile
  packages/syft/setup.cfg
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/api/api.py
  packages/syft/src/syft/service/api/api_service.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/queue/queue.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/src/syft/service/request/request_stash.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/store/sqlite_document_store.py
  tox.ini
Labels: Red Team

#8945 Make UserCode share UID in DistributedProject
  packages/syft/src/syft/service/enclave/enclave_service.py
  packages/syft/src/syft/service/project/distributed_project.py
Labels: Purple Team, Enclave

#8939 Distributed project result refactor (check all parties get result)
  packages/syft/src/syft/service/enclave/enclave_service.py
  packages/syft/src/syft/service/project/distributed_project.py
Labels: Purple Team, Enclave

#8960 Use transform to convert UserCode to SubmitUsercode in EnclaveService.setup_enclave_for_code_execution
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/enclave/enclave_service.py
Labels: Purple Team, Enclave

#8943 Create EnclaveInstance using validators
  packages/syft/src/syft/service/enclave/enclave.py
  packages/syft/src/syft/service/enclave/enclave_service.py
Labels: Purple Team, Enclave

#8973 Update distributed project to use updated call args for enclave service.
  packages/syft/src/syft/service/project/distributed_project.py
Labels: Purple Team, Enclave

#8972 Check that code status is approved before requesting against enclave client
  packages/syft/src/syft/service/enclave/enclave_service.py
Labels: Purple Team, Enclave

#8942 request existing code
  packages/syft/src/syft/service/api/api_service.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/syft/users/user_code_test.py
Labels: Red Team

#8953 Enclave authentication and authorization management
  packages/syft/src/syft/service/enclave/enclave.py
  packages/syft/src/syft/service/enclave/enclave_service.py
Labels: Purple Team, Enclave

#8976 Make code hash specific to user
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/tests/syft/users/user_code_test.py
Labels: Red Team

#8890 Add node description field on node metadata
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/src/syft/util/schema.py
Labels: 0.8.7, Product Review

#8845 Proper exceptions for SyftResponseMessage
  packages/syft/src/syft/service/response.py
Labels: Red Team, 0.8.7

#8979 Split EnclaveService into DomainEnclaveService and EnclaveService
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/enclave/domain_enclave_service.py
  packages/syft/src/syft/service/enclave/enclave_service.py
  packages/syft/src/syft/service/enclave/enclave_stash.py
Labels: Purple Team, Enclave

#8980 Add distributed project ID that's shared with client projects
  packages/syft/src/syft/service/project/distributed_project.py
Labels: Purple Team, Enclave

#8978 Add async job flow for code execution in Enclaves
  notebooks/experimental/enclaves/03-ds-execute-code.ipynb
  packages/syft/src/syft/service/enclave/enclave_service.py
Labels: Purple Team, Enclave

#8632 Added initial prototype for rathole
  notebooks/Experimental/Network.ipynb
  packages/grid/backend/grid/core/config.py
  packages/grid/default.env
  packages/grid/devspace.yaml
  packages/grid/helm/examples/dev/base.yaml
  packages/grid/helm/examples/dev/domain.tunnel.yaml
  packages/grid/helm/examples/dev/enclave.yaml
  packages/grid/helm/examples/dev/gateway.yaml
  packages/grid/helm/syft/templates/backend/backend-service-account.yaml
  packages/grid/helm/syft/templates/backend/backend-statefulset.yaml
  packages/grid/helm/syft/templates/proxy/proxy-configmap.yaml
  packages/grid/helm/syft/templates/proxy/proxy-deployment.yaml
  packages/grid/helm/syft/templates/rathole/rathole-configmap.yaml
  packages/grid/helm/syft/templates/rathole/rathole-service.yaml
  packages/grid/helm/syft/templates/rathole/rathole-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  packages/grid/helm/values.dev.high.yaml
  packages/grid/helm/values.dev.yaml
  packages/grid/rathole/rathole.dockerfile
  packages/grid/rathole/start.sh
  packages/grid/traefik/docker/dynamic.yml
  packages/syft/setup.cfg
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/connection.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/custom_worker/k8s.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/node/routes.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/network/association_request.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/rathole.py
  packages/syft/src/syft/service/network/rathole_config_builder.py
  packages/syft/src/syft/service/network/rathole_toml.py
  packages/syft/src/syft/service/network/reverse_tunnel_service.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/store/blob_storage/seaweedfs.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/types/grid_url.py
  packages/syft/src/syft/util/util.py
  tests/integration/network/gateway_test.py
  tox.ini
Labels: Yellow Team, 0.8.7
