Repository OpenMined/PySyft, pull requests merged in 2024-01, with the labels that each got.

#8344 Ability to Queue Messages to different containers
  notebooks/Experimental/Rasswanth/Queue_Experimentation.ipynb
  notebooks/Experimental/Shubham/ServiceBaseWorker.ipynb
  notebooks/Experimental/Shubham/ServiceBasedQueue.ipynb
  notebooks/api/0.8/10-container-images.ipynb
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/core/node.py
  packages/grid/backend/worker_cpu.dockerfile
  packages/grid/default.env
  packages/grid/docker-compose.yml
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/orchestra.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/node/server.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/queue/base_queue.py
  packages/syft/src/syft/service/queue/queue.py
  packages/syft/src/syft/service/queue/queue_stash.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/service/user/user_stash.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_image_stash.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/src/syft/service/worker/worker_pool_stash.py
  packages/syft/src/syft/service/worker/worker_service.py
  packages/syft/src/syft/service/worker/worker_stash.py
  packages/syft/src/syft/util/util.py
  packages/syft/tests/syft/stores/queue_stash_test.py
  packages/syft/tests/syft/zmq_queue_test.py
Labels: Yellow Team, 0.8.4

#8369 add shutdown event to stop the worker on uvicorn reload
  packages/grid/backend/grid/core/node.py
  packages/grid/backend/grid/main.py
  packages/syft/src/syft/service/queue/zmq_queue.py
Labels: Yellow Team, 0.8.4

#8337 Adding `__repr__` for container workload classes
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/custom_worker/config.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/src/syft/service/worker/worker_service.py
Labels: Yellow Team, 0.8.4

#8370 Syft Image Registry
  docs/requirements.txt
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/custom_worker/builder.py
  packages/syft/src/syft/custom_worker/config.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/worker/image_identifier.py
  packages/syft/src/syft/service/worker/image_registry.py
  packages/syft/src/syft/service/worker/image_registry_service.py
  packages/syft/src/syft/service/worker/image_registry_stash.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
Labels: Purple Team

#8308 Fix dataset and asset default values
  packages/syft/src/syft/service/dataset/dataset.py
Labels: Red Team

#8379 Fix image id and worker pool list
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/blob_storage/service.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/src/syft/types/blob_storage.py
Labels: Type: Bug :bug:, 0.8.4

#8384 Syft Workers & Registry Tests
  notebooks/api/0.8/10-container-images.ipynb
  packages/grid/docker-compose.yml
  packages/syft/src/syft/custom_worker/builder.py
  packages/syft/src/syft/service/worker/image_identifier.py
  packages/syft/src/syft/service/worker/image_registry.py
  packages/syft/src/syft/service/worker/image_registry_service.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/tests/syft/worker_image/image_identifier_test.py
  tox.ini
Labels: Purple Team

#8380 Fix bugs in Default Worker Pool Spinning
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image_stash.py
Labels: Yellow Team, 0.8.4

#8385 fix multiple workers spinning up on hot reload
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
Labels: Type: Bug :bug:, Yellow Team

#8376 Worker Pool to SyftFunction Integration
  notebooks/api/0.8/10-container-images.ipynb
  packages/grid/docker-compose.yml
  packages/syft/src/syft/custom_worker/builder.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/src/syft/util/util.py
  packages/syft/tests/syft/syft_functions/syft_function_test.py
  tox.ini
Labels: Yellow Team, 0.8.4

#8388 bugfix: fix `SyftWorkerPoolService.filter_by_image_id` not working
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/src/syft/service/worker/worker_pool_stash.py
  packages/syft/tests/syft/stores/queue_stash_test.py
Labels: Yellow Team

#8396 [UX] Rename Container Workload Services
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
Labels: Yellow Team

#8397 Move `worker_pool_service.get_worker` to `worker_service.get`
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/src/syft/service/worker/worker_service.py
  packages/syft/src/syft/store/document_store.py
Labels: Yellow Team, 0.8.4

#8405 Clean up worker_pool service
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/src/syft/service/worker/worker_service.py
Labels: Yellow Team, 0.8.4

#8404 [syft] fix: remove extra two div tags from custom_code
  packages/syft/src/syft/util/notebook_ui/notebook_addons.py
Labels: Green Team

#8387 Local execution
  notebooks/api/0.8/00-load-data.ipynb
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/04-jax-example.ipynb
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/code/utils.py
  packages/syft/tests/syft/users/local_execution_test.py
  packages/syft/tests/syft/users/user_code_test.py
Labels: Red Team

#8377 syncing l0
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/job/job_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/syft/request/request_multiple_nodes_test.py
Labels: Red Team, 0.8.5

#8398 DS/DO Flow for Request/Approve CustomImage
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/custom_worker/builder.py
  packages/syft/src/syft/custom_worker/config.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/context.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/request/request_code_accept_deny_test.py
  packages/syft/tests/syft/worker_pool/__init__.py
  packages/syft/tests/syft/worker_pool/worker_pool_service_test.py
Labels: Yellow Team, 0.8.4

#8410 Allow optional description for DockerWorkerConfig
  packages/syft/src/syft/custom_worker/config.py
  packages/syft/tests/syft/custom_worker/config_test.py
Labels: Yellow Team, 0.8.4

#8407 remove job v4, add new schema to job v3
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/types/syft_object.py
Labels: Red Team

#8400 [UX] Shorthand for Worker Logs
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/tests/syft/worker_pool/worker_test.py
Labels: Yellow Team, 0.8.4

#8199 ADD script to save AKS credentials in 1password
  scripts/load_kube_credentials.sh
  scripts/save_kube_credentials.sh
Labels: Blue Team, 0.8.4

#8399 Update Consume State Health
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/queue/queue.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/service/worker/worker_stash.py
  packages/syft/tests/syft/zmq_queue_test.py
Labels: Purple Team, 0.8.4

#8414 Cw minor fixes
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/tests/syft/syft_functions/syft_function_test.py
Labels: Yellow Team, 0.8.4

#8392 Fix job.wait() api to allow it to wait for subjobs
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/tests/syft/syft_functions/syft_function_test.py
Labels: Blue Team, 0.8.4

#8413 Execute usercode on mock data
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/syft/syft_functions/syft_function_test.py
  packages/syft/tests/syft/users/user_code_test.py
Labels: Red Team

#8412 Tests for container workload services using container stack nodes
  .github/workflows/pr-tests-stack.yml
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/tests/syft/custom_worker/config_test.py
  tests/integration/conftest.py
  tests/integration/container_workload/pool_image_test.py
  tox.ini
Labels: Yellow Team, 0.8.4

#8420 Fix orchestra
  packages/grid/backend/grid/start.sh
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/orchestra.py
Labels: Type: Bug :bug:, 0.8.4

#8416 Fix kubernetes dev workflows
  packages/grid/devspace.yaml
  tox.ini
Labels: Purple Team, 0.8.4

#8391 Improve UX for file upload
  notebooks/api/0.8/09-blob-storage.ipynb
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_data_empty.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/store/blob_storage/__init__.py
  packages/syft/src/syft/store/blob_storage/on_disk.py
  packages/syft/src/syft/types/blob_storage.py
  packages/syft/tests/syft/blob_storage/blob_storage_test.py
  tests/integration/container_workload/pool_image_test.py
Labels: Red Team, 0.8.4

#8417 Kubernetes custom worker builder
  notebooks/api/0.8/01-submit-code.ipynb
  notebooks/api/0.8/10-container-images.ipynb
  packages/grid/backend/backend.dockerfile
  packages/grid/devspace.yaml
  packages/grid/helm/syft/templates/backend-service-account.yaml
  packages/grid/helm/syft/templates/backend-service.yaml
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/grid/helm/syft/templates/seaweedfs-statefulset.yaml
  packages/grid/helm/syft/templates/worker-builds-pvc.yaml
  packages/grid/helm/syft/values.yaml
  packages/syft/setup.cfg
  packages/syft/src/syft/custom_worker/builder.py
  packages/syft/src/syft/custom_worker/builder_docker.py
  packages/syft/src/syft/custom_worker/builder_k8s.py
  packages/syft/src/syft/custom_worker/builder_types.py
  packages/syft/src/syft/custom_worker/config.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/service/worker/utils.py
Labels: Purple Team, 0.8.4

#8432 Fix Consumer being detached for long time
  packages/syft/src/syft/service/queue/zmq_queue.py
Labels: Yellow Team, 0.8.4

#8425 Kubernetes-based worker pool
  .github/workflows/pr-tests-stack.yml
  notebooks/api/0.8/11-container-images-k8s.ipynb
  packages/grid/backend/grid/logger/config.py
  packages/grid/devspace.yaml
  packages/grid/helm/syft/templates/backend-service-account.yaml
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/syft/src/syft/custom_worker/builder.py
  packages/syft/src/syft/custom_worker/builder_docker.py
  packages/syft/src/syft/custom_worker/builder_k8s.py
  packages/syft/src/syft/custom_worker/builder_types.py
  packages/syft/src/syft/custom_worker/k8s.py
  packages/syft/src/syft/custom_worker/runner_k8s.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/src/syft/service/worker/worker_image_stash.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  packages/syft/src/syft/service/worker/worker_service.py
  packages/syft/src/syft/types/uid.py
  tests/integration/container_workload/pool_image_test.py
  tox.ini
Labels: Purple Team, 0.8.4
