Repository OpenMined/PySyft, pull requests merged in 2024-04, with the labels that each got.

#8642 Add Empty annotation during class creation for subclasses of PartialModelMetaclass
  packages/syft/src/syft/protocol/data_protocol.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/protocol/releases/0.8.5.post1.json
  packages/syft/src/syft/service/action/action_graph.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/src/syft/types/syft_metaclass.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/action_graph/action_graph_test.py
  packages/syft/tests/syft/settings/settings_service_test.py
  packages/syft/tests/syft/stores/base_stash_test.py
  packages/syft/tests/syft/users/user_service_test.py
  packages/syft/tests/syft/users/user_test.py
Labels: 0.8.5

#8644 Revert protocol version 4
  packages/syft/src/syft/protocol/data_protocol.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/protocol/releases/0.8.5.post1.json
  packages/syft/src/syft/service/action/action_graph.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/types/syft_metaclass.py
  packages/syft/src/syft/types/syft_object.py
Labels: 0.8.5

#8645 Cleanup SEAWEED_VERSION
  .github/workflows/cd-syft-dev.yml
  .github/workflows/cd-syft.yml
  .github/workflows/container-scan.yml
  packages/grid/default.env
  packages/grid/devspace.yaml
  packages/grid/docker-compose.build.yml
  packages/grid/podman/podman-kube/podman-syft-kube-config.yaml
  packages/grid/seaweedfs/seaweedfs.dockerfile
  scripts/build_images.sh
Labels: Black Team

#8568 Test Network Functionalities and Fix Related Bugs
  notebooks/api/0.8/00-load-data.ipynb
  packages/hagrid/hagrid/cli.py
  packages/syft/src/syft/client/registry.py
  packages/syft/src/syft/client/search.py
  packages/syft/src/syft/service/dataset/dataset_service.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  tests/integration/network/gateway_test.py
Labels: Yellow Team, 0.8.7

#8641 Fix Custom Policies
  notebooks/api/0.8/05-custom-policy.ipynb
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/request/request.py
Labels: Red Team, 0.8.7

#8658 Syncing widget
  packages/syft/setup.cfg
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/client/enclave_client.py
  packages/syft/src/syft/client/gateway_client.py
  packages/syft/src/syft/client/sync_decision.py
  packages/syft/src/syft/client/syncing.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/resolve_widget.py
  packages/syft/src/syft/service/sync/sync_service.py
  packages/syft/src/syft/service/sync/sync_state.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/types/datetime.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/util/fonts.py
  packages/syft/src/syft/util/notebook_ui/notebook_addons.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/service/sync/sync_flow_test.py
Labels: Red Team, 0.8.7

#8593 Admin API
  notebooks/Experimental/k8s.ipynb
  notebooks/api/0.8/12-custom-api-endpoint.ipynb
  packages/grid/devspace.yaml
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/serde/third_party.py
  packages/syft/src/syft/service/action/action_endpoint.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/api/api.py
  packages/syft/src/syft/service/api/api_service.py
  packages/syft/src/syft/service/api/api_stash.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/policy/policy.py
Labels: Blue Team, 0.8.7

#8668 Fix widget repr for ActionObject
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/sync/diff_state.py
Labels: Red Team, 0.8.7

#8675 fix removal
  packages/syft/src/syft/service/code/user_code_service.py
Labels: Red Team

#8680 delete references of veilid from code 🗡️🩸
  .github/workflows/cd-syft-dev.yml
  .github/workflows/cd-syft.yml
  notebooks/Testing/Veilid/Alice-Python-Server.ipynb
  notebooks/Testing/Veilid/Alice-Veilid-Peer.ipynb
  notebooks/Testing/Veilid/Bob-Python-Server.ipynb
  notebooks/Testing/Veilid/Bob-Veilid-Peer.ipynb
  notebooks/Testing/Veilid/Large-Message-Testing.ipynb
  notebooks/Testing/Veilid/Veilid Route-Connection-Testing.ipynb
  notebooks/Testing/Veilid/Veilid-Connection-Test.ipynb
  notebooks/Testing/Veilid/Veilid-Gateway-Testing.ipynb
  notebooks/Testing/Veilid/utils.py
  packages/grid/default.env
  packages/grid/veilid/.dockerignore
  packages/grid/veilid/development.md
  packages/grid/veilid/requirements.txt
  packages/grid/veilid/server/constants.py
  packages/grid/veilid/server/main.py
  packages/grid/veilid/server/models.py
  packages/grid/veilid/server/utils.py
  packages/grid/veilid/server/veilid_callback.py
  packages/grid/veilid/server/veilid_connection.py
  packages/grid/veilid/server/veilid_connection_singleton.py
  packages/grid/veilid/server/veilid_core.py
  packages/grid/veilid/server/veilid_db.py
  packages/grid/veilid/server/veilid_streamer.excalidraw
  packages/grid/veilid/server/veilid_streamer.py
  packages/grid/veilid/start.sh
  packages/grid/veilid/veilid-server.conf
  packages/grid/veilid/veilid.dockerfile
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/enclave_client.py
  packages/syft/src/syft/client/protocol.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/service.py
  packages/syft/src/syft/service/veilid/__init__.py
  packages/syft/src/syft/service/veilid/veilid_endpoints.py
  packages/syft/src/syft/service/veilid/veilid_service.py
  tests/integration/veilid/gateway_veilid_test.py
  tox.ini
Labels: Yellow Team, 0.8.7

#8643 Attestation Side Car Container
  packages/grid/enclave/attestation/attestation.dockerfile
  packages/grid/enclave/attestation/enclave-development.md
  packages/grid/enclave/attestation/requirements.txt
  packages/grid/enclave/attestation/server/cpu_attestation.py
  packages/grid/enclave/attestation/server/gpu_attestation.py
  packages/grid/enclave/attestation/server/main.py
  packages/grid/enclave/attestation/server/models.py
  packages/grid/enclave/attestation/start.sh
Labels: Purple Team, 0.8.7

#8602 Peers Managing API
  notebooks/api/0.8/10-container-images.ipynb
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/client/enclave_client.py
  packages/syft/src/syft/client/gateway_client.py
  packages/syft/src/syft/client/registry.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/project/project_service.py
  tests/integration/network/gateway_test.py
Labels: Yellow Team, 0.8.7

#8677 Fix np bug
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/job/job_stash.py
Labels: Red Team

#8660 SeaweedFS Remote Mount
  .github/workflows/pr-tests-syft.yml
  packages/grid/backend/grid/core/node.py
  packages/grid/default.env
  packages/grid/docker-compose.yml
  packages/grid/helm/syft/templates/backend/backend-statefulset.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-configmap.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-mount-secret.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-secret.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-service.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  packages/grid/podman/podman-kube/podman-syft-kube-config.yaml
  packages/grid/seaweedfs/app.py
  packages/grid/seaweedfs/config/app/automount.yaml
  packages/grid/seaweedfs/config/app/logging.yaml
  packages/grid/seaweedfs/config/app/supervisord.conf
  packages/grid/seaweedfs/config/s3config.template.json
  packages/grid/seaweedfs/config/seaweedfs/filer.toml
  packages/grid/seaweedfs/config/seaweedfs/master.toml
  packages/grid/seaweedfs/filer.toml
  packages/grid/seaweedfs/requirements.dev.txt
  packages/grid/seaweedfs/requirements.txt
  packages/grid/seaweedfs/scripts/mount_command.sh
  packages/grid/seaweedfs/scripts/start.sh
  packages/grid/seaweedfs/scripts/wait_for_swfs.sh
  packages/grid/seaweedfs/seaweedfs.dockerfile
  packages/grid/seaweedfs/src/__init__.py
  packages/grid/seaweedfs/src/api.py
  packages/grid/seaweedfs/src/buckets.py
  packages/grid/seaweedfs/src/cli/automount.py
  packages/grid/seaweedfs/src/mount.py
  packages/grid/seaweedfs/src/mount_cmd.py
  packages/grid/seaweedfs/src/mount_options.py
  packages/grid/seaweedfs/src/util.py
  packages/grid/seaweedfs/start.sh
  packages/grid/seaweedfs/tests/__init__.py
  packages/grid/seaweedfs/tests/conftest.py
  packages/grid/seaweedfs/tests/mount_cmd_test.py
  packages/grid/seaweedfs/tests/mount_options_test.py
  packages/grid/seaweedfs/tests/mount_test.py
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/manifest_template.yml
  packages/syft/src/syft/node/node.py
  tox.ini
Labels: Black Team, 0.8.7

#8691 Add custom accordion widget
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/resolve_widget.py
  packages/syft/src/syft/util/notebook_ui/components/sync.py
  packages/syft/src/syft/util/notebook_ui/notebook_addons.py
Labels: Red Team

#8696 Sync TwinAPIEndpoint
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/api/api.py
  packages/syft/src/syft/service/api/api_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/resolve_widget.py
  packages/syft/src/syft/service/sync/sync_service.py
  packages/syft/src/syft/types/transforms.py
  packages/syft/tests/syft/service/sync/sync_flow_test.py
Labels: Red Team, 0.8.7

#8699 [syft] syft client + jupyter image
  .github/workflows/cd-syft-dev.yml
  .github/workflows/cd-syft.yml
  packages/grid/syft-client/syft.Dockerfile
  packages/grid/syft-client/syft.Dockerfile.dockerignore
Labels: Black Team, 0.8.7

#8710 Bugfix: Fix adding data subject not working if there is no member
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/data_subject/data_subject_service.py
  packages/syft/tests/syft/action_graph/action_graph_test.py
Labels: Yellow Team, 0.8.7

#8712 Add podLabels podAnnotations to Helm Charts
  .gitignore
  packages/grid/devspace.yaml
  packages/grid/helm/examples/azure/azure.high.yaml
  packages/grid/helm/examples/gcp/README.md
  packages/grid/helm/examples/gcp/gcp.high.yaml
  packages/grid/helm/examples/gcp/gcp.low.yaml
  packages/grid/helm/examples/gcp/gcp.nosync.yaml
  packages/grid/helm/syft/templates/backend/backend-statefulset.yaml
  packages/grid/helm/syft/templates/frontend/frontend-deployment.yaml
  packages/grid/helm/syft/templates/mongo/mongo-statefulset.yaml
  packages/grid/helm/syft/templates/proxy/proxy-deployment.yaml
  packages/grid/helm/syft/templates/registry/registry-statefulset.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  packages/grid/helm/values.dev.yaml
Labels: Black Team, 0.8.7

#8715 serializing large objs
  packages/syft/src/syft/serde/arrow.py
  packages/syft/src/syft/serde/recursive.py
  packages/syft/src/syft/serde/recursive_primitives.py
  packages/syft/src/syft/serde/serialize.py
  packages/syft/src/syft/serde/util.py
  packages/syft/src/syft/service/action/action_object.py
Labels: Red Team

#8693 Custom api and worker
  .github/workflows/cd-post-release-tests.yml
  .github/workflows/cd-syft-dev.yml
  .github/workflows/cd-syft.yml
  .github/workflows/pr-tests-stack.yml
  .pre-commit-config.yaml
  notebooks/admin/Custom API + Custom Worker.ipynb
  notebooks/api/0.8/12-custom-api-endpoint.ipynb
  packages/grid/default.env
  packages/grid/devspace.yaml
  packages/grid/frontend/frontend.dockerfile
  packages/grid/frontend/pnpm-lock.yaml
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/data_protocol.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/serde/recursive_primitives.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/api/api.py
  packages/syft/src/syft/service/api/api_service.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/queue/queue.py
  packages/syft/src/syft/service/queue/queue_stash.py
  packages/syft/src/syft/service/service.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/src/syft/service/settings/settings_stash.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/resolve_widget.py
  packages/syft/src/syft/types/uid.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/service/sync/sync_flow_test.py
  packages/syft/tests/syft/service/sync/sync_resolve_single_test.py
  packages/syft/tests/syft/settings/fixtures.py
  packages/syft/tests/syft/settings/settings_service_test.py
  packages/syft/tests/syft/settings/settings_stash_test.py
  packages/syft/tests/syft/stores/store_mocks_test.py
  packages/syft/tests/utils/mongodb.py
  tests/integration/local/twin_api_sync_test.py
  tox.ini
Labels: Blue Team, 0.8.7

#8729 Add service account to seaweedfs + fixes
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-service-account.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-statefulset.yaml
  packages/grid/seaweedfs/config/app/supervisord.conf
  packages/grid/seaweedfs/src/api.py
  packages/grid/seaweedfs/src/automount.py
  packages/grid/seaweedfs/src/cli/automount.py
  packages/grid/seaweedfs/src/mount.py
Labels: Black Team, 0.8.7

#8730 bump uv
  .github/workflows/cd-docs.yml
  .github/workflows/cd-post-release-tests.yml
  .github/workflows/cd-syft.yml
  .github/workflows/e2e-tests-notebook.yml
  .github/workflows/pr-tests-frontend.yml
  .github/workflows/pr-tests-linting.yml
  .github/workflows/pr-tests-stack-arm64.yml
  .github/workflows/pr-tests-stack-public.yml
  .github/workflows/pr-tests-stack.yml
  .github/workflows/pr-tests-syft.yml
Labels: Red Team

#8683 Improve jobs UX
  notebooks/real_jobs_ux.ipynb
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/job/html_template.py
  packages/syft/src/syft/service/job/job_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/log/log_service.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/util/notebook_ui/notebook_addons.py
Labels: Red Team

#8731 Helm deploy extra resources
  packages/grid/helm/examples/azure/azure.high.yaml
  packages/grid/helm/examples/gcp/gcp.high.yaml
  packages/grid/helm/examples/gcp/gcp.low.yaml
  packages/grid/helm/examples/gcp/gcp.nosync.yaml
  packages/grid/helm/syft/templates/global/extra-resources.yaml
  packages/grid/helm/syft/templates/proxy/proxy-service.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-mount-secret.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  packages/grid/seaweedfs/config/app/automount.yaml
  packages/grid/seaweedfs/config/app/supervisord.conf
  packages/grid/seaweedfs/scripts/start.sh
Labels: Black Team, 0.8.7

#8588 Association request for credential exchange
  notebooks/tutorials/enclaves/Enclave-single-notebook-DO-DS.ipynb
  notebooks/tutorials/enclaves/Enclave-single-notebook-high-low-network.ipynb
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/core/node.py
  packages/grid/default.env
  packages/grid/helm/syft/templates/backend/backend-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  packages/grid/helm/values.dev.yaml
  packages/hagrid/hagrid/cli.py
  packages/hagrid/hagrid/orchestra.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/node/server.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/network/association_request.py
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/src/syft/service/settings/settings.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/tests/syft/settings/fixtures.py
  packages/syft/tests/syft/settings/settings_service_test.py
  tests/integration/container_workload/pool_image_test.py
  tests/integration/local/gateway_local_test.py
  tests/integration/network/gateway_test.py
  tox.ini
Labels: Yellow Team, 0.8.7

#8733 feat: support GKE Workload Identity
  .github/workflows/pr-tests-frontend.yml
  .pre-commit-config.yaml
  notebooks/admin/Custom API + Custom Worker.ipynb
  packages/grid/helm/examples/gcp/gcp.high.yaml
  packages/grid/helm/syft/templates/backend/backend-statefulset.yaml
  packages/grid/helm/syft/templates/backend/builder-service-account.yaml
  packages/grid/helm/syft/values.yaml
  packages/syft/src/syft/custom_worker/builder_docker.py
  packages/syft/src/syft/custom_worker/builder_k8s.py
  packages/syft/src/syft/custom_worker/builder_types.py
  packages/syft/src/syft/custom_worker/k8s.py
  packages/syft/src/syft/custom_worker/runner_k8s.py
  packages/syft/src/syft/service/worker/image_registry.py
  packages/syft/tests/syft/worker_image/image_identifier_test.py
Labels: Black Team

#8750 Small fixes for SWFS & helm values
  packages/grid/helm/examples/gcp/gcp.high.yaml
  packages/grid/helm/examples/gcp/gcp.low.yaml
  packages/grid/helm/examples/gcp/gcp.nosync.yaml
  packages/grid/seaweedfs/src/mount.py
Labels: Black Team, 0.8.7

#8765 create Action for twinapi execution
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/action/action_object.py
Labels: Red Team

#8728 Blob data Streaming API
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/node/routes.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/store/blob_storage/__init__.py
  tests/integration/network/gateway_test.py
Labels: Yellow Team, 0.8.7

#8772 prevent running blocking with container
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/context.py
Labels: Red Team

#8767 add error handling for get workerpool
  packages/syft/src/syft/node/node.py
Labels: Red Team
