Repository OpenMined/PySyft, pull requests merged in 2024-03, with the labels that each got.

#8535 Upgrade result Library to version 0.16.0 and pycapnp
  docs/requirements.txt
  packages/syft/setup.cfg
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/kv_document_store.py
  packages/syft/src/syft/store/mongo_client.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/util/telemetry.py
Labels: Yellow Team, 0.8.5

#8538 Update typeguard and networkx
  packages/syft/setup.cfg
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/syft/dataset/dataset_stash_test.py
Labels: Yellow Team, 0.8.5

#8534 Eelco/decouple output history
  notebooks/node syncing/decouple_output_history_status.ipynb
  notebooks/node syncing/syncing.ipynb
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/client/syncing.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/code/status_service.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/enclave/enclave_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/output/output_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/sync_service.py
  packages/syft/src/syft/service/sync/sync_state.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/syft/service/sync/sync_flow_test.py
Labels: Red Team

#8529 Add helm upgrade test
  .github/workflows/pr-tests-helm-upgrade.yml
  packages/grid/scripts/helm_upgrade.sh
  tox.ini
Labels: 0.8.5, Black Team

#8537 Lint+Audit Helm charts
  .github/workflows/pr-tests-helm-lint.yml
  packages/grid/helm/kubelinter-config.yaml
  tox.ini
Labels: 0.8.5, Black Team

#8481 Python remote debugging in Kubernetes
  DEBUGGING.md
  packages/grid/backend/backend.dockerfile
  packages/grid/backend/grid/start.sh
  packages/grid/devspace.yaml
  packages/grid/helm/syft/templates/backend-service.yaml
  packages/grid/helm/syft/templates/backend-statefulset.yaml
Labels: 0.8.5, Black Team

#8531 [K8s] Parametrize tox task
  .github/workflows/pr-tests-stack.yml
  scripts/get_k8s_secret_ci.sh
  tox.ini
Labels: Purple Team, 0.8.5

#8475 Node syncing
  notebooks/api/0.8/03-data-scientist-download-result.ipynb
  notebooks/api/0.8/05-custom-policy.ipynb
  notebooks/tutorials/data-scientist/05-syft-functions.ipynb
  notebooks/tutorials/enclaves/Enclave-single-notebook-DO-DS.ipynb
  notebooks/tutorials/model-auditing/colab/01-user-log.ipynb
  notebooks/tutorials/model-training/00-data-owner-upload-data.ipynb
  notebooks/tutorials/model-training/01-data-scientist-submit-code.ipynb
  notebooks/tutorials/model-training/02-data-owner-review-approve-code.ipynb
  notebooks/tutorials/model-training/03-data-scientist-download-results.ipynb
  notebooks/tutorials/pandas-cookbook/01-reading-from-a-csv.ipynb
  notebooks/tutorials/pandas-cookbook/02-selecting-data-finding-common-complain.ipynb
  notebooks/tutorials/pandas-cookbook/03-which-borough-has-the-most-noise-complaints.ipynb
  notebooks/tutorials/pandas-cookbook/04-weekday-bike-most-groupby-aggregate.ipynb
  notebooks/tutorials/pandas-cookbook/05-combining-dataframes-scraping-weather-data.ipynb
  notebooks/tutorials/pandas-cookbook/06-string-operations-which-month-was-the-snowiest.ipynb
  notebooks/tutorials/pandas-cookbook/07-cleaning-up-messy-data.ipynb
  notebooks/tutorials/pandas-cookbook/08-how-to-deal-with-timestamps.ipynb
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/client/syncing.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_permissions.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/action/numpy.py
  packages/syft/src/syft/service/action/pandas.py
  packages/syft/src/syft/service/blob_storage/service.py
  packages/syft/src/syft/service/code/status_service.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/context.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/enclave/enclave_service.py
  packages/syft/src/syft/service/job/job_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/log/log.py
  packages/syft/src/syft/service/log/log_service.py
  packages/syft/src/syft/service/log/log_stash.py
  packages/syft/src/syft/service/output/output_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/project/project.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/src/syft/service/sync/__init__.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/sync_service.py
  packages/syft/src/syft/service/sync/sync_stash.py
  packages/syft/src/syft/service/sync/sync_state.py
  packages/syft/src/syft/store/kv_document_store.py
  packages/syft/src/syft/store/linked_obj.py
  packages/syft/src/syft/types/blob_storage.py
  packages/syft/src/syft/types/datetime.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/util/notebook_ui/notebook_addons.py
  packages/syft/tests/syft/request/request_code_accept_deny_test.py
  packages/syft/tests/syft/request/request_multiple_nodes_test.py
  packages/syft/tests/syft/service/sync/sync_flow_test.py
  packages/syft/tests/syft/users/user_code_test.py
Labels: Red Team, 0.8.5

#8533 Veilid Chunking
  notebooks/Testing/Veilid/Veilid-Streamer-Testing-Receiver.ipynb
  notebooks/Testing/Veilid/Veilid-Streamer-Testing-Sender.ipynb
  packages/grid/veilid/server/utils.py
  packages/grid/veilid/server/veilid_streamer.py
  packages/grid/veilid/veilid.py
Labels: Type: New Feature :heavy_plus_sign:, Purple Team

#8455 Email Notifications
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/core/node.py
  packages/grid/default.env
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  packages/hagrid/hagrid/cli.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/notification/email_templates.py
  packages/syft/src/syft/service/notification/notification_service.py
  packages/syft/src/syft/service/notification/notifications.py
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/notifier/notifier_enums.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/notifier/notifier_stash.py
  packages/syft/src/syft/service/notifier/smtp_client.py
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/tests/syft/blob_storage/blob_storage_test.py
Labels: Blue Team, 0.8.5

#8555 Bump versions and remove Redis and safetensors
  packages/syft/setup.cfg
  packages/syft/src/syft/store/dict_document_store.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/locks.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/store/sqlite_document_store.py
  packages/syft/tests/syft/locks_test.py
  packages/syft/tests/syft/stores/dict_document_store_test.py
  packages/syft/tests/syft/stores/sqlite_document_store_test.py
Labels: Yellow Team, 0.8.5

#8429 refactor: use syft_object to get data from SyftObjectRetrieval
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/store/blob_storage/__init__.py
  packages/syft/src/syft/store/blob_storage/on_disk.py
Labels: Red Team, 0.8.5

#8395 ADD a notebook test for HELM mounted files in azure
  .github/workflows/pr-tests-stack.yml
  notebooks/helm/direct_azure.ipynb
  tests/integration/container_workload/blob_storage_test.py
  tox.ini
Labels: Type: Testing :test_tube:, Blue Team, 0.8.5

#8556 Storage permissions
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/client/registry.py
  packages/syft/src/syft/client/syncing.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/action_permissions.py
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/action/action_store.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/job/job_service.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/log/log.py
  packages/syft/src/syft/service/log/log_service.py
  packages/syft/src/syft/service/notification/notifications.py
  packages/syft/src/syft/service/notifier/notifier_stash.py
  packages/syft/src/syft/service/object_search/object_migration_state.py
  packages/syft/src/syft/service/output/output_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/settings/settings_stash.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/sync_service.py
  packages/syft/src/syft/service/sync/sync_stash.py
  packages/syft/src/syft/service/sync/sync_state.py
  packages/syft/src/syft/service/user/user_stash.py
  packages/syft/src/syft/service/worker/worker_image_stash.py
  packages/syft/src/syft/service/worker/worker_pool_stash.py
  packages/syft/src/syft/service/worker/worker_stash.py
  packages/syft/src/syft/store/dict_document_store.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/store/kv_document_store.py
  packages/syft/src/syft/store/mongo_document_store.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/src/syft/types/syncable_object.py
  packages/syft/tests/syft/service/sync/sync_flow_test.py
  packages/syft/tests/syft/stores/base_stash_test.py
  packages/syft/tests/syft/stores/kv_document_store_test.py
  packages/syft/tests/syft/stores/mongo_document_store_test.py
  packages/syft/tests/syft/stores/store_fixtures_test.py
  packages/syft/tests/syft/worker_test.py
Labels: Red Team, 0.8.5

#8526 Veilid Prototype Iteration 2
  .github/workflows/cd-syft-dev.yml
  .github/workflows/cd-syft.yml
  .github/workflows/pr-tests-stack.yml
  notebooks/Testing/Veilid/Alice-Python-Server.ipynb
  notebooks/Testing/Veilid/Bob-Python-Server.ipynb
  notebooks/Testing/Veilid/Veilid Route-Connection-Testing.ipynb
  notebooks/Testing/Veilid/Veilid-Connection-Test.ipynb
  notebooks/Testing/Veilid/Veilid-Gateway-Testing.ipynb
  packages/grid/default.env
  packages/grid/devspace.yaml
  packages/grid/helm/syft/templates/backend/backend-statefulset.yaml
  packages/grid/helm/syft/templates/veilid/veilid-deployment.yaml
  packages/grid/helm/syft/templates/veilid/veilid-service.yaml
  packages/grid/helm/syft/values.yaml
  packages/grid/veilid/development.md
  packages/grid/veilid/requirements.txt
  packages/grid/veilid/server/constants.py
  packages/grid/veilid/server/main.py
  packages/grid/veilid/server/models.py
  packages/grid/veilid/server/veilid_core.py
  packages/grid/veilid/server/veilid_db.py
  packages/grid/veilid/start.sh
  packages/grid/veilid/veilid-server.conf
  packages/grid/veilid/veilid.dockerfile
  packages/grid/veilid/veilid.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/client/enclave_client.py
  packages/syft/src/syft/client/protocol.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/service.py
  packages/syft/src/syft/service/veilid/__init__.py
  packages/syft/src/syft/service/veilid/veilid_endpoints.py
  packages/syft/src/syft/service/veilid/veilid_service.py
  scripts/k8s/delete_stack.sh
  scripts/k8s/launch_domain.sh
  scripts/k8s/launch_gateway.sh
  tests/integration/veilid/gateway_veilid_test.py
  tox.ini
Labels: Purple Team, 0.8.5

#8553 Fix unit tests
  .github/workflows/pr-tests-stack.yml
  .github/workflows/pr-tests-syft.yml
  .pre-commit-config.yaml
  packages/grid/backend/grid/core/config.py
  packages/grid/docker-compose.yml
  packages/hagrid/hagrid/cli.py
  packages/syft/setup.cfg
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_graph.py
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/action/plan.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/job/job_stash.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/queue/zmq_queue.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/store/document_store.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/action_graph/action_graph_test.py
  packages/syft/tests/syft/action_test.py
  packages/syft/tests/syft/dataset/dataset_stash_test.py
  packages/syft/tests/syft/eager_test.py
  packages/syft/tests/syft/locks_test.py
  packages/syft/tests/syft/request/request_stash_test.py
  packages/syft/tests/syft/serde/numpy_functions_test.py
  packages/syft/tests/syft/service/sync/sync_flow_test.py
  packages/syft/tests/syft/stores/dict_document_store_test.py
  packages/syft/tests/syft/stores/kv_document_store_test.py
  packages/syft/tests/syft/stores/mongo_document_store_test.py
  packages/syft/tests/syft/stores/queue_stash_test.py
  packages/syft/tests/syft/stores/sqlite_document_store_test.py
  packages/syft/tests/syft/stores/store_fixtures_test.py
  packages/syft/tests/syft/users/user_code_test.py
  packages/syft/tests/utils/custom_markers.py
  packages/syft/tests/utils/mongodb.py
  packages/syft/tests/utils/xdist_state.py
  tests/integration/conftest.py
  tests/integration/local/enclave_local_test.py
  tests/integration/local/gateway_local_test.py
  tests/integration/local/request_multiple_nodes_test.py
  tests/integration/local/syft_function_test.py
  tests/integration/network/gateway_test.py
  tests/integration/orchestra/orchestra_test.py
  tox.ini
Labels: 0.8.5, Black Team

#8580 Bump Frontend Default Resources Preset
  packages/grid/helm/syft/values.yaml
Labels: Purple Team, 0.8.5

#8570 fix warnings in dataset transform + privateattr check
  packages/syft/src/syft/service/action/action_object.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/notification/notifications.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/types/syft_object.py
Labels: Red Team, 0.8.5

#8582 Veilid Optimization Iteration 2
  notebooks/Testing/Veilid/Alice-Python-Server.ipynb
  notebooks/Testing/Veilid/Bob-Python-Server.ipynb
  notebooks/Testing/Veilid/Veilid-Gateway-Testing.ipynb
  packages/grid/veilid/server/main.py
  packages/grid/veilid/server/veilid_callback.py
  packages/grid/veilid/server/veilid_connection.py
  packages/grid/veilid/server/veilid_connection_singleton.py
  packages/grid/veilid/server/veilid_core.py
  packages/grid/veilid/veilid-server.conf
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/network/network_service.py
  packages/syft/src/syft/service/network/node_peer.py
  packages/syft/src/syft/service/network/routes.py
  packages/syft/src/syft/service/veilid/veilid_endpoints.py
  packages/syft/src/syft/service/veilid/veilid_service.py
  tests/integration/veilid/gateway_veilid_test.py
Labels: Purple Team, 0.8.5

#8569 Use `uv` in tox
  .github/workflows/cd-docs.yml
  .github/workflows/cd-syft.yml
  .github/workflows/pr-tests-enclave.yml
  .github/workflows/pr-tests-frontend.yml
  .github/workflows/pr-tests-linting.yml
  .github/workflows/pr-tests-stack-arm64.yml
  .github/workflows/pr-tests-stack-public.yml
  .github/workflows/pr-tests-stack.yml
  .github/workflows/pr-tests-syft.yml
  packages/syft/setup.cfg
  tox.ini
Labels: 0.8.6, Black Team

#8589 Fix syft.test.helm
  packages/syft/src/syft/protocol/protocol_version.json
  tox.ini
Labels: 0.8.5

#8590 Fix Helm Upgrade
  packages/grid/helm/syft/templates/_labels.tpl
  packages/grid/helm/syft/templates/backend/backend-statefulset.yaml
  packages/grid/helm/syft/templates/mongo/mongo-statefulset.yaml
  packages/grid/helm/syft/templates/registry/registry-statefulset.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-statefulset.yaml
Labels: 0.8.5

#8591 Veilid Improvements v3
  notebooks/Testing/Veilid/Alice-Python-Server.ipynb
  packages/grid/veilid/server/constants.py
  packages/grid/veilid/server/main.py
  packages/grid/veilid/server/veilid_core.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/protocol/protocol_version.json
Labels: Purple Team, 0.8.5

#8558 Veilid Chunking
  notebooks/Testing/Veilid/Large-Message-Testing.ipynb
  packages/grid/veilid/server/constants.py
  packages/grid/veilid/server/main.py
  packages/grid/veilid/server/models.py
  packages/grid/veilid/server/utils.py
  packages/grid/veilid/server/veilid_callback.py
  packages/grid/veilid/server/veilid_core.py
  packages/grid/veilid/server/veilid_streamer.excalidraw
  packages/grid/veilid/server/veilid_streamer.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/network/routes.py
  tests/integration/veilid/gateway_veilid_test.py
Labels: Purple Team, 0.8.6

#8598 Improve helm secrets template
  packages/grid/devspace.yaml
  packages/grid/helm/syft/templates/_secrets.tpl
  packages/grid/helm/syft/templates/backend/backend-secret.yaml
  packages/grid/helm/syft/templates/mongo/mongo-secret.yaml
  packages/grid/helm/syft/templates/seaweedfs/seaweedfs-secret.yaml
  packages/grid/helm/syft/templates/veilid/veilid-deployment.yaml
  packages/grid/helm/syft/templates/veilid/veilid-service.yaml
  packages/grid/helm/syft/values.yaml
  packages/grid/helm/values.dev.yaml
  packages/grid/veilid/start.sh
  tox.ini
Labels: 0.8.6, Black Team

#8596 Validate Input Policy and show info on user code caches
  notebooks/api/0.8/06-multiple-code-requests.ipynb
  notebooks/tutorials/hello-syft/01-hello-syft.ipynb
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/action/action_service.py
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/output/output_service.py
  packages/syft/src/syft/service/policy/policy.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/types/cache_object.py
  packages/syft/tests/syft/users/user_code_test.py
Labels: Type: Bug :bug:, 0.8.5

#8603 Syncing updated private objects
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/output/output_service.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/sync/diff_state.py
  packages/syft/src/syft/service/sync/sync_service.py
  packages/syft/src/syft/service/sync/sync_state.py
Labels: Red Team, 0.8.6
