Repository OpenMined/PySyft, pull requests merged in 2024-02, with the labels that each got.

#8443 [Container Workload] Fix k8s
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/grid/helm/syft/templates/grid-stack-ingress-ingress.yaml
  packages/grid/helm/syft/templates/grid-stack-ingress-tls-ingress.yaml
  packages/grid/helm/syft/values.yaml
Labels: Purple Team, 0.8.4

#8441 Fix DictTuple exception when invoking images.get_all()
  notebooks/api/0.8/10-container-images.ipynb
  notebooks/api/0.8/11-container-images-k8s.ipynb
  packages/syft/src/syft/custom_worker/config.py
  packages/syft/src/syft/service/worker/image_identifier.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_image.py
  packages/syft/src/syft/service/worker/worker_image_service.py
  packages/syft/tests/syft/custom_worker/config_test.py
Labels: Type: Bug :bug:, Purple Team, 0.8.4

#8444 Add pullImageSecrets for authenticated registries
  packages/grid/helm/syft/templates/backend-service-account.yaml
  packages/syft/src/syft/custom_worker/runner_k8s.py
  packages/syft/src/syft/service/request/request.py
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/src/syft/service/worker/image_registry.py
  packages/syft/src/syft/service/worker/image_registry_service.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
Labels: Purple Team, 0.8.4

#8434 Seaweed large file fix
  packages/grid/default.env
  packages/grid/seaweedfs/seaweedfs.dockerfile
  packages/hagrid/hagrid/cli.py
  packages/syft/src/syft/client/domain_client.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/store/blob_storage/seaweedfs.py
Labels: Red Team, 0.8.4

#8447 Fix kubernetes cloud deployment issues
  README.md
  notebooks/tutorials/data-engineer/11-installing-and-upgrading-via-helm.ipynb
  packages/grid/devspace.yaml
  packages/grid/helm/syft/templates/backend-service-account.yaml
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/grid/helm/syft/templates/frontend-deployment.yaml
  packages/grid/helm/syft/templates/grid-stack-ingress-ingress.yaml
  packages/grid/helm/syft/templates/grid-stack-ingress-tls-ingress.yaml
  packages/grid/helm/syft/templates/registry-service.yaml
  packages/grid/helm/syft/templates/registry-statefulset.yaml
  packages/grid/helm/syft/templates/worker-builds-pvc.yaml
  packages/grid/helm/syft/values.yaml
  packages/syft/PYPI.md
  packages/syft/setup.cfg
  packages/syft/src/syft/custom_worker/builder_k8s.py
  packages/syft/src/syft/custom_worker/k8s.py
  packages/syft/src/syft/custom_worker/runner_k8s.py
  packages/syft/src/syft/custom_worker/utils.py
  packages/syft/src/syft/service/worker/image_identifier.py
  packages/syft/src/syft/service/worker/image_registry.py
  packages/syft/src/syft/service/worker/utils.py
  scripts/build_images.sh
  tox.ini
Labels: Purple Team, 0.8.4

#8463 Output policy error handling fix
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/tests/syft/request/request_code_accept_deny_test.py
Labels: 0.8.4

#8461 Scale worker pool in kubernetes
  notebooks/api/0.8/11-container-images-k8s.ipynb
  packages/syft/src/syft/custom_worker/builder_docker.py
  packages/syft/src/syft/custom_worker/builder_k8s.py
  packages/syft/src/syft/custom_worker/builder_types.py
  packages/syft/src/syft/custom_worker/runner_k8s.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_pool_service.py
  tox.ini
Labels: Purple Team, 0.8.4

#8452 Freeze protocol version
  .github/workflows/cd-syft.yml
  packages/syft/src/syft/protocol/data_protocol.py
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/protocol/releases/0.8.2.json
  packages/syft/src/syft/protocol/releases/0.8.3.json
  packages/syft/tests/conftest.py
  packages/syft/tests/syft/migrations/protocol_communication_test.py
Labels: Yellow Team, 0.8.4

#8472 remove syft imports from Orchestra
  notebooks/api/0.8/11-container-images-k8s.ipynb
  packages/hagrid/hagrid/orchestra.py
  packages/hagrid/hagrid/util.py
  packages/syft/src/syft/__init__.py
  packages/syft/src/syft/abstract_node.py
  packages/syft/src/syft/node/node.py
  tox.ini
Labels: 0.8.4

#8458 [Refactor] Fixing mypy issues of `service/warnings.py`
  .pre-commit-config.yaml
  packages/syft/src/syft/service/warnings.py
Labels: Yellow Team, 0.8.5

#8464 [Refactor] Fixing mypy issues of `service/dataset`
  .pre-commit-config.yaml
  packages/syft/src/syft/serde/third_party.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/dataset/dataset_service.py
Labels: Yellow Team, 0.8.5

#8460 [Refactor] Fixing mypy issues of `service/user`
  .pre-commit-config.yaml
  packages/syft/src/syft/service/user/roles.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/user/user_roles.py
  packages/syft/src/syft/service/user/user_service.py
  packages/syft/src/syft/service/user/user_stash.py
Labels: Yellow Team, 0.8.5

#8469 fix: change k8s port to 5800
  notebooks/api/0.8/11-container-images-k8s.ipynb
  scripts/build_images.sh
  scripts/k8s-coredns-custom.yml
  tox.ini
Labels: 0.8.5, Black Team

#8486 Optimizing Release Process
  .github/workflows/cd-post-release-tests.yml
  .github/workflows/cd-syft.yml
  tox.ini
Labels: Purple Team

#8490 5 - ADD Notifier turn off service
  packages/syft/src/syft/service/notifier/notifier_service.py
Labels: Blue Team

#8489 4 - ADD Notifier turn_on service
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/notifier/smtp_client.py
Labels: Blue Team

#8487 2 - Add init notifier
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/notifier/notifier_stash.py
Labels: Blue Team

#8485 1 - Enable notifier Service
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/notifier/notifier_stash.py
  packages/syft/src/syft/service/notifier/smtp_client.py
Labels: Blue Team

#8497 ADD Hagrid/K8s email token flag
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/core/node.py
  packages/grid/default.env
  packages/grid/docker-compose.yml
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/hagrid/hagrid/cli.py
  packages/syft/src/syft/node/node.py
Labels: Blue Team

#8504 Integrate Notifier Service with Postmark
  packages/syft/src/syft/service/notification/notification_service.py
  packages/syft/src/syft/service/notification/notifications.py
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/notifier/notifier_enums.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/notifier/smtp_client.py
  packages/syft/src/syft/service/request/request_service.py
Labels: Blue Team

#8506 Enable notifications via settings api
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/settings/settings_service.py
Labels: Blue Team

#8473 [Release 0.8.4] update README with updated release version info
  README.md
Labels: 0.8.4

#8451 [Refactor] Fixing mypy issues (01)
  .pre-commit-config.yaml
  packages/syft/src/syft/client/api.py
  packages/syft/src/syft/img/base64.py
  packages/syft/src/syft/serde/recursive.py
  packages/syft/src/syft/service/dataset/dataset.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/worker/utils.py
  packages/syft/src/syft/service/worker/worker_pool.py
  packages/syft/src/syft/store/mongo_codecs.py
  packages/syft/src/syft/util/util.py
Labels: Yellow Team, 0.8.5

#8520 Check Invalid Email Token
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/notifier/smtp_client.py
Labels: Blue Team

#8522 Replace email_token -> username/password credentials
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/core/node.py
  packages/hagrid/hagrid/cli.py
  packages/syft/src/syft/client/client.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/notifier/notifier_stash.py
  packages/syft/src/syft/service/notifier/smtp_client.py
  packages/syft/src/syft/service/settings/settings_service.py
  packages/syft/src/syft/service/user/user_service.py
Labels: Blue Team

#8524 Add email templates
  packages/syft/src/syft/service/notification/email_templates.py
  packages/syft/src/syft/service/notification/notification_service.py
  packages/syft/src/syft/service/notification/notifications.py
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/notifier/smtp_client.py
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/src/syft/service/user/user_service.py
Labels: Blue Team

#8421 [WIP] Veilid Prototype
  notebooks/Experimental/Madhava/veilid_1.ipynb
  notebooks/Experimental/Madhava/veilid_2.ipynb
  notebooks/Testing/Veilid/Alice-Veilid-Peer.ipynb
  notebooks/Testing/Veilid/Bob-Veilid-Peer.ipynb
  notebooks/Testing/Veilid/utils.py
  packages/grid/veilid/requirements.txt
  packages/grid/veilid/start.sh
  packages/grid/veilid/veilid-server.conf
  packages/grid/veilid/veilid.dockerfile
  packages/grid/veilid/veilid.py
Labels: Purple Team, 0.8.5

#8527 ADD Email Sender Parameter
  packages/grid/backend/grid/core/config.py
  packages/grid/backend/grid/core/node.py
  packages/grid/default.env
  packages/grid/helm/syft/templates/backend-statefulset.yaml
  packages/grid/helm/syft/values.yaml
  packages/hagrid/hagrid/cli.py
  packages/syft/src/syft/node/node.py
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/settings/settings_service.py
Labels: Blue Team

#8525 Add email notification setting to User
  packages/syft/src/syft/service/notifier/notifier.py
  packages/syft/src/syft/service/notifier/notifier_service.py
  packages/syft/src/syft/service/notifier/notifier_stash.py
  packages/syft/src/syft/service/user/user.py
  packages/syft/src/syft/service/user/user_service.py
Labels: Blue Team

#8470 Removing nested_requests from UserCode
  packages/syft/src/syft/protocol/protocol_version.json
  packages/syft/src/syft/service/code/user_code.py
  packages/syft/src/syft/service/code/user_code_service.py
  packages/syft/src/syft/service/request/request_service.py
  packages/syft/src/syft/types/syft_object.py
  packages/syft/tests/syft/users/user_code_test.py
Labels: Red Team
